@import 'modules/vars';

$white: #FFFFFF;
$black: #000000;
$gray-border: #D9D9D9;
$navigation-border-blue: #9DC3E6;
$title-background: #a6a6a6;

.automation-log-link {
	display: none;
}

.automations-builder {
	width: 1180px !important;
}

.\_pendo-backdrop\_ {
	z-index: 9998 !important;
}

.\_pendo-badge\_ {
	z-index: 9997 !important;
}

.\_pendo-guide\_ {
	z-index: 9999 !important;
}

.automations-list {
	width: 100%;
	clear: both;

	.automations-list-card {
		position: relative;

		&.working:before {
			background-color: rgba(255, 255, 255, .7);
			width: 98%;
			height: 85%;
			position: absolute;
			top: 6px;
			content: "";
			z-index: 10;
		}
	}

	.header-wrapper {
		background-color: $gray-lighter;
		overflow: auto;

		> div {
			padding: .18em .18em 10px .18em;
			text-align: center;
			font-weight: 700;
			display: inline-block;
		}

		.sort-arrow-container {
			margin-bottom: 10px;
			outline: none;

			&:before {
				content: "\000020";
				display: block;
				height: 12px;
				margin: 0 -6px 4px -6px;
				font-size: 0;
				line-height: 0;
				text-align: center;
				background: $table-border-color no-repeat url(/images/analyst/icons/1x/sortarrow_unsorted.gif) 50% 50%;
			}

			&:hover {
				cursor: pointer;
			}

			&.sort-asc::before {
				background-image: url("/images/analyst/icons/1x/sortarrow_asc.gif");
			}

			&.sort-desc::before {
				background-image: url("/images/analyst/icons/1x/sortarrow_desc.gif");
			}
		}
	}

	.actions {
		width: 11%;
		margin-top: 9px;
	}

	.actions-edit {
		width: 7%;
		color: $brand-blue;
		font-size: 15px;
		text-align: right;
		outline: none;

		&:hover {
			cursor: pointer;
		}

		> i {
			padding-left: 10px;
			font-weight: 700;
			font-size: 26px;
		}
	}

	.if-action, .then-action {
		width: 6%;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}

	.automations-title {
		width: 21%;
	}

	.automations-trigger {
		width: 23%;
	}

	.automations-actions {
		width: 23%;
		padding: 0 15px;

		> ul {
			margin-left: 15px;

			li {
				font-family: "proxima-nova", Helvetica, Arial, sans-serif;
				list-style-type: square;
			}
		}
	}

	.content-wrapper {
		position: relative;
		-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.15), 5px 2px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.15), 5px 2px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.15), 5px 2px 5px 0px rgba(0,0,0,0.25);
		z-index: 5;

		.automations-list-card {
			padding: 15px 10px;
			border: 1px solid $gray-border;
		}

		.automations-list-card > div {
			display: inline-block;
			vertical-align: middle;

			.automation-delete {
				float: left;
				width: 25px;
				margin-right: 10px;
				text-align: center;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.footer-wrapper {
		height: 25px;
		width: 100%;
		background-color: $gray-lighter;
		z-index: 4;
	}
}

.automations-builder {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;

	.title-wrapper {
		background-color: $gray-lighter;
		display: inline-block;
		padding: 10px 5px;
		width: 100%;

		> .title {
			width: 15%;
			display: inline;
			padding: 0 5px;
		}

		> input {
			width: 25%;
			padding: 8px;
			border-radius: 8px;
		}
	}

	.builder-wrapper {
		width: 100%;
		overflow: auto;
		height: auto;
		position: relative;

		.builder-navigation {
			width: 29%;
			float: left;
			padding: 25px 10px 10px 25px;

			.builder-navigation-wrapper {
				position: relative;
				/*border-left: 2px solid $navigation-border-blue;*/
				/*Spec changed to no longer have the border extend beyond the last icon until after we support multiple actions...
                    this is a bit hacky to facilitate that spec change while maintaining the integrity of the future design.*/
				&:after {
					content: '';
					height: 78%;
					width: 2px;
					position: absolute;
					left: 0;
					top: 0;
					background-color: $navigation-border-blue;
					z-index: 1;
				}

				.builder-navigation-item {
					position: relative;
					min-height: 100px;
					outline: none;
					z-index: 2;

					&:hover {
						cursor: pointer;
					}

					&.selected {
						> .builder-icon {
							background-color: $brand-blue;
							color: $white;
						}

						> .builder-container .title, .builder-container .action ul li {
							color: $black;
						}
					}

					> .builder-container {
						padding-left: 30px;
						padding-top: 7px;

						.title {
							font-weight: 600;
							font-size: 16px;
							color: $title-background;
						}

						.action ul li {
							font-family: "proxima-nova", Helvetica, Arial, sans-serif;
							border-left: 2px solid $title-background;
							color: $title-background;
							padding-left: 10px;
							font-size: 13px;
							margin-top: 10px;
							line-height: 11px;
						}
					}
				}

				.builder-navigation-item > .builder-icon, .builder-navigation-add > .builder-icon {
					position: absolute;
					left: -18px;
					top: 0;
					background-color: $gray-lighter;
					border-radius: 50px;
					border: 1px solid $brand-blue;
					width: 35px;
					height: 35px;
					text-align: center;
					font-size: 15px;
					color: $brand-blue;

					> i {
						margin-top: 7px;
						font-size: 19px;
					}
				}

				.builder-navigation-add {
					position: relative;
					height: 25px;
					display: none;

					&:hover {
						cursor: pointer;

						> .builder-icon > i {
							color: $brand-blue;
						}
					}

					> .builder-icon {
						background-color: $white;
						border-color: $gray-lighter;
						height: 25px;
						width: 25px;
						bottom: 0;
						left: -14px;

						> i {
							color: $gray-lighter;
							font-size: 13px;
							margin-top: 6px;
						}
					}
				}
			}
		}

		.builder-content-wrapper {
			width: 71%;
			border-left: 1px solid $gray-lighter;
			padding: 25px 0 25px 25px;
			height: 100%;
			position: absolute;
			left: 28.7%;

			> .builder-content {
				display: none;

				&.active {
					display: block;
				}

				> .form-group {
					clear: both;

					> * {
						display: inline-block;
					}

					> .label {
						width: 25%;
						vertical-align: top;
					}

					> .styled-select {
						width: 50%;
					}

					> .automation-rules {
						width: 100%;
					}

					.eqcol {
						.chosen-single, input, select {
							width: 164px;
						}

						input {
							border: 1px;
							border-width: 1px;
							border-style: solid;
							border-color: $gray-head;
							-webkit-appearance: none;
							font-weight: 400;
							font-size: 13px;
							margin: 0;
							height: auto;
							box-shadow: none;
							-moz-box-shadow: none;
							-webkit-box-shadow: none;
							padding-left: 5px;
							min-height: 1.7em;
							box-sizing: border-box;
							vertical-align: top;
						}
					}
				}

				.sw-div-table-row.head > div {
					padding-left: 5px;
				}

				sw-expression.sw-div-table-row > div {
					padding: 5px 2px;
				}
			}
		}
	}
}
