@import "modules/vars";

// Print Styling //
.printreadonly {
    td {
        text-align: center;
    }

    .show-print:not(.ng-hide) {
        display: block !important;
        text-align: center;

        &.inline {
            display: inline !important;
        }
    }

    .hide-print, input[type='checkbox'],
    input[type='checkbox'] + label,
    input[type='checkbox']:checked + label {
        display: none !important;
    }

    .progress-tabs {
        border-top-color: $gray-light;

        td > label {
            background-color: $gray-light;
        }

        &:before {
            content: '';
            position: absolute;
            top: -5px;
            width: 485px;
            height: 35px;
            z-index: 3;
        }
    }

    .search-input {
        .input-search-group {
            border: none !important;

            td:nth-child(2), td:nth-child(3) {
                display: none;
                visibility: hidden;
            }

            .input-search {
                &:after {
                    content: none !important;
                }

                input {
                    text-align: center;
                    margin-left: 20px;
                }

                .form-control[disabled] {
                    background-color: transparent !important;
                    color: #3c3d3d !important;
                }
            }
        }
    }

    select:not(.exempt), .select-small:not(.exempt), .form-group .styled-select select.form-control:not(.exempt) {
        background-image: none;
    }

    .form-control,
    input,
    input.form-control,
    select:not(.exempt),
    select.form-control,
    textarea,
    .combobox,
    .chosen-single,
    .chzn-container-single .chzn-single,
    .customDropDownContainer,
    .form-control.combo-option-link,
    .form-group .styled-select select.form-control,
    .input-small,
    .chosen,
    .select-small:not(.exempt),
    button.ui-multiselect,
    span.calculated-field,
    table.customcombobox,
    .chosen-container-single .chosen-single,
    .chosen-container-active.chosen-with-drop .chosen-single,
    .chosen-container-multi .chosen-choices {
        border: 0;
        cursor: default;
    }

    .chosen-container-single {
        .chosen-single {
            background-image: none;
        }

        b, .chosen-drop {
            display: none;
        }
    }

    input.form-control[disabled], input.form-control[readonly], select[disabled], select[readonly] {
        background-color: #fff !important;
        color: $text-color !important;
    }

    a.sw-table-help-link {
        border: none;
        cursor: default;

        &:after {
            content: none;
        }
    }

    .btn,
    .button,
    .Button:not(.show-button),
    img[src$='x.png'],
    .accordian-trigger,
    .all-accordian-trigger,
    .add-document-row {
        display: none !important;
    }

    a:not(.no-print-style) {
        color: $text-color;
        text-decoration: none;
        outline: none;
        cursor: default;
    }

    .progress-tabs {
        &:before {
            content: '';
            position: absolute;
            top: 0;
        }
    }
}

// hide for print and angular ngHide
.hide-for-print {
  display: none !important;
}

.ng-hide, .data-ng-hide {
  display: none !important;
}

.center {
  text-align: center;
}

@media print {
  /*Reset Style*/
  * {
    overflow: visible !important;
    font-family: Helvetica, Arial, sans-serif !important;
  }
}
