/* ----| Billboard data - Comparison |---- */
.comparison-graph {
  display: table;
  display: block;
  width: 100%;
  height: 204px;
  margin: 15px 0 0 -2px;
  position: relative;
  list-style: none;

  .graph-bar {
    display: block;
    width: 22px;
    height: 204px;
    margin: 2px;
    position: relative;
    float: left;
    border-right: 1px solid #fff;

    &:hover, &:focus {
      .label-item {
        font-weight: bold;
        color: #4d4e50;

        // gray
     
      }

      .pin {
        margin: 0 0 -3px -3px;
        padding: 3px;
        background-color: #94c2ed;

        // light blue
        z-index: 1;
        opacity: 1;
      }

      .pco {
        background-color: #5091cd;

        // brand blue
        -webkit-box-shadow: 0 0 0 1px #fff;
        -moz-box-shadow: 0 0 0 1px #fff;
        -o-box-shadow: 0 0 0 1px #fff;
        box-shadow: 0 0 0 1px #fff;
        z-index: 2;
        opacity: 1;
      }

      .data-item-value {
        overflow: visible;
        text-align: right;
        text-indent: 0;
      }

      .data-item {
        overflow: visible;
        text-indent: 0;
      }
    }

    &:last-child {
      margin-right: 0;
      border-right: 0;
    }

    .label-item {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -20px;
      font-size: 11px;
      line-height: 12px;
      text-align: center;
      color: #bfbfc0;

      // light gray
   
    }

    .data-item {
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }

    .data-item-value {
      display: block;
      width: 50px;
      overflow: hidden;
      text-indent: -200%;
      text-shadow: 1px 1px 2px #fff;
      z-index: 5000;
    }

    .pco {
      background-color: #e35a2b;

      // orange
      -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
      -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
      -o-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
      z-index: 2;

      .data-item-value {
        position: absolute;
        right: 29px;
        top: 0;
        font-size: 18px;
        color: #4080bc;

        // blue
     
      }
    }

    .pin {
      background-color: #a6a6a7;

      // gray
      z-index: 1;

      .data-item-value {
        position: absolute;
        right: 32px;
        bottom: 0;
        font-size: 13px;
        color: #72a0cb;

        // blue gray
     
      }
    }
  }

  &.green {
    .graph-bar {
      .pin {
        .data-item-value {}
      }

      .pco {
        background-color: #70ad47;

        // green
        .data-item-value {}
      }

      &:hover, &:focus {
        .pin {
          background-color: #94c2ed;

          // light blue
       
        }

        .pco {
          background-color: #94c2ed;

          // light blue
       
        }
      }
    }
  }
}

.comparison-legend {
  display: block;
  width: 200px;
  position: absolute;
  left: 0;
  top: 136px;
  z-index: 10;

  p {
    padding: 0 0 5px 0;
    clear: both;
  }

  .legend-key {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }

  .legend-key-co {
    background-color: #e35a2b;

    // orange
 
  }

  .legend-key-in {
    background-color: #a6a6a7;

    // gray
 
  }

  .legend-label {
    font-size: 13px;
    line-height: 16px;
  }

  &.green {
    .legend-key-co {
      background-color: #70ad47;

      // green
   
    }
  }
}

.comparison-graph:hover .data-item, .comparison-graph:focus .data-item {
  opacity: 0.35;
}

.comparison-graph:hover .pco, .comparison-graph:focus .pco {
  z-index: 5;
}

.comparison-graph:hover .pin, .comparison-graph:focus .pin {
  z-index: 4;
}

.dv1 {
  height: 5%;
}

.dv2 {
  height: 10%;
}

.dv3 {
  height: 15%;
}

.dv4 {
  height: 20%;
}

.dv5 {
  height: 25%;
}

.dv6 {
  height: 30%;
}

.dv7 {
  height: 35%;
}

.dv8 {
  height: 40%;
}

.dv9 {
  height: 45%;
}

.dv10 {
  height: 50%;
}

.dv11 {
  height: 55%;
}

.dv12 {
  height: 60%;
}

.dv13 {
  height: 65%;
}

.dv14 {
  height: 70%;
}

.dv15 {
  height: 75%;
}

.dv16 {
  height: 80%;
}

.dv17 {
  height: 85%;
}

.dv18 {
  height: 90%;
}

.dv19 {
  height: 95%;
}

.dv20 {
  height: 100%;
}
