@import 'modules/vars';

.sba {
	.sba-loan-table {
		width: 600px;
		border-collapse: collapse;

		tr {
			vertical-align: middle;

			td {
				text-align: center;
			}
		}

		.sba-loan-table-data-link {
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	.sba-business-info, .sba-person-info {
		margin-top: -20px;
	}

	.sba-add-contact-container {
		.left-table {
			margin-left: 0px;
		}
	}

	.swtable-container {
		width: inherit;
	}

	.swtable {
		.heading-row, .header-row {
			height: 29px;

			th {
				vertical-align: inherit;
				text-align: inherit;
			}
		}

		tr {
			border: none;
		}

		td {
			text-align: left;
		}

		input[type=text], select {
			height: 27px;
		}

		.chosen-container {
			width: 100% !important;

			.chosen-choices {
				border-color: #d5d5d5;
				background-image: url(/images/analyst/icons/1x/down-arrow.png);
				background-size: 10px 5px;
				background-repeat: no-repeat;
				background-position: right 4px center;
			}

			.search-choice span, .result-selected, .active-result {
				font-family: Helvetica,Arial,sans-serif;
			}

			.search-choice-close {
				-webkit-transition: unset;
				transition: unset;
			}
		}

		.datepicker-with-icon {
			width: 100%;
		}

		.field-label, .long-field-label {
			height: 33px;

			label {
				margin-bottom: 0px;
				margin-right: 5px;
			}
		}

		.long-field-label {
			padding-top: 15px;
		}

		.text-value {
			label {
				margin-bottom: 0px;
			}
		}

		.select-button {
			a {
				margin-bottom: 0px;
				margin-left: 5px;
			}
		}

		.guarantee-field {
			sw-custom-table-field {
				select, input {
					width: 175px;
				}
			}

			label {
				margin-left: 5px;
				margin-bottom: 0px;
			}
		}

		.mixed-input-label-row {
			padding-top: 15px;

			sw-custom-table-field {
				select, input {
					width: 175px;
				}
			}

			label {
				vertical-align: bottom;
				padding: 5px;
			}
		}
	}

	.coborrower-table, .guarantor-table {
		margin-left: auto;
		margin-right: auto;
		display: table;
	}

	.footer-table, tfoot {
		width: 100%;

		tr {
			height: 29px;
			background-color: #eee;
		}
	}

	.postal-code-left {
		input {
			width: 68%;
		}
	}

	.postal-code-right {
		input {
			width: 30.5%;
		}
	}
}

.floating-save-button-container {
	position: fixed;
	right: 25vh;
	top: 35vh;
}
