$font-path: "https://resources.sageworks.com/fonts/webfonts";
$font-serif: "aleo";
$brand-blue: #5091cd;
$font-xbold: 800;
@import "../../fonts/swfonts";

.subtitle {
    font-family: aleo;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 2em;
}

.button-medium {
    &[disabled], &[disabled]:hover, &[disabled]:active {
        border-color: #a2a3a3 !important;
        background-color: #a2a3a3 !important;
        cursor: default !important;
    }
}

// formulize component styling
#formulize.formulize-wrapper {
    .formulize-alert {
        display: none;

        &.formulize-alert-error {
            color: #ed7d31 !important;
            border-top-color: #ed7d31 !important;
            display: block;
        }

        &.formulize-alert-good {
            color: #70ad47 !important;
            border-top-color: #70ad47 !important;
        }
    }

    .formulize-container {
        .formulize-operator {
            color: #295e8e !important;

            &.formulize-bracket {
                color: #ed7d31 !important;
            }
        }
    }
}

.form-inline {
    .form-group {
        select {
            width: 245px;
        }
    }
}

#template-modal {
    .sw-div-table-row {
        div {
            padding-bottom: 5px;
            text-align: left;
            vertical-align: bottom;
        }

        select, input {
            width: 100%;
        }
    }
}

table.sw-custom-form.configuration-mode .configuration-container {
    min-width: 575px;
}

.search-box {
    position: relative;
    top: -23px;
    width: 200px;
}

#additional-financials-content {
    #UserDefinedFieldsTable, #UserDefinedMetricsTable {
        width: 100%;
    }
}

.data-field-table.center-block {
    min-width: 625px;
} 