.printer-friendly {
	.sw-collapsible-section {
		.section-heading {
			background-image: none;
		}
	}
}

.sw-collapsible-section {
  .section-heading {
    cursor: pointer;
    background-image: url(//resources.sageworks.com/images/analyst/icons/2x/down-arrow2x.png);
    background-size: 18px 12px;
    background-position: 6px 15px;
    background-repeat: no-repeat;
    color: #555;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    border-top: solid 1px #d5d5d5;
    padding: 12px 0 0 35px;
    margin: 40px 0 30px;
  }

  .sw-collapsible-content {
    padding-bottom: 30px;
  }

  &.collapse-content {
    .section-heading {
      background-image: url(//resources.sageworks.com/images/analyst/icons/2x/right-arrow2x.png);
      background-size: 12px 18px;
      background-position: 10px 13px;
    }

    .sw-collapsible-content {
      display: none !important;
    }
  }
}
