table.sw-custom-table {
	.delete-x {
		width: 14px;
	}

	.delete-x:hover {
		width: 14px;
	}

	.delete-cell {
		width: 24px;
	}

	td.row-expand-cell {
		width: 70px;

		div {
			width: 64px;
			margin-right: 0;
			margin-left: auto;
		}
	}

	thead tr {
		.customerSelect-label {
			width: 200px;
		}

		.identifier-label {
			width: 200px;
		}

		.balance-label {
			width: 120px;
		}

		.depositType-label {
			width: 200px;
		}

		.interestRate-label {
			width: 80px;
		}
	}

	tbody td {
		.custom-table-input-field {
			max-width: 175px;
		}
	}
}

/**************************************/
/********** Customer Profile **********/
/**************************************/

/* Contact */
.section-type-3 table.sw-custom-table {
	thead tr {
		.firstName-label, .lastName-label, .phone-label, .email-label {
			width: 200px !important;
		}
	}
}

/* Activities */
.section-type-4 table.sw-custom-table {
	thead tr {
		.type-label, .subject-label, .assignedToUsersID-label, .status-label, .date-label {
			width: 155px !important;
		}
	}
}

/* Opportunities */
.section-type-5 table.sw-custom-table {
	thead tr {
		.name-label, .type-label, .stage-label, .amount-label, .assignedToUsersID-label {
			width: 155px !important;
		}
	}
}

/* Proposed Loans */
.section-type-6 table.sw-custom-table {
	thead tr {
		.identifier-label {
			width: 235px !important;
		}

		.balance-label, .loanTypesID-label {
			width: 200px !important;
		}

		.riskRating-label {
			width: 65px !important;
		}
	}
}

/* Existing Loans */
.section-type-7 table.sw-custom-table {
	thead tr {
		.identifier-label {
			width: 235px !important;
		}

		.balance-label, .loanTypesID-label {
			width: 200px !important;
		}

		.riskRating-label {
			width: 65px !important;
		}
	}
}

table.swtable.collateral-additional-information-table {
	td.custom-table-input-field {
		width: 160px;
	}

	td.field-label {
		padding-left: 20px;
	}
}
