/* dashboards styling */
.wizard-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    text-align: center;

    &.big {
        div.wizard-item {
            min-width: 175px
        }
    }

    .wizard-item {
        vertical-align: top;
        display: inline-block;
        zoom: 1;
    }

    .stretch {
        width: 100%;
        display: inline-block;
        font-size: 0;
        line-height: 0
    }
}

/* #endregion */
