/* Standard Form styling */

.forgot-login-thanks-page, .login-default-page, .forgot-login-default-page, .password-recovery-page {
  @include make-row;

  form {
    @extend .sw-eleven;
  }
}

.forgot-login-default-page, .password-recovery-page {
  h4 {
    text-align: center;
    line-height: 4.5;
  }
}

// Form styling from Loansage

.form-group {
  &.has-error {
    .styled-select {
      .form-control {
        border-color: #a94442;
      }
    }
  }

  .styled-select {
    select {
      &.form-control {}
    }
  }
}

input.form-control, select.form-control, textarea.form-control {
  background: none;
  background-color: #fbfbfb;
  border: 2px solid #d5d5d5;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  height: 44px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 1.430071429;
  padding: 6px 12px;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
}

.hide-disabled-values, .swtable.hide-disabled-values {
	input[type=text]:disabled {
		color: transparent;
		background-image: none;
	}
}

select.input-small {
	background: #fbfbfb url(images/down_arrow_hollow.png) no-repeat;
	/* Down arrow positioning in IE/Safari. */
	background-position-x: 98%;
	background-position-y: 50%;
	/* Down arrow positioning in Chrome/Firefox. */
	background-position: right 10px center;
	/* Hide select arrow for drop downs on Firefox. */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

select::-ms-expand {
  display: none;
}

// For checkbox next to label
.check-label-group {
  input {
    margin: 4px 10px 0 0;
  }

  label {
    max-width: 90%;
  }
}

/** Drop down select: ex Country select ==================== **/
.styled-select select {
  background: transparent;
  padding: 5px;
  padding-left: 15px;
  border: 0;
  border-radius: 0;
  height: 44px;
  margin: 0;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
}

.styled-select select::-ms-expand, .styled-select-2 select::-ms-expand {
  display: none;
}

/* DataTableAdapter overwrite */

.DataTableAdapterContainer {
  margin-bottom: 50px;
}

/* Wizard type form styling */
#top-wizard {
  position: relative;
  z-index: 10;
  background-color: transparent;
  font-size: $font-size-medium;
}

.ui-widget-content {
  background: lighten($gray-lighter, 10%);
  color: $gray-dark;

  a {
    color: $gray-dark;
  }
}

.ui-widget-header {
  background: $gray;
}

.ui-widget-header a {
  color: $gray;
}

.ui-progressbar {
  height: 4em;
  text-align: left;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

#survey_container {
  position: relative;
  background-color: white;

  @include box-shadow(0 0 5px $gray);

  top: -10em;
  z-index: 9;
  min-width: 100%;

  .main-title {
    position: absolute;
    top: -180px;
    left: 0;
  }

  .title-block {
    position: relative;
    top: -50px;
    background-color: $gray;
    margin-left: -25px;
    margin-right: -25px;
    color: white;
    line-height: 2em;
  }
}

.info-container {
  @extend #survey_container;

  top: 0;
  min-height: 400px;
  padding-left: 40px;
  padding-right: 40px;

  .main-title {
    top: -100px;
  }

  h4 {
    position: relative;
    top: -10px;
    background-color: $gray-light;
  }

  h5 {
    font-family: $font-sbold;
    line-height: 1.2em;
    font-size: $font-size-large;
    text-align: left;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .loan-list {
    overflow-y: auto;
    height: 200px;

    li {
      &:before {
        @include square(0);
      }
    }

    img {
      display: inline-block;
    }
  }

  .requirement-list {
    font-size: $font-size-medium;
    margin-left: 1.5em;

    li {
      margin-bottom: 0.5em;
    }
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $gray-lighter;
  border-radius: $border-radius-base;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: $gray-lighter;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $brand-blue;
}

.ie8 #survey_container {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: -300px;
  margin-bottom: 60px;
  z-index: 9;
  position: relative;
}

#middle-wizard {
  padding: 80px 80px 15px;
  min-width: 100%;

  p {
    margin: 0 40px 20px;
  }

  &.compare-box {
    padding: 40px 25px 35px;

    p {
      margin: -30px 40px 20px;
    }
  }

  &.step-box {
    @media (max-width: 767px) {
      padding: 60px 25px 15px;
    }

    .styled-select {
      @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
      }

      .form-control {
        @media (max-width: 480px) {
          font-size: $font-size-h6 / 2;
          padding-left: 10px;
        }
      }
    }
  }
}

#bottom-wizard {
  position: relative;
  height: 60px;
  padding-top: 10px;
  border-top: 1px solid $gray-lighter;
  background-color: $gray-lighter;
  text-align: center;
}

#complete {
  text-align: center;
  padding: 0 45px 35px 45px;
}

#complete h3 {
  text-align: center;
  margin-bottom: 40px;
}

#complete i {
  color: #cacaca;
  margin: 0 0 10px 0;
  font-size: 160px;
  padding: 0;
}

#complete button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  border: 2px solid #8dc63f;
  color: #8dc63f;
  padding: 15px 35px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: $font-sbold;
  text-transform: uppercase;
  outline: none;
  background: #fff;
}

#complete button:hover {
  background: #00aeef;
  color: #fff;
  border: 2px solid #00aeef;
}

.box {
  text-align: center;
  margin-bottom: 60px;
}

.box span {
  font-size: 100px;
  color: #1ab9a7;
  font-weight: $font-xbold;
  display: block;
  margin: 40px 0 43px 0;
}

.question_box {
  padding-left: 40px;
  position: relative;
  margin-bottom: 30px;
}

.question_box:before {
  content: "\f059";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 30px;
  position: absolute;
  color: #999;
  top: 5px;
  left: 0;
}

.form-control::-moz-placeholder {
  color: $gray-light;
  opacity: 1;

  @media (max-width: 480px) {
    font-size: $font-size-h6 / 2;
  }
}

.form-control::-webkit-input-placeholder {
  color: $gray-light;

  @media (max-width: 480px) {
    font-size: $font-size-h6 / 2;
  }
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
}

.styled-select select::-ms-expand, .styled-select-2 select::-ms-expand {
  display: none;
}

ul.floated {
  padding: 0;
  margin: 0 0 0 0;
}

ul.floated li {
  float: left;
  margin: 0;
  padding: 0;
  width: 30%;
}

label.label_gender {
  padding-left: 50px;
  line-height: 42px;
}

ul.floated li#age {
  width: 100px;
  margin-right: 55px;
}

ul.data-list li {
  position: relative;
}

ul.data-list-2 li {
  position: relative;
  height: 42px;
  margin-bottom: 15px;
  width: 100%;
  display: block;
}

ul.data-list-2 li label {
  float: left;
  margin-left: 60px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 9px;
  line-height: 22px;
}

ul.data-list#terms {
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.qty-buttons {
  position: relative;
  width: 100px;
  height: 40px;
}

input.qty {
  width: 70px;
}

input.qtyminus, input.qtyplus, input.qtyplus:focus {
  position: absolute;
  width: 35px;
  height: 23px;
  border: 2px solid #d5d5d5;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
}

input.qtyplus {
  background: white url(../img/plus.png) no-repeat center center;
  right: 0;
  top: 0;
  text-indent: -9999px;
}

input.qtyminus {
  background: white url(../img/minus.png) no-repeat center center;
  right: 0;
  top: 21px;
  text-indent: -9999px;
}

.qty-buttons span {
  position: absolute;
  top: 10px;
  display: block;
  width: 220px;
  left: 120px;
  font-weight: bold;
}

label.error {
  font-size: 11px;
  position: absolute;
  top: -28px;
  right: -15px;
  z-index: 99;
  height: 25px;
  line-height: 25px;
  background-color: #e34f4f;
  color: #fff;
  font-weight: normal;
  padding: 0 6px;
}

label.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #e34f4f;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -6px;
  left: 20%;
}

.styled-select label.error {
  overflow: visible;
}

ul.floated li#age label.error {
  right: -15px;
}

ul.floated li label.error {
  right: -50px;
}

ul.data-list#terms li label.error {
  left: 45%;
  display: inline-block;
  width: 80px;
}

ul.data-list-2 li label.error {
  font-size: 11px;
  position: absolute;
  top: -30px;
  right: -10px;
  margin: 0;
  z-index: 99;
  height: 25px;
  line-height: 25px;
  background-color: #e34f4f;
  color: #fff;
  font-weight: normal;
  padding: 0 6px;
}

/*!
 * jQuery UI CSS Framework 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/category/theming/
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=sans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=0px&bgColorHeader=%23d5d5d5&bgTextureHeader=highlight_soft&bgImgOpacityHeader=0&borderColorHeader=%23d5d5d5&fcHeader=%233c3d3d&iconColorHeader=%233c3d3d&bgColorContent=%23ffffff&bgTextureContent=flat&bgImgOpacityContent=0&borderColorContent=%23d5d5d5&fcContent=%23333333&iconColorContent=%233c3d3d&bgColorDefault=%23ffffff&bgTextureDefault=glass&bgImgOpacityDefault=0&borderColorDefault=%23d5d5d5&fcDefault=%235091cd&iconColorDefault=%235091cd&bgColorHover=%23ffffff&bgTextureHover=glass&bgImgOpacityHover=0&borderColorHover=%23d5d5d5&fcHover=%23295e8e&iconColorHover=%23295e8e&bgColorActive=%23ffffff&bgTextureActive=glass&bgImgOpacityActive=0&borderColorActive=%23d5d5d5&fcActive=%23295e8e&iconColorActive=%23295e8e&bgColorHighlight=%23ffffff&bgTextureHighlight=glass&bgImgOpacityHighlight=0&borderColorHighlight=%2370ad47&fcHighlight=%2370ad47&iconColorHighlight=%2370ad47&bgColorError=%23fff&bgTextureError=glass&bgImgOpacityError=0&borderColorError=%23ed7d31&fcError=%23ed7d31&iconColorError=%23ed7d31&bgColorOverlay=%23333333&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=5&bgColorShadow=%23333333&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=5&thicknessShadow=2px&offsetTopShadow=-2px&offsetLeftShadow=-2px&cornerRadiusShadow=2px
 */
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: sans-serif;
  font-size: 1.1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: sans-serif;
  font-size: 1em;
}

.ui-widget-content {
  border: 1px solid #d5d5d5;
  background: #ffffff;
  color: $default-font-color;
}

.ui-widget-content a {
  color: $default-font-color;
}

.ui-widget-header {
  border: 1px solid #d5d5d5;
  background: #eeeeee;
  color: $default-font-color;
  font-weight: $font-bold;
}

.ui-widget-header a {
  color: #3c3d3d;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #d5d5d5;
  background: #ffffff;
  font-weight: normal;
  color: #5091cd;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #5091cd;
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #d5d5d5;
  background: #ffffff;
  font-weight: normal;
  color: #295e8e;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #295e8e;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #d5d5d5;
  background: #ffffff;
  font-weight: normal;
  color: #295e8e;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #295e8e;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #70ad47;
  background: #ffffff;
  color: #70ad47;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #70ad47;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid $brand-orange;
  background: #fff;
  color: $brand-orange;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: $brand-orange;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: $brand-orange;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: $font-bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity = 70);

  /* support: IE8 */
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity = 35);

  /* support: IE8 */
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity = 35);

  /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(/includes/css/images/ui-icons_3c3d3d_256x240.png);
}

.ui-widget-header .ui-icon {
  background-image: url(/includes/css/images/ui-icons_3c3d3d_256x240.png);
}

.ui-state-default .ui-icon {
  background-image: url(/includes/css/images/ui-icons_5091cd_256x240.png);
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(/includes/css/images/ui-icons_295e8e_256x240.png);
}

.ui-state-active .ui-icon {
  background-image: url(/includes/css/images/ui-icons_295e8e_256x240.png);
}

.ui-state-highlight .ui-icon {
  background-image: url(/includes/css/images/ui-icons_70ad47_256x240.png);
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(/includes/css/images/ui-icons_ed7d31_256x240.png);
}

/* positioning */
.ui-icon-blank {
  background-position: 16px 16px;
}

.ui-icon-carat-1-n {
  background-position: 0 0;
}

.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

.ui-icon-carat-1-e {
  background-position: -32px 0;
}

.ui-icon-carat-1-se {
  background-position: -48px 0;
}

.ui-icon-carat-1-s {
  background-position: -64px 0;
}

.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

.ui-icon-carat-1-w {
  background-position: -96px 0;
}

.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-on {
  background-position: -96px -144px;
}

.ui-icon-radio-off {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
}

/* Overlays */
.ui-widget-overlay {
  background: #333333 url(/includes/css/images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;
  opacity: 0.05;
  filter: Alpha(Opacity = 5);

  /* support: IE8 */
}

.ui-widget-shadow {
  margin: -2px 0 0 -2px;
  padding: 2px;
  background: #333333 url(/includes/css/images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x;
  opacity: 0.05;
  filter: Alpha(Opacity = 5);

  /* support: IE8 */
  border-radius: 2px;
}

/* JQUERY.MULTISELECT.CSS ============================================================================= */
button.ui-multiselect {
  padding: 3px 25px 3px 8px;
  text-align: left;
}

button.ui-multiselect.ui-state-active {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  z-index: 10000;
}

.ie .ui-multiselect {
  line-height: 16px;
}

.ui-multiselect span.ui-icon {
  display: none;
}

.ui-multiselect-single .ui-multiselect-checkboxes input {
  position: absolute !important;
  top: auto !important;
  left: -9999px;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
  padding: 5px !important;
}

.ui-multiselect-header {
  margin: -5px -11px 7px;
  padding: 4px 5px 5px;
}

.ui-multiselect-header ul {
  font-size: 13px;
}

.ui-multiselect-header ul li {
  float: left;
  padding: 0 9px 0 0;

  .ui-icon {
    filter: alpha(opacity = 50);
    opacity: 0.5;
  }

  .ui-icon-circle-close {
    display: none;
  }
}

.ui-multiselect-header a {
  text-decoration: none;
  color: #5091cd;
  font-style: italic;
}

.ui-multiselect-header a:hover {
  text-decoration: underline;
  color: #2a6496;
}

.ui-multiselect-header span.ui-icon {
  float: left;
}

.ui-multiselect-header li.ui-multiselect-close {
  float: right;
  text-align: right;
  padding: 0 !important;
}

.ui-multiselect-header a.ui-multiselect-close:before {
  content: 'Done';
}

.ui-multiselect-header a.ui-multiselect-close {
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  padding: 1px;
  line-height: 13px;
  font-style: normal;
  letter-spacing: normal;
}

.ui-multiselect-menu {
    display: none;
    min-width: 240px;
    padding: 5px 10px 10px;
    position: absolute;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px 2px;
}

.ui-multiselect-checkboxes {
  position: relative;
  overflow-y: auto;
}

.ui-multiselect-checkboxes label {
  cursor: default;
  display: block;
  border: 1px solid transparent;
  padding: 1px;
  margin: 0;
  font-weight: normal;
}

.ui-multiselect-checkboxes label:hover {
  color: #5091cd;
}

.ui-multiselect-checkboxes label input {
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.ui-multiselect-checkboxes li {
  clear: both;
  font-size: 0.9em;
  padding-right: 3px;
}

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {}

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
  display: block;
  padding: 1px;
  margin: 1px 0;
  text-decoration: none;
}

.ui-multiselect-done {
  background-color: #000000;
  border-radius: 5px 5px 5px 5px;
  color: #DDDDDD;
  margin-right: 3px;
  padding: 0 4px;
  text-align: center;
}

button.ui-multiselect.ui-state-default {
  border-color: #d5d5d5;
  color: #212121;
}

button.ui-multiselect.ui-state-disabled {
  background-color: #ebebeb;
  color: #999999;
}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label {
  border: none;
}

.readonly .ui-multiselect-checkboxes input {
  display: none;
}

/* JQUERY.MULTISELECT.FILTER.CSS ====================================================================================================================*/
.ui-multiselect-hasfilter ul {
  position: relative;
  top: 2px;
}

.ui-multiselect-filter {
  color: #555555;
  padding: 0 2px 8px;
  float: left;
  margin-right: 10px;
  font-size: 11px;
}

.sw-app .ui-multiselect-filter input {
  width: 180px;
  font-size: 10px;
  margin-left: 5px !important;
  height: 15px;
  padding: 2px 5px;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/*copied from previous version*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui-helper-clearfix {
  display: inline-block;
}

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {
  height: 1%;
}

.ui-helper-clearfix {
  display: block;
}

/* end clearfix */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity = 0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * jQuery UI Resizable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Resizable#theming
 */
.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/*
 * jQuery UI Selectable 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Selectable#theming
 */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/*
 * jQuery UI Accordion 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Accordion#theming
 */
/* IE/Win - Fix animation bug - #4615 */
.ui-accordion {
  width: 100%;
}

.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
}

.ui-accordion .ui-accordion-li-fix {
  display: inline;
}

.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}

.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: 0.5em 0.5em 0.5em 0.7em;
}

.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: 0.5em;
  top: 50%;
  margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
}

.ui-accordion .ui-accordion-content-active {
  display: block;
}

/*
 * jQuery UI Autocomplete 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete {
  position: absolute;
  cursor: default;
}

/* workarounds */
* html .ui-autocomplete {
  width: 1px;
}

/* without this, the menu expands to 100% in IE6 */
/*
 * jQuery UI Menu 1.8.16
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 0.2em 0.4em;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

/*
 * jQuery UI Button 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Button#theming
 */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: 0.1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
}

/* the overflow property removes extra width in IE */
.ui-button-icon-only {
  width: 2.2em;
}

/* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only {
  width: 2.4em;
}

/* button elements seem to need a little more width */
.ui-button-icons-only {
  width: 3.4em;
}

button.ui-button-icons-only {
  width: 3.7em;
}

/*button text element */
.ui-button .ui-button-text {
  display: block;
  line-height: 1.4;
}

.ui-button-text-only .ui-button-text {
  padding: 0.4em 1em;
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: 0.4em;
  text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 2.1em 0.4em 1em;
}

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* no icon support for input elements, provide padding by default */
input.ui-button {
  padding: 0.4em 1em;
}

/*button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: 0.5em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}

.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}

/*button sets*/
.ui-buttonset {
  margin-right: 7px;
}

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em;
}

/* workarounds */
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* reset extra padding in Firefox */
/*
 * jQuery UI Dialog 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Dialog#theming
 */
.ui-dialog {
  position: absolute;
  padding: 0.2em;
  width: 300px;
  overflow: hidden;
  z-index: 999;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0.4em 1em;
  position: relative;
}

.ui-dialog .ui-dialog-title {
  float: left;
  margin: 0.1em 16px 0.1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0.3em;
  top: 50%;
  width: 19px;
  margin: -10px 0 0;
  padding: 1px;
  height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
  display: block;
  margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 0.5em 1em;
  background: none;
  overflow: auto;
  zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin: 0.5em 0 0;
  padding: 0.3em 1em 0.5em 0.4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer;
}

.ui-dialog .ui-resizable-se {
  width: 14px;
  height: 14px;
  right: 3px;
  bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar, .sw-draggable {
  cursor: move;
}

.sw-draggable {
	padding: 0 5px 0 3px;
	&:before {
		content: url(//resources.sageworks.com/images/analyst/icons/svg/drag-and-drop.svg);
		display: inline-block;
		width: 22px;
		height: 22px;
		padding-right: 4px;
		position: relative;
		top: 3px;
	}
	&:hover {
		background: #e1ecf7;
	}
}

.ui-sortable-helper .sw-draggable {
	background: #e1ecf7;
}

// custom dialog styling
.ui-dialog {
  .ui-dialog-titlebar {
    &.ui-widget-header {
      border: 0;
      background: none;
      color: $brand-orange;
      font-family: $font-sc-osf;
      text-transform: lowercase;
      font-size: 17px;
      font-weight: $font-bold;
      letter-spacing: 2.5px;

      .ui-dialog-titlebar-close {
        outline: medium none;
        border: medium none;
        background: none;
        cursor: pointer;

        &:after {
          content: url(//resources.sageworks.com/images/analyst/icons/1x/x.png);
          position: relative;
          top: -3px;
          left: -3px;
        }
      }
    }
  }

  .ui-dialog-content {
    .ui-widget-content {
      p {
        font-family: $font-serif;
        color: #555;
        margin: 0 0 10px;
        line-height: 1.5em;
      }
    }
  }

  .ui-dialog-buttonpane {
    border: 0;

    .ui-dialog-buttonset {
      float: left;
      display: inline-block;

      button {
        padding: 1px 6px 2px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 0;
        letter-spacing: 1px;
        font-family: $font-sc-osf;
        font-weight: $font-sbold;
        text-transform: lowercase;
        border: 2px solid #5091CD;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        outline: medium none;
        background: #5091CD none repeat scroll 0 0;
        color: #FFF;
        transition: all 0.5s ease 0s;
        margin: 6px 2px;

        &:hover {
          background: #295E8E none repeat scroll 0 0;
          color: #FFF;
          border: 2px solid #295E8E;
        }
      }
    }
  }
}

/*
 * jQuery UI Slider 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
.ui-slider {
    position: relative;
    text-align: left;
    background: #f1efef;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 15px;
    background-color: $brand-blue;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  background-position: 0 0;
}

.ui-slider-horizontal {
  height: 15px;
}

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/*
 * jQuery UI Tabs 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs {
  position: relative;
  padding: 0.2em;
  zoom: 1;
}

/* position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: 0.2em 0.2em 0;
}

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 1px;
  margin: 0 0.2em 1px 0;
  border-bottom: 0 !important;
  padding: 0;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  margin-bottom: 0;
  padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
  cursor: pointer;
}

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}

.ui-tabs .ui-tabs-hide {
  display: none !important;
}

/*
 * jQuery UI Datepicker 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
  display: none;
  z-index: 6 !important;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  text-align: center;
}

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 48%;
}

.ui-datepicker .ui-datepicker-title select {
  margin: 1px 1%;
}

.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 2em;
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: $font-bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-datepicker-trigger {
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 1px;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto 0.4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none;

  /*sorry for IE5*/
  display: block;

  /*sorry for IE5*/
  position: absolute;

  /*must have*/
  z-index: -1;

  /*must have*/
  filter: mask();

  /*must have*/
  top: -4px;

  /*must have*/
  left: -4px;

  /*must have*/
  width: 200px;

  /*must have*/
  height: 200px;

  /*must have*/
}

/*
 * jQuery UI Progressbar 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar {
  height: 2em;
  text-align: left;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

.ui-progress-bar {
  position: relative;
  text-align: left !important;
  height: 32px;
  padding-right: 2px;
  background-color: #abb2bc;
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 #FFF;
  -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 #FFF;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 #FFF;
}

.ui-progress {
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 25px;
  border-radius: 32px;
  -webkit-background-size: 40px 40px;
  background-color: #5091cd;
  border: 1px solid #5091cd;
}

.ui-progress-status {
  font-family: $font;
  font-weight: $font-bold;
  text-align: center;
  font-size: 12px;
}

.ui-progress.ui-progress-surety {
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 25px;
  border-radius: 32px;
  -webkit-background-size: 40px 40px;
  background-color: #65C21F;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #65C21F), color-stop(1, #669404));
  background: -moz-linear-gradient(#4BA906 0%, #65C21F 100%);
  border: 1px solid #377E79;
}

.ui-progress span.ui-label {
  font-size: 14px;
  position: absolute;
  right: 0;
  line-height: 28px;
  padding-right: 12px;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.45) 0 1px 0;
  white-space: nowrap;
}

/*styles for jquery ui daterangepicker plugin */
.ui-daterangepicker {
  .range-start,
  .range-end {
    margin-left: 5px;
  }

  .ranges {
    margin-left: 10px;
    padding: 5px 5px 40px 0;
    position: relative;
    width: auto;
  }

  .title-start,
  .title-end {
    display: block;
    font-size: 1em;
    margin: 0 0 0.2em;
    padding: 0 4px 2px;
  }

  .ui-datepicker-inline {
    font-size: 1em;
  }

  .ui-widget-content a {
    text-decoration: none !important;
  }

  button.btnDone {
    bottom: 0;
    clear: both;
    cursor: pointer;
    font-size: 1.1em;
    margin: 0 5px 5px 0;
    position: absolute;
    right: 0;
  }

  li {
    cursor: pointer;
    list-style: none;
    margin: 1px 0;
    padding: 1px;

    a {
      display: block;
      font-weight: normal;
      margin: 0.3em 0.5em;
    }

    span {
      float: right;
      margin: 0.3em 0.2em;
    }

    &.preset_0 {
      margin-top: 1.5em !important;
    }

    &.ui-state-hover,
    &.ui-state-active {
      padding: 0;
    }
  }
}

.ui-daterangepicker-arrows {
  .ui-daterangepicker-prev:hover,
  .ui-daterangepicker-next:hover,
  .ui-daterangepicker-prev:focus,
  .ui-daterangepicker-next:focus {
    padding: 0;
  }
}

.ui-daterangepicker {
  ul {
    border: 0;
    width: 17.6em;
    float: left;
    margin: 0;
    padding: 0;
  }

  .ranges,
  .range-start,
  .range-end {
    float: left;
    margin: 0;
    padding: 0;
  }
}

.ui-daterangepicker-arrows {
  padding: 2px;
  position: relative;
  width: 204px;

  .ui-daterangepicker-next {
    right: 2px;
  }

  .ui-daterangepicker-prev {
    left: 2px;
    padding: 1px;
    position: absolute;
    top: 2px;
  }

  .ui-daterangepicker-next {
    padding: 1px;
    position: absolute;
    top: 2px;
  }

  input.ui-rangepicker-input {
    height: 1.1em;
    margin: 0 2px 0 20px;
    padding: 2px;
    width: 158px;
  }
}

.ui-daterangepickercontain {
  position: absolute;
  z-index: 999;

  .ui-daterangepicker {
    clear: left;
    display: inline;
    float: left;
    padding: 5px !important;
    width: auto;
  }
}

// Mark's custom jQuery UI
.ui-datepicker {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
