$white: #FFFFFF;

$toast-colors: (
	success: #70ad47,
	warning: #ed7d31,
	error: #ce2424,
	info: #295e8e
) !default;

$toast-icons: (
	success: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAYCAYAAAALQIb7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNpiYKAx+P//fwAQ9wOxAK0tMgDi9/8h4DwtLRJAsggEEmhp0Xkki+bT0lfrkSxaT0uL5iNZdJ5mCQMUL0gWvaelRQFoFhnQI4mDQMBoEh9N4qQncaRwT6B5Egcq3k9sSqI4iQM1OPxHBQk0TeJocYBhENWTOD4LaZLEsVlI0ySOxULaluJYLKRdKY7FQqqU4iy4JBgZGRcALYGxN1DDMoAAAwC7LQXmH4jqFAAAAABJRU5ErkJggg==',
	warning: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAApCAYAAAC2qTBFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWRJREFUeNrsl4ENgjAQRcsGjMAIjIAbdARHYAQ3YARGYIS6ASPgBo5Q23g1ZwPhDk7aGH7SIKaQ513v36mUoKy1vcpRDqy1b7W5gZVuPQHOX8uc4Dr7rS4XsApB3dDnKgc4AzAD3A9wb1KD6ThSUSR1SrgppDP6PqR3SgX2AYirE6p3Fvxo67gu7LkmsRbfCSiHHhVLfxRYgw58I7VX2jp6yShLgLHPEeV8ShXBYgWiiBpOZYtbx0q6DccTpfun3ginf9J3Kf1yDW6uD0tbR70Trha1FveSkTKjUeCi2W+UGr1XrYMBh62l3WMd5JdQ4bg/ei38E2O/oY7oyFq6Pdbxk54YFVrFeZBd8pAqw2lR7JF+q1niv16S5i7SZpDljMznaCM92ripiuAclTtc4ZZutNk6ih02FDKG2CKkw10C1APW0apgeV2KorgHOA/WqHx0d3AXHLms5COnTp06derP9RJgAHjreEZCU7X2AAAAAElFTkSuQmCC',
	error: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXxJREFUeNrUWIsRgjAMFRaAERiBEToCI7CBuoEbeEyAI7gBbAAb4AbIBJhq64Xy6wdqzd07DstL0jRNUw8HR8TTIfV9H8GDgghDJeDhed5jN4+pccAV0PTr0rBvo80iAspCeFwB6cTsa0DH3gNAPBGlG+AMUXqaRCEBtGimBf1NklcgXivDm1OWIkUVgGjoIIzLJTVxIt8gv3JlZ1hYN3NixplkNTFRTuQ77Lwc5Uwo82GlsKUJQyjJqRYnypRyIZJKLxocgjjfOuOjb468PsCeL3cr5R/dpWBz4AhPoMzC0ZIJNsfLoph8ykuDuIPl4RGJUNm2JSW2zR3hs6ktOlJj274w2Fl0ZGDLd6UxEh0JLNoOlopModEsKVVWxC1Gu013+xqeO6PqygcaqZNxyIkZjyJWbLjeLeVUjtzFsishCasD0ahKLstRsGl86J1UG565Q8+oDUDLo7Is1Wq/40xj5Eyr6FTz7NR14hcXrP+4cjp1CXfub4m95SXAAOOmA+DDpHsgAAAAAElFTkSuQmCC',
	info: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAhCAYAAADH97ugAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYdJREFUeNq8VguRg0AMDShYCZWABBwUB4cEJOAECXengFYBddA6oA64bJtwKeWTLNA3k+kMm92XTd4mjWABXdel+HNES9DSwfIJ7YL2G0XRCUKABDnatdPD++YWAodWiwNatAotQzsIvwN9q8iH4fe6JZJE3MJvLhc3/QdXCkJ/RjLnzI7NpONyoI0I1I051YLEQSAoYCarxwrPUSSwEnQzzk4uF7guhbIWhYKs4Hrxh+zlw/zmUqgrV/jzBbKYHqPHjyIrd2MW+cwjiMKlhoecK31TFhiIVDjYGFTTB3oi5cbS4k97HojhQ/BEN9b+DqnjM28xtXkYGQFbgIkunujcS3B7fNHv+UUZSxK3iEFIu+vHC82Up963I+L3WcFgiLVvC4FEIvD3USF63mRz1RAN+mE6117UTXPV/sG1E8ub0aR/atq28g/JjL+s8XfoOJ4d7RbfVVH6Ncvtg/IeWk+TktYqVPU2Bu2l3LrlyzTZZBxA1oibNLtNSZLylczBniAlmhX2J8AAdeJqg6msskEAAAAASUVORK5CYII='
) !default;

$toast-icon-position: (
	success: 15px center,
	warning: 15px center,
	error: 15px center,
	info: 20px center
) !default;

#toast-container {
	> div {
		width: 350px !important;
		padding-left: 65px !important;
		font-size: 15px !important;
		border-radius: 0 !important;

		@each $type, $value in $toast-colors {
			&.toast-#{$type} {
				background-color: map-get($toast-colors, $type) !important;
				background-image: url(map-get($toast-icons, $type)) !important;
				background-position: map-get($toast-icon-position, $type) !important;
			}
		}

		.toast-close-button:focus, .toast-close-button:hover {
			color: $white;
			opacity: 1;
		}
	}
}
