@import "../vars";
@import "../../../fonts/swfonts";
@import "../../../thirdparty/chosen/chosen.css";

html {
	background-color: #fff;
}

.ui-datepicker {
	/* forced to override !important from base styles to show above modals */
	z-index: 1046 !important;
}

.tooltipDefault {
	background: #FFF;
	border-radius: 4px;
	padding: 8px;
	border: 1px solid #ddd;
}

a.fullDocumentImage {
	background-image: url(//resources.sageworks.com/images/analyst/icons/1x/folder-full.png);
}

a.emptyDocumentImage {
	background-image: url(//resources.sageworks.com/images/analyst/icons/1x/folder-open.png);
}

a.fullDocumentImage, a.emptyDocumentImage {
	display: inline-block;
	height: 20px;
	min-width: 24px;
	margin: 0 4px;
	background-repeat: no-repeat;
	text-decoration: none;
}

a.emptyDocumentImage span, a.fileDocumentImage span, a.fullDocumentImage span {
	position: relative;
	margin-left: 10px;
}

a.emptyDocumentImage sup, a.fullDocumentImage sup {
	margin-left: 25px;
}

.HelpLink, a.HelpLink, #DeleteGroupHelp {
	cursor: help;
	border-bottom: 1px dotted #aaa;
	font-weight: bold;
	color: #6f7070;
}


/* ## Responsive special adjustments at mobile size only while we maintain support for OLD and UNIVERSAL nav together */
@media only screen and (max-width: 767px) {
	body.globalnav-enabled {
		.crm-page {
			padding-top: 32px;
		}

		.change-page-layout-link-container {
			padding-bottom: 16px;
		}
	}
}


.crm-app-content {
	main {
		background-color: #fff;
		padding-top: 104px;
		margin-bottom: 0;
	}

	h1, h2, h3, h4 {
		padding: 0;
		margin: 0 0 8px 0;
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		letter-spacing: 4.0px;
		text-align: center;
		text-transform: uppercase;
		color: #555;
	}

	.btn, .btn:visited, .Button, .Button:visited {
		display: inline-block;
		padding: 0.3em 0.5em;
		margin: 0;
		font-size: 14px;
		line-height: 20px;
		font-weight: 600;
		background-color: #5091cd;
		border: 2px solid #5091cd;
		color: #fff;
		white-space: nowrap;
		border-radius: 0;
		outline: none;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		cursor: pointer;
		outline: 0;
	}

	.btn:hover, a.btn:hover, .Button:hover, a.Button:hover {
		background-color: #295e8e;
		border-color: #295e8e;
		color: #fff;
	}

	.btn a, .Button a {
		color: inherit;
		text-decoration: inherit;
		outline: 0;
	}

	.normaltopbottomspacing {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.add-new-table {
		margin-top: 20px;
		line-height: 1.25em;
		letter-spacing: 1px;
		text-align: center;
	}

	.sw-app-menu-trigger {
		display: block;
		width: 160px;
		padding: 0;
		margin: 0;
		background-color: #295e8e;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-align: center;
		transform: rotate(-90deg);
		transform-origin: 0% 0%;
		position: fixed;
		left: 0;
		top: 264px;
		z-index: 12;
		cursor: pointer;
	}

	.sw-app-menu {
		& {
			display: block;
			width: 260px;
			height: 100%;
			padding: 8px;
			position: fixed;
			z-index: 13;
			left: -260px;
			top: 0;
			background-color: #295e8e;
			transition: left 0.5s ease;
			font-size: 12px;
			line-height: 20px;
			color: #fff;
		}

		.closing-trigger {
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			top: 8px;
			right: 8px;
			cursor: pointer;
		}

		.closing-trigger > img {
			display: block;
			width: 12px;
			height: 12px;
			padding: 0;
			margin: 4px auto 0 auto;
		}

		.sw-app-menu-li {
			& {
				display: block;
				padding: 0;
				margin: 0;
				list-style: none outside;
			}

			.divider {
				padding-top: 8px;
			}

			li.hidden {
				display: none;
			}

			a {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
			}

			a:hover {
				opacity: 0.5;
			}

			a.sw-disabled {
				opacity: 0.5;
			}

			.sub-menu-li-item a {
				text-transform: none;
			}
		}
	}

	&.sw-app-menu-open .sw-app-menu {
		left: 0;
	}

	.crm-header {
		width: 100%;
		min-width: 320px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: #fff;

		header {
			width: 100%;
			min-height: 80px;
			padding: 0;
			margin: 0 auto;
			position: relative;
			z-index: 11;
		}

		a.sagenav-brand {
			/* sageworks logo */
			display: block;
			width: 64px;
			height: 32px;
			padding: 4px 0;
			margin: 0 0 0 8px;
			outline: 0;
		}

		div.sagenav-brand {
			/* abrigo logo */
			display: block;
			width: 96px;
			height: 32px;
			padding: 6px 0 2px 0;
			margin: 0;
			position: absolute;
			top: 0;
			right: 8px;
		}

		.sagenav-brand > img {
			display: block;
			width: 100%;
			height: auto;
			border: 0;
		}

		.product-heading {
			display: inline-block;
			padding: 0 0 0 8px;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #295e8e;
			font-weight: 700;
			text-align: left;
			text-decoration: none;
		}

		.sub-top-nav {
			display: block;
			padding: 0 8px 0 0;
			margin: 0;
			text-align: right;
			font-size: 12px;
			line-height: 32px;
			font-family: aleo,times new roman,serif;
		}

		.sub-top-nav.account {
			width: 140px;
			position: absolute;
			top: 0;
			right: 108px;

			> * {
				display: inline-block;
			}
		}

		.sub-top-nav.tools {
			display: none;
		}

		.sub-top-nav > ul {
			display: block;
			list-style: none outside;
			padding: 0;
			margin: 0;
		}

		.sub-top-nav > ul > li {
			display: inline-block;
			padding: 0;
			margin: 0 0 0 6px;
			vertical-align: top;
		}

		.sub-top-nav > ul > li > a {
			display: block;
			text-decoration: none;
			font-style: italic;
			color: #555;
		}

		.sagenav-menu {
			display: block;
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 24px;
			list-style: none outside;
			font-family: aleo,times new roman,serif;
		}

		.sagenav-menu .top-lvl-li-item {
			display: inline-block;
			padding: 0;
			margin: 0 0 0 8px;
			vertical-align: top;
		}

		.sagenav-menu .top-lvl-li-item > a {
			display: block;
			text-decoration: none;
		}

		.sagenav-menu .top-lvl-li-item > ul.dropdown {
			display: none;
			width: auto;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 80px;
			left: 0px;
			z-index: 110;
			list-style: none outside;
			background-color: #fff;
			text-align: left;
			box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
		}

		.sagenav-menu .sub-lvl-li-item > a {
			display: inline-block;
			padding: 4px 8px;
			margin: 0;
			text-decoration: none;
		}

		.sagenav-menu .sub-lvl-li-item > a:hover {
			color: #295e8e;
		}
	}

	.crm-search-insulator {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		z-index: 6;

		.search-table-container {
			width: 100%;
		}

		.search-table-container > tbody > tr > td {
			padding: 0;
		}

		.searchbox {
			width: 100%;
		}

		.search-input {
			width: 100%;
		}

		.search-input :focus {
			outline: none;
		}

		.search-input .input-search-group {
			border: 1px solid #ddd;
		}

		.search-input .input-search {
			position: relative;
			padding: 0 52px 0 0;
			border-right: 1px solid #eee;
		}

		.search-input .input-search::after {
			content: "\000020";
			display: block;
			width: 36px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: transparent no-repeat url("/images/analyst/icons/1x/search.png") 50% 50%;
		}

		.search-input .search-spinner {
			width: 16px;
			height: 16px;
			position: absolute;
			top: 10px;
			left: -53px;
		}

		.search-input .search-list-link {
			display: block;
			padding: 0 8px;
			text-align: center;
			line-height: 18px;
			font-style: italic;
			font-family: aleo,times new roman,palatino,serif;
			text-decoration: none;
		}

		.comboboxTextSearchBox {
			display: block;
			height: 36px;
			padding: 0 12px;
			margin: 0;
			font-size: 14px;
			line-height: 36px;
			border: 0;
			border-radius: 0;
		}

		.comboboxOptionPlaceHolder {
			width: 100% !important;
			height: auto !important;
			top: 36px !important;
			left: 0 !important;
			padding: 0 12px;
			z-index: 900;
			overflow: auto;
			overflow-x: hidden;
			max-height: 250px;
			background-color: #fff;
			box-shadow: 0 3px 3px rgba(0,0,0,0.3);
			border: 1px solid #dddddd;
			border-width: 0 1px 1px 1px;
		}
		/* primary result section wrappers, #Names #Loans #Properties #Contacts */
		.comboboxOptionPlaceHolder > div[id][style] {
			padding: 8px 0 !important;
			font-size: 14px !important;
			line-height: 24px !important;
		}
		/* primary result sections helptext */
		.comboboxOptionPlaceHolder > div[id][style] > br + div[style] {
			font-size: 14px !important;
			line-height: 20px !important;
			color: #888;
		}

		.comboboxOptionPlaceHolder .comboOption {
			padding: 0 0 0 20px;
			margin: 0 -12px;
			text-indent: -8px;
		}

		.comboboxOptionPlaceHolder .comboOptionHighlight {
			background-color: #5091cd;
			color: #fff;
		}

		#CustomerInformationCustomerSearch_ViewPotentialDuplicatesLinkContainer {
			margin: 0 0 16px 0;
			text-align: center;
		}

		#CustomerInformationCustomerSearch_ViewPotentialDuplicatesLinkContainer a {
			color: #5091cd;
		}
	}

	.crm-page {
		width: auto;
		max-width: 1200px;
		min-width: 320px;
		padding: 0px 24px 0 24px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}

	.crm-page .relationships-table {
		margin: 16px 0;
	}

	.crm-page .relationships-table .display-inline-block {
		display: inline-block;
	}

	.crm-dash {
		position: relative;
		z-index: 5;
	}

	.swtable {
		& {
			font-size: 14px;
			line-height: 24px;
		}

		.field-label.Required {
			font-weight: bold;
			color: #ed7d31;
		}

		.form-divider {
			font-weight: bold;
			text-decoration: underline;
		}

		.dropdown-input {
			font-size: inherit;
			min-height: 24px;
		}

		&[data-section-slug="activities"] textarea {
			min-height: 174px;
		}
	}

	.change-page-layout-link-container {
		max-width: 980px;
		margin-left: auto;
		margin-right: auto;
	}

	.crm-card {
		& {
			position: relative;
			padding: 8px;
			margin: 30px auto;
			border: 1px solid #d5d5d5;
			background-color: #fff;
		}

		.crm-card-options {
			position: relative;
			text-align: center;
		}

		.crm-card-options > a[data-toggle]::after {
			content: "\002bc6";
			display: inline-block;
			margin-left: 5px;
		}

		.crm-card-options .dropdown-menu > li > a {
			display: block;
			padding: 0 8px;
			color: #5091cd;
			cursor: pointer;
		}

		.sw-table-custom-table-header .export-to-excel-link {
			top: auto;
			bottom: 8px;
		}

		.swtable table {
			min-width: 100%;
			border: none;
		}

		.swtable thead tr, .swtable tr.heading-row {
			background-color: #eee;
			color: #666;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
		}

		.swtable thead th, .swtable .heading-row th {
			padding: 2px 8px;
			border: none;
			vertical-align: top;
		}

		.swtable th.sortable-column {
			& {
				font-weight: 700;
				text-decoration: none;
				cursor: pointer;
			}

			&::after {
				display: none;
			}

			&::before {
				content: "\000020";
				display: block;
				height: 9px;
				margin: 0 -6px 4px -6px;
				font-size: 0;
				line-height: 0;
				text-align: center;
				background: #ddd no-repeat url("/images/analyst/icons/1x/sortarrow_unsorted.gif") 50% 50%;
			}

			&.sort-asc::before {
				background-image: url("/images/analyst/icons/1x/sortarrow_asc.gif");
			}

			&.sort-desc::before {
				background-image: url("/images/analyst/icons/1x/sortarrow_desc.gif");
			}
		}

		.swtable tbody tr {
			border-bottom: 0 none;
		}

		.swtable .data-row {
			background-color: transparent;
		}

		.swtable .data-row.odd {
			background-color: transparent;
		}

		.swtable .data-row.even {
			background-color: #f6f6f6;
		}

		.swtable .data-row-cell {
			text-align: left;
			padding: 8px 8px;
			cursor: pointer;
		}

		.swtable .no-data-message {
			padding: 0;
			text-align: left;
		}

		.swtable .pagination-standard {
			float: none;
			width: auto;
			padding: 4px 8px;
			margin: 0;
			background-color: transparent;
			border-top: 1px solid #ddd;
		}

		.swtable .pagination-analyst {
			font-size: 14px;
			line-height: 24px;
			padding: 0;
			margin: 0;
		}

		.swtable .pagination-analyst::after {
			content: "\000020";
			display: table;
			clear: both;
		}

		.swtable .pagination-analyst ul.pagination a {
			display: inline-block;
			float: none;
			line-height: inherit;
			padding: 0 8px;
			margin: 0;
			vertical-align: top;
			background-color: transparent;
		}

		.swtable .pagination-analyst .per-page-selector {
			display: none;
		}

		sw-table-footer a, sw-table-footer a:not([href]) {
			color: #5091cd;
			cursor: pointer;
			text-decoration: none;
			outline: 0;
		}

		.crm-card-paging-extras {
			padding: 4px 8px;
		}

		.crm-card-footer {
			& {
				display: block;
				padding: 0;
				margin: 0;
				background-color: #eee;
				font-weight: bold;
			}

			a {
				display: inline-block;
				padding: 8px;
			}
		}

		.crm-card-filters {
			padding: 0 0 8px 0;
			margin: 8px 0 0 0;
		}

		.crm-card-filters-links {
			display: none;
			padding-left: 8px;
		}

		.crm-card-filters-links a {
			display: inline-block;
			padding-right: 8px;
			border-right: 1px solid #ddd;
			margin-right: 8px;
		}

		.crm-card-filters-links a:last-child {
			border-right: 0;
			margin-right: 0;
		}

		.crm-card-filters-links a.active {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	.crm-card-customer {
		.swtable {
			.label-row {
				padding: 8px;
				margin: 8px 0;
				font-size: inherit;
			}

			.field-label, .custom-table-input-field {
				padding-top: 0px;
			}
		}
	}

	.crm-scorecard-item {
		display: block;
		margin: 16px 0;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
	}

	.crm-scorecard-item-label {
		font-weight: bold;
		text-decoration: underline;
	}

	.crm-footer {
		padding: 2px 0 0 0;
		margin: 24px 0 0 0;
		border-top: 3px solid #666;
		background-color: #fff;
		font-family: aleo,times new roman,serif;
		color: #555;

		.sw-app-footer {
			padding: 32px;
			border-top: 2px dotted #666;
		}

		.sw-app-footer .footer-nav a {
			color: #555;
			text-decoration: none;
			cursor: pointer;
		}

		.sw-app-footer .footer-nav a:hover {
			color: #5091cd;
		}

		.footer-nav .bold {
			font-weight: 700;
		}

		ul.footer-nav {
			display: block;
			padding: 0;
			margin: 0;
			list-style: none outside;
		}

		.footer-nav li {
			display: block;
			padding: 0;
			margin: 0;
		}

		.footer-nav li:nth-child(2n) {
			display: none;
		}

		.footer-row-2 {
			padding: 24px 0 0 0;
		}

		.footer-row-2 .copy-right {
			float: none !important;
			margin: 0 0 24px 0;
			font-size: 14px;
			color: #a2a3a3;
		}

		.footer-row-2 .footer-nav {
			float: none !important;
		}
	}
	/* BEGIN responsive - medium+ */
	@media (min-width:768px) {

		.sw-app-menu-trigger {
			font-size: 15px;
			font-weight: 600;
			text-shadow: 0 0 1px rgba(255,255,255,0.2);
		}

		.sw-app-menu {
			& {
				width: 370px;
				left: -370px;
				padding: 15px 30px;
				font-size: 15px;
				line-height: 28px;
				font-weight: 700;
				letter-spacing: 1.8px;
			}

			.closing-trigger {
				top: 17px;
				right: 30px;
			}
		}

		main {
			padding-top: 0;
		}

		.crm-header {
			& {
				position: relative;
				width: auto;
				height: auto;
				max-width: 980px;
				padding: 16px 0 0 0;
				margin: 0 auto;
			}

			.sagenav {
				padding: 0;
				box-shadow: none;
				border: none;
			}

			a.sagenav-brand {
				/* sageworks logo */
				padding: 0;
				width: 91px;
				height: 32px;
			}

			div.sagenav-brand {
				/* abrigo logo */
				padding: 0;
				width: 144px;
				height: 32px;
			}

			.product-heading {
				display: block;
				padding: 0;
				position: absolute;
				top: 4px;
				left: 128px;
				font-size: 15px;
			}

			.sub-top-nav.account {
				width: auto;
				right: 156px;
			}

			.sub-top-nav.tools {
				display: block;
				width: auto;
				position: absolute;
				top: auto;
				left: auto;
				right: 0;
				bottom: -32px;
			}

			.sagenav .sticky {
				width: 100%;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 10;
				background-color: #fff;
			}

			.sagenav .sticky #sticky {
				margin: 0 auto;
				max-width: 980px;
			}

			.sagenav #sticky {
				padding: 8px 0 2px 0;
				border-bottom: 3px solid #666;
			}

			.sagenav-menu {
				display: table;
				width: 100%;
				border-bottom: 2px dotted #666;
				font-weight: bold;
				letter-spacing: 1px;
				text-align: center;
			}

			.sagenav-menu .top-lvl-li-item {
				display: table-cell;
				width: auto;
				max-width: 0; /*to massage all cells into equal-width*/
				padding: 0 8px;
				margin: 0;
				position: relative;
			}

			.sagenav-menu .top-lvl-li-item > ul.dropdown {
				top: 24px;
				left: 0;
			}

			.sagenav-menu .top-lvl-li-item.right > ul.dropdown {
				left: auto;
				right: 0;
			}

			.sagenav-menu .sub-lvl-li-item > a {
				padding: 4px 16px;
				transition: padding 0.2s linear;
			}

			.sagenav-menu .sub-lvl-li-item > a:hover {
				padding-left: 24px;
				padding-right: 8px;
			}
		}

		.crm-page {
			padding: 24px 24px 0 24px;
		}

		.crm-card {
			& {
				padding: 16px;
			}

			h4 {
				padding: 0 80px;
				margin-bottom: 16px;
			}

			.crm-card-options {
				position: absolute;
				top: 16px;
				right: 15px;
			}

			.crm-card-filters-links {
				display: block;
			}

			.crm-card-filters-dropdown {
				display: none;
			}

			.swtable thead th, .swtable .heading-row th {
				white-space: nowrap;
			}

			.swtable .no-data-message {
				text-align: center;
			}
		}

		.crm-card-customer {
			.swtable {
				.field-label, .custom-table-input-field {
					padding-top: 4px;
				}
			}
		}

		.crm-scorecard-items {
			display: table;
			width: 100%;
		}

		.crm-scorecard-item {
			display: table-cell;
			vertical-align: top;
			margin: 16px 16px;
		}

		.crm-footer {
			& {
				max-width: 980px;
				margin: 24px auto 0 auto;
			}

			.sw-app-footer::after {
				content: "\000020";
				display: table;
				width: 100%;
				clear: both;
			}

			#expandmefooter {
				width: 50%;
				float: left;
			}

			.footer-row-2 {
				width: 50%;
				float: right;
				padding: 0;
			}
		}
	}
	/* END responsive - medium+ */
	/* BEGIN responsive - large+ */
	@media (min-width:992px) {
	}
	/* END responsive - large+ */
	/* BEGIN responsive - xl+ */
	@media (min-width:1200px) {
		.sw-app-menu-trigger {
			width: 166px;
			top: 186px;
			line-height: 45px;
			letter-spacing: 1.8px;
		}

		.crm-header {
			a.sagenav-brand {
				/* sageworks logo */
				margin: 0 auto 0 0;
			}

			div.sagenav-brand {
				/* abrigo logo */
				right: 0px;
			}

			.product-heading {
				left: 116px;
			}

			.sub-top-nav {
				padding-right: 0;
				font-size: 14px;
				letter-spacing: 1px;
			}

			.sagenav-menu .top-lvl-li-item {
				padding: 0;
			}

			.sagenav-menu .top-lvl-li-item > a {
				font-size: 14px;
			}

			.sagenav-menu .sub-lvl-li-item > a {
				font-size: inherit;
			}
		}

		.crm-page {
			padding-left: 48px;
			padding-right: 48px;
		}

		.crm-footer {
			.sw-app-footer {
				padding: 40px 0 24px 0;
				font-size: 14px;
			}

			.footer-nav li {
				display: inline-block;
				padding: 0 5px 0 0;
				vertical-align: top;
			}

			.footer-nav li:nth-child(2n) {
				display: inline-block;
			}

			#expandmefooter {
				width: auto;
				float: none;
				letter-spacing: 0.9px;
			}

			.footer-row-2 {
				width: auto;
				float: none;
				padding: 16px 0 0 0;
				font-size: 12px;
				font-style: italic;
			}

			.footer-row-2 .copy-right {
				display: inline-block;
				margin: 0 24px 0 0;
				font-size: inherit;
			}

			.footer-row-2 .footer-nav {
				display: inline-block;
				letter-spacing: 0.9px;
			}
		}
	}
	/* END responsive - xl+ */
}

.integrationCell {
	background-color: #e1ecf7 !important;
}

#backTT {
	z-index: -9999999;
	position: absolute;
	top: 0;
}

.workflow-expanding-tab, .workflow-expanding-tab-title-bar, #workflowExpandingTab {
	background-color: #295e8e;

	.workflow-tab-link, a.workflow-tab-link {
		color: #ffffff;
		font-size: 18px;
		text-transform: lowercase;
		letter-spacing: 0.1em;
		line-height: 1.5em;
		font-family: $font-sc-osf;
		font-weight: $font-bold;
		display: block;
		padding: 10px;

		&:hover {
			opacity: 0.5;
		}
	}


	.flip-vertical {
		transform: scaleY(-1);
		-ms-transform: scaleY(-1);
	}
}

.workflow-expanding-tab {
	position: fixed;
	bottom: 0;
	right: 20px;
	z-index: 3;
}

.workflow-expanding-tab-popup {
	position: fixed;
	bottom: 0;
	right: 20px;
	padding: 0;
}

.workflow-expanding-tab-content-container.ui-dialog-content {
	padding: 0;
	overflow: hidden;

	.workflow-expanding-tab-content {
		height: 100%;

		.expand-link, .collapse-link {
			color: $brand-blue;
		}

		.collapse-link {
			padding-left: 5px;
		}

		img.left-arrow {
			transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			margin: -3px -3px 0px 4px;
			height: 12px;
			width: 8px;
		}

		img.right-arrow {
			margin: -2px 0px 0 -3px;
			height: 12px;
			width: 8px;
		}
	}

	.workflow-popup-iframe {
		height: 100%;
		width: 100%;
		border: none;
	}

	#workflowExpandingTabSpinner {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;

		.vertical-align-spinner {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.fa-spinner {
			color: rgb(80, 145, 205);
			background-color: transparent;
		}
	}
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: $gray-lighter;
	border-radius: $border-radius-base;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: $gray-lighter;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: $brand-blue;
}
