@mixin svg-sprite {
	background: url("svg-sprite.svg") no-repeat;
}

%a-icon-ALLL--Advanced-Analysis {
	@include svg-sprite;
	background-position: 0 0;
}

%a-icon-ALLL--Advanced-Analysis-dims {
	width: 52px;
	height: 52px;
}

%a-icon-ALLL--Allowance-Forecasting {
	@include svg-sprite;
	background-position: 61.6600790513834% 0;
}

%a-icon-ALLL--Allowance-Forecasting-dims {
	width: 52px;
	height: 47.54px;
}

%a-icon-ALLL--Data-Audit {
	@include svg-sprite;
	background-position: 0 57.41794685266807%;
}

%a-icon-ALLL--Data-Audit-dims {
	width: 52px;
	height: 46.31px;
}

%a-icon-ALLL--Model_Validation {
	@include svg-sprite;
	background-position: 0 21.590201370147394%;
}

%a-icon-ALLL--Model_Validation-dims {
	width: 52px;
	height: 39.15px;
}

%a-icon-ALLL--Policy-Review {
	@include svg-sprite;
	background-position: 41.10671936758893% 0;
}

%a-icon-ALLL--Policy-Review-dims {
	width: 52px;
	height: 40.76px;
}

%a-icon-ALLL--Scenario-Building {
	@include svg-sprite;
	background-position: 41.10671936758893% 16.963542533710672%;
}

%a-icon-ALLL--Scenario-Building-dims {
	width: 52px;
	height: 39.72px;
}

%a-icon-Adobe {
	@include svg-sprite;
	background-position: 45.32374100719424% 40.741444866920155%;
}

%a-icon-Adobe-dims {
	width: 27px;
	height: 17px;
}

%a-icon-Arrow-Gray {
	@include svg-sprite;
	background-position: 41.10671936758893% 29.172103813252136%;
}

%a-icon-Arrow-Gray-dims {
	width: 52px;
	height: 4.12px;
}

%a-icon-Calendar {
	@include svg-sprite;
	background-position: 99.29824561403508% 66.66666666666667%;
}

%a-icon-Calendar-dims {
	width: 20px;
	height: 16px;
}

%a-icon-Checkbox--Checked-Disabled {
	@include svg-sprite;
	background-position: 91.48936170212765% 26.459143968871594%;
}

%a-icon-Checkbox--Checked-Disabled-dims {
	width: 23px;
	height: 23px;
}

%a-icon-Checkbox--Checked-Enabled {
	@include svg-sprite;
	background-position: 91.48936170212765% 35.40856031128405%;
}

%a-icon-Checkbox--Checked-Enabled-dims {
	width: 23px;
	height: 23px;
}

%a-icon-Checkbox--Checked-Styled {
	@include svg-sprite;
	background-position: 91.81494661921708% 8.949416342412452%;
}

%a-icon-Checkbox--Checked-Styled-dims {
	width: 24px;
	height: 23px;
}

%a-icon-Checkbox--Partial-Selection {
	@include svg-sprite;
	background-position: 91.48936170212765% 60.70038910505836%;
}

%a-icon-Checkbox--Partial-Selection-dims {
	width: 23px;
	height: 23px;
}

%a-icon-Checkbox--Unchecked-Disabled {
	@include svg-sprite;
	background-position: 0 99.80155642023347%;
}

%a-icon-Checkbox--Unchecked-Disabled-dims {
	width: 23px;
	height: 23px;
}

%a-icon-Checkbox--Unchecked-Enabled {
	@include svg-sprite;
	background-position: 91.48936170212765% 51.750972762645915%;
}

%a-icon-Checkbox--Unchecked-Enabled-dims {
	width: 23px;
	height: 23px;
}

%a-icon-Checkmark {
	@include svg-sprite;
	background-position: 22.14532871972318% 77.45833333333333%;
}

%a-icon-Checkmark-dims {
	width: 16px;
	height: 16px;
}

%a-icon-Chevron-Down {
	@include svg-sprite;
	background-position: 80.13698630136986% 63.23529411764706%;
}

%a-icon-Chevron-Down-dims {
	width: 13px;
	height: 8px;
}

%a-icon-Chevron-Left {
	@include svg-sprite;
	background-position: 50.168350168350166% 76.5880149812734%;
}

%a-icon-Chevron-Left-dims {
	width: 8px;
	height: 13px;
}

%a-icon-Chevron-Right {
	@include svg-sprite;
	background-position: 67.34006734006734% 59.243445692883896%;
}

%a-icon-Chevron-Right-dims {
	width: 8px;
	height: 13px;
}

%a-icon-Chevron-Up {
	@include svg-sprite;
	background-position: 71.23287671232876% 63.23529411764706%;
}

%a-icon-Chevron-Up-dims {
	width: 13px;
	height: 8px;
}

%a-icon-Credit_Memo--Edit-Merge-Field-Mapping {
	@include svg-sprite;
	background-position: 57.142857142857146% 42.16015625%;
}

%a-icon-Credit_Memo--Edit-Merge-Field-Mapping-dims {
	width: 32px;
	height: 24px;
}

%a-icon-Credit_Memo--Refresh-Template {
	@include svg-sprite;
	background-position: 91.48936170212765% 78.29457364341086%;
}

%a-icon-Credit_Memo--Refresh-Template-dims {
	width: 23px;
	height: 22px;
}

%a-icon-Credit_Memo--Report-Mapping-Panel {
	@include svg-sprite;
	background-position: 76.19047619047619% 57.8125%;
}

%a-icon-Credit_Memo--Report-Mapping-Panel-dims {
	width: 32px;
	height: 24px;
}

%a-icon-Credit_Memo--Save-Changes-Back-to-Sageworks {
	@include svg-sprite;
	background-position: 99.64788732394366% 59.84555984555985%;
}

%a-icon-Credit_Memo--Save-Changes-Back-to-Sageworks-dims {
	width: 21px;
	height: 21px;
}

%a-icon-Credit_Memo--Save-as-Customer-Specific-Memo {
	@include svg-sprite;
	background-position: 33.6996336996337% 52.4140625%;
}

%a-icon-Credit_Memo--Save-as-Customer-Specific-Memo-dims {
	width: 32px;
	height: 24px;
}

%a-icon-Credit_Memo--Save-as-New-General-Template {
	@include svg-sprite;
	background-position: 45.42124542124542% 52.4140625%;
}

%a-icon-Credit_Memo--Save-as-New-General-Template-dims {
	width: 32px;
	height: 24px;
}

%a-icon-Credit_Memo--Show-Labels {
	@include svg-sprite;
	background-position: 57.142857142857146% 52.4140625%;
}

%a-icon-Credit_Memo--Show-Labels-dims {
	width: 32px;
	height: 24px;
}

%a-icon-Credit_Memo--Show-Values {
	@include svg-sprite;
	background-position: 0 70.50390625%;
}

%a-icon-Credit_Memo--Show-Values-dims {
	width: 32px;
	height: 24px;
}

%a-icon-Customer {
	@include svg-sprite;
	background-position: 27.303754266211605% 77.45833333333333%;
}

%a-icon-Customer-dims {
	width: 12px;
	height: 16px;
}

%a-icon-Delete-Disabled {
	@include svg-sprite;
	background-position: 45.57823129251701% 67.09665427509293%;
}

%a-icon-Delete-Disabled-dims {
	width: 11px;
	height: 11px;
}

%a-icon-Delete-Enabled {
	@include svg-sprite;
	background-position: 56.46258503401361% 67.09665427509293%;
}

%a-icon-Delete-Enabled-dims {
	width: 11px;
	height: 11px;
}

%a-icon-Document {
	@include svg-sprite;
	background-position: 31.724137931034484% 77.45833333333333%;
}

%a-icon-Document-dims {
	width: 15px;
	height: 16px;
}

%a-icon-Edit-Pencil {
	@include svg-sprite;
	background-position: 36.89655172413793% 77.16603773584906%;
}

%a-icon-Edit-Pencil-dims {
	width: 15px;
	height: 15px;
}

%a-icon-Exclamation-Bubble-Blue {
	@include svg-sprite;
	background-position: 65.50522648083624% 41.19465648854962%;
}

%a-icon-Exclamation-Bubble-Blue-dims {
	width: 18px;
	height: 18px;
}

%a-icon-Exclamation-Bubble-Orange {
	@include svg-sprite;
	background-position: 20.209059233449477% 87.97328244274809%;
}

%a-icon-Exclamation-Bubble-Orange-dims {
	width: 18px;
	height: 18px;
}

%a-icon-Export--Excel {
	@include svg-sprite;
	background-position: 52.51798561151079% 59.916666666666664%;
}

%a-icon-Export--Excel-dims {
	width: 27px;
	height: 16px;
}

%a-icon-Export--Excel-White {
	@include svg-sprite;
	background-position: 39.57597173144876% 67.34701492537313%;
}

%a-icon-Export--Excel-White-dims {
	width: 22px;
	height: 12px;
}

%a-icon-Export--Word {
	@include svg-sprite;
	background-position: 45.32374100719424% 34.52651515151515%;
}

%a-icon-Export--Word-dims {
	width: 27px;
	height: 16px;
}

%a-icon-File-Blank {
	@include svg-sprite;
	background-position: 99.65277777777777% 73.5632183908046%;
}

%a-icon-File-Blank-dims {
	width: 17px;
	height: 19px;
}

%a-icon-File-Download {
	@include svg-sprite;
	background-position: 98.95104895104895% 16.666666666666668%;
}

%a-icon-File-Download-dims {
	width: 19px;
	height: 22px;
}

%a-icon-File-Search {
	@include svg-sprite;
	background-position: 21.223021582733814% 69.95736434108527%;
}

%a-icon-File-Search-dims {
	width: 27px;
	height: 22px;
}

%a-icon-Financial-Statement {
	@include svg-sprite;
	background-position: 62.23021582733813% 59.916666666666664%;
}

%a-icon-Financial-Statement-dims {
	width: 27px;
	height: 16px;
}

%a-icon-Financial-Statement-Old {
	@include svg-sprite;
	background-position: 42.805755395683455% 59.916666666666664%;
}

%a-icon-Financial-Statement-Old-dims {
	width: 27px;
	height: 16px;
}

%a-icon-Folder-3D-Empty {
	@include svg-sprite;
	background-position: 99.64788732394366% 32.45283018867924%;
}

%a-icon-Folder-3D-Empty-dims {
	width: 21px;
	height: 15px;
}

%a-icon-Folder-Flat-Empty {
	@include svg-sprite;
	background-position: 98.60627177700349% 87.12121212121212%;
}

%a-icon-Folder-Flat-Empty-dims {
	width: 18px;
	height: 16px;
}

%a-icon-Folder-Flat-Full {
	@include svg-sprite;
	background-position: 98.60627177700349% 99.62121212121212%;
}

%a-icon-Folder-Flat-Full-dims {
	width: 18px;
	height: 16px;
}

%a-icon-Global_Settings--Account-Access {
	@include svg-sprite;
	background-position: 34.90909090909091% 38.459915611814345%;
}

%a-icon-Global_Settings--Account-Access-dims {
	width: 30px;
	height: 43px;
}

%a-icon-Global_Settings--Additional-Financials {
	@include svg-sprite;
	background-position: 19.62264150943396% 55.90833333333333%;
}

%a-icon-Global_Settings--Additional-Financials-dims {
	width: 40px;
	height: 40px;
}

%a-icon-Global_Settings--Automation-Settings {
	@include svg-sprite;
	background-position: 80.62015503875969% 21.645021645021647%;
}

%a-icon-Global_Settings--Automation-Settings-dims {
	width: 47px;
	height: 49px;
}

%a-icon-Global_Settings--Core-Integration {
	@include svg-sprite;
	background-position: 80.93385214007782% 42.857142857142854%;
}

%a-icon-Global_Settings--Core-Integration-dims {
	width: 48px;
	height: 49px;
}

%a-icon-Global_Settings--Create-Desktop-Shortcut {
	@include svg-sprite;
	background-position: 0 38.46478457188674%;
}

%a-icon-Global_Settings--Create-Desktop-Shortcut-dims {
	width: 52px;
	height: 43.03px;
}

%a-icon-Global_Settings--Loan-Rate {
	@include svg-sprite;
	background-position: 81.56862745098039% 0;
}

%a-icon-Global_Settings--Loan-Rate-dims {
	width: 50px;
	height: 50px;
}

%a-icon-Global_Settings--Manage-Users {
	@include svg-sprite;
	background-position: 20.553359683794465% 20.840012824623276%;
}

%a-icon-Global_Settings--Manage-Users-dims {
	width: 52px;
	height: 30.48px;
}

%a-icon-Global_Settings--Merge-Duplicate-Customers {
	@include svg-sprite;
	background-position: 19.92337164750958% 38.459915611814345%;
}

%a-icon-Global_Settings--Merge-Duplicate-Customers-dims {
	width: 44px;
	height: 43px;
}

%a-icon-Global_Settings--My-Account {
	@include svg-sprite;
	background-position: 20.553359683794465% 0;
}

%a-icon-Global_Settings--My-Account-dims {
	width: 52px;
	height: 36.59px;
}

%a-icon-Global_Settings--Third-Party-Connections {
	@include svg-sprite;
	background-position: 61.6600790513834% 19.971433372542432%;
}

%a-icon-Global_Settings--Third-Party-Connections-dims {
	width: 52px;
	height: 41.96px;
}

%a-icon-Link {
	@include svg-sprite;
	background-position: 17.465753424657535% 77.75285171102662%;
}

%a-icon-Link-dims {
	width: 13px;
	height: 17px;
}

%a-icon-Lock {
	@include svg-sprite;
	background-position: 15.699658703071673% 87.97328244274809%;
}

%a-icon-Lock-dims {
	width: 12px;
	height: 18px;
}

%a-icon-More-Options {
	@include svg-sprite;
	background-position: 94.01993355481727% 73.84615384615384%;
}

%a-icon-More-Options-dims {
	width: 4px;
	height: 20px;
}

%a-icon-Percent {
	@include svg-sprite;
	background-position: 52.88135593220339% 67.09665427509293%;
}

%a-icon-Percent-dims {
	width: 10px;
	height: 11px;
}

%a-icon-Policy-Exception-Empty {
	@include svg-sprite;
	background-position: 91.48936170212765% 43.67816091954023%;
}

%a-icon-Policy-Exception-Empty-dims {
	width: 23px;
	height: 19px;
}

%a-icon-Policy-Exception-Full {
	@include svg-sprite;
	background-position: 99.64788732394366% 38.54961832061068%;
}

%a-icon-Policy-Exception-Full-dims {
	width: 21px;
	height: 18px;
}

%a-icon-Print {
	@include svg-sprite;
	background-position: 98.95104895104895% 80.91603053435115%;
}

%a-icon-Print-dims {
	width: 19px;
	height: 18px;
}

%a-icon-Question-Bubble {
	@include svg-sprite;
	background-position: 65.50522648083624% 51.213740458015266%;
}

%a-icon-Question-Bubble-dims {
	width: 18px;
	height: 18px;
}

%a-icon-Relationship {
	@include svg-sprite;
	background-position: 30.82437275985663% 68.36742424242425%;
}

%a-icon-Relationship-dims {
	width: 26px;
	height: 16px;
}

%a-icon-Sageworks-Logo {
	@include svg-sprite;
	background-position: 61.6600790513834% 34.21646213250755%;
}

%a-icon-Sageworks-Logo-dims {
	width: 52px;
	height: 18.43px;
}

%a-icon-Search {
	@include svg-sprite;
	background-position: 98.60627177700349% 93.5361216730038%;
}

%a-icon-Search-dims {
	width: 18px;
	height: 17px;
}

%a-icon-Tax-Mapping-T {
	@include svg-sprite;
	background-position: 41.49659863945578% 76.87593984962406%;
}

%a-icon-Tax-Mapping-T-dims {
	width: 11px;
	height: 14px;
}

%a-icon-Tax-Return {
	@include svg-sprite;
	background-position: 33.093525179856115% 59.916666666666664%;
}

%a-icon-Tax-Return-dims {
	width: 27px;
	height: 16px;
}

%a-icon-Text-Bubble-Empty {
	@include svg-sprite;
	background-position: 99.64788732394366% 45.41984732824427%;
}

%a-icon-Text-Bubble-Empty-dims {
	width: 21px;
	height: 18px;
}

%a-icon-Text-Bubble-Full {
	@include svg-sprite;
	background-position: 99.64788732394366% 52.29007633587786%;
}

%a-icon-Text-Bubble-Full-dims {
	width: 21px;
	height: 18px;
}

%a-icon-White--Arrow-White {
	@include svg-sprite;
	background-position: 18.978102189781023% 13.551851851851854%;
}

%a-icon-White--Arrow-White-dims {
	width: 31px;
	height: 10px;
}

%a-icon-White--Chevron-Down-White {
	@include svg-sprite;
	background-position: 88.35616438356165% 90.80882352941177%;
}

%a-icon-White--Chevron-Down-White-dims {
	width: 13px;
	height: 8px;
}

%a-icon-White--Chevron-Left-White {
	@include svg-sprite;
	background-position: 44.78114478114478% 76.5880149812734%;
}

%a-icon-White--Chevron-Left-White-dims {
	width: 8px;
	height: 13px;
}

%a-icon-White--Chevron-Right-White {
	@include svg-sprite;
	background-position: 47.474747474747474% 76.5880149812734%;
}

%a-icon-White--Chevron-Right-White-dims {
	width: 8px;
	height: 13px;
}

%a-icon-White--Chevron-Up-White {
	@include svg-sprite;
	background-position: 75.68493150684931% 63.23529411764706%;
}

%a-icon-White--Chevron-Up-White-dims {
	width: 13px;
	height: 8px;
}

%a-icon-White--Delete-White {
	@include svg-sprite;
	background-position: 49.31972789115646% 67.09665427509293%;
}

%a-icon-White--Delete-White-dims {
	width: 11px;
	height: 11px;
}

%a-icon-White--administration {
	@include svg-sprite;
	background-position: 100% 8.494208494208495%;
}

%a-icon-White--administration-dims {
	width: 22px;
	height: 21px;
}

%a-icon-White--alll-cecl {
	@include svg-sprite;
	background-position: 0 90.74409448818898%;
}

%a-icon-White--alll-cecl-dims {
	width: 20px;
	height: 26px;
}

%a-icon-White--analysis {
	@include svg-sprite;
	background-position: 92.14285714285714% 0;
}

%a-icon-White--analysis-dims {
	width: 25px;
	height: 23px;
}

%a-icon-White--analytics-and-reporting {
	@include svg-sprite;
	background-position: 99.64788732394366% 25.096525096525095%;
}

%a-icon-White--analytics-and-reporting-dims {
	width: 21px;
	height: 21px;
}

%a-icon-White--application {
	@include svg-sprite;
	background-position: 11.510791366906474% 69.95736434108527%;
}

%a-icon-White--application-dims {
	width: 27px;
	height: 22px;
}

%a-icon-White--community {
	@include svg-sprite;
	background-position: 91.1660777385159% 69.64980544747081%;
}

%a-icon-White--community-dims {
	width: 22px;
	height: 23px;
}

%a-icon-White--contact {
	@include svg-sprite;
	background-position: 7.168458781362007% 88.3103448275862%;
}

%a-icon-White--contact-dims {
	width: 26px;
	height: 19px;
}

%a-icon-White--global-settings {
	@include svg-sprite;
	background-position: 91.48936170212765% 87.15953307392996%;
}

%a-icon-White--global-settings-dims {
	width: 23px;
	height: 23px;
}

%a-icon-White--insights {
	@include svg-sprite;
	background-position: 0 80.50787401574803%;
}

%a-icon-White--insights-dims {
	width: 25px;
	height: 26px;
}

%a-icon-White--miscellaneous {
	@include svg-sprite;
	background-position: 100% 0;
}

%a-icon-White--miscellaneous-dims {
	width: 22px;
	height: 22px;
}

%a-icon-White--portfolio {
	@include svg-sprite;
	background-position: 91.81494661921708% 17.829457364341085%;
}

%a-icon-White--portfolio-dims {
	width: 24px;
	height: 22px;
}

%a-icon-White--profile {
	@include svg-sprite;
	background-position: 82.47422680412372% 56.48854961832061%;
}

%a-icon-White--profile-dims {
	width: 14px;
	height: 18px;
}

%a-icon-White--stress-testing {
	@include svg-sprite;
	background-position: 8.960573476702509% 77.75285171102662%;
}

%a-icon-White--stress-testing-dims {
	width: 26px;
	height: 17px;
}

%a-icon-White--workflow {
	@include svg-sprite;
	background-position: 8.12720848056537% 99.03088803088804%;
}

%a-icon-White--workflow-dims {
	width: 22px;
	height: 21px;
}

