

<div class="container">
    {% for category in site.data.icons.gallery %}
    <div class="row">
        <h3 class="category-title">{{ category.cat }}</h3>
    </div>
    <div class="row">
        {% for icon in category.def %}
        <div class="col-md-2">
            <a href="{{ icon.icon_url }}">
                <div class="icon-card {{ icon.icon_class }} card">
                    <h3 class="icon-title">{{ icon.icon_alt }} </h3>
                    {% assign size=40 %}
                    {% svg "/svg/{{ icon.icon_src }}" %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <!-- End Gallery -->
</div>
