/*
	Sageworks Global Navigation
	
	Container - rules which impact the entire page container when the global navigation is enabled.
	These types of rules are extremely unsafe and should be kept minimal.

	root context: "body.globalnav-enabled"
*/

/* baseline container  */
& {
	padding-top: $globalnav-sidebar-width-closed !important;
	padding-left: 0px;
	transition: padding $globalnav-timing-expansion ease;
}

/* block animations during startup */
&.globalnav-initializing {
	transition: none !important;
}

/* ### RESPONSIVE BREAKPOINT ## : At this size, we start reserving space for the collapsed menu */
@media only screen and (min-width:$globalnav-breakpoint-width-for-visible-docking) {
	& {
		padding-left: $globalnav-sidebar-width-closed;
	}
}

/* ### RESPONSIVE BREAKPOINT ## : At this size, we start compressing the body area when we open the menu */
@media only screen and (min-width:$globalnav-breakpoint-width-for-body-compression) {
	&.globalnav-menu-active {
		padding-left: $globalnav-sidebar-width-open;
	}
}

/* hide analyst conflict */
header[data-identifier="AnalystHeader"] {
	display: none;
}

/* hide analyst conflict */
div[data-identifier="ProductMenu"], span[data-identifier="ProductMenuTrigger"] {
	display: none !important;
}

/* override analyst conflict - crm responsive master page has its own system for reserving top space for a sticky nav */
.crm-app-content main {
	padding-top: 12px;

	@media only screen and (min-width:$globalnav-breakpoint-width-for-visible-docking) {
		.crm-app-content main {
			padding-top: 0;
		}
	}
}


/* ### LEGACY MODE ### : Display the dropdowns and a partial old header */
&.globalnav-legacy {
	header[data-identifier="AnalystHeader"] {
		& {
			display: block;
			width: 100%;
			position: fixed;
			top: 48px;
			left: 0;
			z-index: 4;
			transition: padding $globalnav-timing-expansion ease;
		}

		.sagenav {
			height: 38px;
		}

		.sagenav-sticky-container {
			width: 100%;
			height: 38px;
			top: 48px;
			left: 0;
			z-index: 4;
		}

		#sticky {
			width: 980px;
			margin: 0 auto;
			position: relative;
		}

		.sagenav-brand, .product-heading, .sub-top-nav {
			display: none;
		}
	}
	/* ### RESPONSIVE BREAKPOINT ## */
	@media only screen and (min-width:$globalnav-breakpoint-width-for-body-compression) {
		header[data-identifier="AnalystHeader"] {
			padding-left: $globalnav-sidebar-width-closed;
		}

		&.globalnav-menu-active header[data-identifier="AnalystHeader"] {
			padding-left: $globalnav-sidebar-width-open;
		}
	}
}
