/*
	Sageworks Global Navigation

	Header - rules for the insulated header.

	root context: "body.globalnav-enabled #globalnav"
*/

.gn-header {
	& {
		width: 100%;
		height: 48px;
		padding: 0 0 0 48px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 510;
		box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
		background-color: #fff;
		font-family: $font;
		font-size: 14px;
		line-height: 21px;
		color: $gray;
	}

	.gn-header-trigger {
		width: 32px;
		height: 32px;
		padding: 0;
		position: absolute;
		top: 8px;
		left: 8px;
		z-index: 511;
		color: $gray;
		text-align: center;
		font-size: 24px;
		line-height: 32px;
		cursor: pointer;

		i {
			cursor: pointer;
		}

		.opener {
			display: inline-block;
		}

		.closer {
			display: none;
		}
	}

	.gn-header-liner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	%gn-header-el {
		display: block;
		position: absolute;
		top: 12px;
		border: 0;
		outline: 0;

		img {
			display: block;
			height: 100%;
			width: auto;
			margin: 0 auto 0 0;
		}
	}

	.gn-header-homelink {
		@extend %gn-header-el;
		width: 69px;
		height: 24px;
		left: 0;
	}

	.gn-header-abrigo {
		@extend %gn-header-el;
		width: 108px;
		height: 24px;
		right: 12px;
	}

	.gn-header-product-label {
		display: block;
		position: absolute;
		top: 8px;
		left: 116px;
		font-size: 15px;
		line-height: 32px;
		text-transform: uppercase;
		color: $brand-dark-blue;
		letter-spacing: 2px;
		font-weight: 700;
	}

	.gn-header-actions {
		display: block;
		position: absolute;
		top: 8px;
		right: 135px;
		font-family: $font-serif, times new roman, serif;
		font-size: 16px;
		line-height: 32px;
		font-style: italic;

		> * {
			display: inline-block;
		}

		> a {
			display: inline-block;
			margin: 0 0 0 16px;
			color: $gray;
			text-decoration: none;
		}
	}
}

/* menu active state */
&.gn-menu-active {
	.gn-header-trigger {
		background-color: rgba(0,0,0,0.05);

		.opener {
		}

		.closer {
		}
	}
}

/* ### RESPONSIVE BREAKPOINT ## : At this size, we start showing the docked menu */
@media only screen and (min-width:$globalnav-breakpoint-width-for-visible-docking) {
	.gn-header {
		.gn-header-trigger {
			display: none;
		}

		.gn-header-homelink {
			width: 92px;
			height: 32px;
			top: 8px;
		}

		.gn-header-abrigo {
			width: 135px;
			height: 30px;
			top: 9px;
		}

		.gn-header-actions {
			right: 165px;
		}
	}
}
