/*
Version: 2.0
Author: Bradley Sosnowski
*/
@import '../thirdparty/bootstrap_v4/bootstrap';
@import "../thirdparty/compass";
@import 'vars';
@import 'mixins';
@import 'grid';
@import 'inputs';
@import 'jquery-ui';
@import 'leftmenu';
@import 'helpers';
@import '../insulated/globalnav/globalnav';
@import '../vendor/magnific';
@import '../vendor/hamburger';
@import '../vendor/chosen';
@import '../thirdparty/material/material';
@import '../insulated/notifications/notifications';
@import '../analyst/partials/toasts';

//-----------------------------------*\
// Components
//-----------------------------------*/
@import '../components/_sw-dashboard';
@import '../components/_sw-loading';
@import '../components/_sw-table-custom-table.scss';
@import '../components/_sw-auto-complete.scss';

$pad: 20px;

.orange {
    color: $brand-orange;
}

.blue {
	color: $brand-blue;
}

.md-button.md-primary:disabled {
	opacity: 0.5;
}

html {
    background-color: $gray-lighter;

    @include media-breakpoint-up(sm) {
        .inlineMsgContent {
            display: block;
        }
    }
}

body {
    font-family: $font;
    font-size: $font-size;
}

// hide/show mobile
.mobile-jank {
    @include media-breakpoint-down('sm'){
        display: none;
        visibility: hidden;
    };
}

.exception-debug-info {
	padding: 12px;
	position: relative;
	z-index: 10000;
	white-space: pre-wrap;
	font-family: courier new,monospace;
	font-size: 14px;
	line-height: 20px;
	border-bottom: solid 3px #ff0000;
	border-top: solid 2px #ff0000;
	background-color: #fffdf0;
	color: #000;
}

.exception-debug-info br {
	display:none;
}

.form-divider.card {
    margin-bottom: 0;
    width: 100%;
    border-color: white;
    min-height: 30px;
    .card-body {
        padding: 0.25rem;
        text-align: center;
    }
}

.white-background {
    background-color: #fff !important;
}

.label-row {
    font-size: 1.2em;
    background-color: #efefef;
    width: calc(100% + 20px);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 5px;
}

.divider:not(.last) {
	&:after {
		content: '';
		display: block;
		height: 1px;
		margin-top: 0;
		margin-bottom: 10px;
		background-color: $gray-lighter;
		@include box-shadow(0 0 7px -0.2px rgba(0,0,0,0.1));
		right: 40px;
	}
}

.custom-form-comments-label {
	flex: 0 0 20.833%;
	max-width: 20.833%;
	padding-right: 15px;
	padding-left: 15px;
}

.custom-form-comments-input {
	padding-top: 6px;
	padding-bottom: 6px;
	overflow-x: hidden;
}

.sw-table-custom-table-header {
	position: relative;

	a.export-to-excel-link {
		position: absolute;
		top: 0;
		right: 0;
	}
}

//Typography
%page-head {
    color: $gray;
    font-family: $font;
    font-weight: $font-sbold;
}
@mixin grey-head() {
    min-height: 34px;
    background-color: $gray-lighter;
    margin-top: -20px !important;
    line-height: 2em;
}

h3 {
    @extend %page-head;
    font-size: $font-size-h3;
    text-transform: uppercase;
    text-align: center;
    &.grey-heading {
        @include grey-head();
    }
}

h4 {
	@extend %page-head;
	font-size: $font-size-h4;

	&.grey-heading {
		@include grey-head();
	}

	&.analyst-header {
		font-family: proxima-nova-sc-osf,arial,sans-serif;
		text-transform: lowercase;
		font-size: 17px;
		font-weight: 700;
		letter-spacing: 2.5px;
	}
}

/*copied delete from analyst.css*/
.deleteCell a,
a.deleteCell, .delete-x {
    margin-left: 1px;
    display: block;
    height: 17px;
    width: 19px;
    background: url(//resources.sageworks.com/images/analyst/icons/1x/x.png) 0 0 no-repeat;
    cursor: pointer;
}

.deleteCell a:hover,
a.deleteCell:hover, .delete-x:hover {
    margin-left: 1px;
    display: block;
    height: 17px;
    width: 19px;
    text-decoration: none;
    background: url(//resources.sageworks.com/images/analyst/icons/1x/x-gray.png) 0 0 no-repeat;
}

.deleteCell a:active,
a.deleteCell:active {
    margin-left: 1px;
    display: block;
    height: 17px;
    width: 19px;
    text-decoration: none;
    background: url(//resources.sageworks.com/images/analyst/icons/1x/x-gray.png) 0 0 no-repeat;
}

// Content container (jumbotron/cards etc.)
.jumbotron {
	border: 1px solid #d5d5d5;
	background-color: white;
	margin-top: 2rem;
	@include box-shadow(0 0 7px -3px rgba(0, 0, 0, 0.5));
}

// Main content
main {
    background-color: $gray-lighter;
    margin-bottom: -30px;
    min-height: 630px;
    &.compact-login {
        background-color: white;
		overflow: auto;
		min-height: auto;
		height: 320px;
    }
}

nav {
    background-color: white;
    @include box-shadow(0 2px 7px -3px rgba(0, 0, 0, 0.5));

}

.nav {
    @include media-breakpoint-down(sm){
        display: none;
    }
    .nav-item:not(.btn-group) {
        padding-top: 8px;
    }
}

.center-positioned-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.feature-flagging-container {
    @extend .center-positioned-container;

    search-bar > input {
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
    }
}

.loan-info-container {
   @extend .center-positioned-container;
}

.loan-info-well {
    max-width: 96%;
    margin-right: auto;
    margin-left: auto;
    border-radius: .2em;

    &.bordered {
        padding: 20px 0;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.text-block-message {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-bottom: 30px;
}

.card-header {
    font-size: $font-size-h2;
}

.bank-logo {
	max-height: 100px;
	max-width: 300px;
	position: relative;
}

.ola-image-placeholder {
    position: relative;

    span[class^='phlayer'] {
        font-family: $font;
        font-weight: $font-sbold;
    }

    .phlayer1 {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background-color: white;
        width: 60px;
        height: 60px;
        line-height: 1.8em;
        padding-left: 11px;
        font-size: $font-size-h2;
        color: $brand-dark-blue;
    }

    .phlayer2 {
        background-color: $brand-dark-blue;
        min-width: 240px;
        min-height: 80px;
        display: block;
        text-align: right;
        padding-right: 17px;
        padding-top: 23px;
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
    }
}

.loan-application {
    .field-label {
        @include media-breakpoint-up(lg){
            text-align: right;
        }
	}
}

.swtable select::-ms-expand {
	display: none;
}


.popover-button-container {
    max-width: 230px;
    margin: 15px auto;
}

.button-condensed {
	line-height: normal !important;
	min-height: 26px !important;
	margin: 0px !important;
}

.borderless td, .borderless th {
	border: none;
}

.table-condensed md-button{
	margin-top: 0px;
	margin-bottom: 0px;
}

.ExpandedTextArea {
	height: 200px;
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;
	border: 1px solid #d5d5d5;
	overflow: auto;
}


// Hidden _md elements
md-next-button, md-prev-button {
	visibility: hidden;
}

// Tab Content with responsive side menu
md-pagination-wrapper {
	@include media-breakpoint-down(sm) {
		visibility: hidden;
		position: absolute;
	}
}

md-tabs-canvas {
	@include media-breakpoint-down(sm) {
		position: absolute;
	}
}

md-tab-content {
	@include media-breakpoint-down(sm) {
		margin-top: 30px;
	}
}

.side-md md-pagination-wrapper {
	min-height: 445px;
	top: 92px;
}

.other-options {
	top: 108px;
	list-style: none;
	background-color: white;
	padding: 15px 30px;
	@include box-shadow(0 0 7px -0.2px rgba(0,0,0,.1));
	visibility: hidden;
	position: absolute;

	&.other-options-show {
		visibility: visible;
		position: relative;
	}

	span {
		font-size: $font-size-medium;
		display: inherit;
		line-height: 3em;

		&:after {
			left: 35px;
			width: 70%;
			position: absolute;
		}
	}

	button {
		width: 100%;
		text-align: left !important;
	}

	img {
		padding-right: 5px;
	}
}

.sublinks {
	background-color: $gray-lighter;
	margin-left: -30px;
	margin-right: -30px;
	padding-left: 10px;
	padding-right: 10px;

	span {
		line-height: 2em;
	}
}

// Mobile slideout menu
.group:after {
    content: '';
    display: table;
    clear: both;
}

.mobile-menu {
	position: absolute;
	display: none;
	width: 100%;

	& a.side-toggle {
		position: relative;
		padding: 7px 15px;
		float: right;

		&:after {
			display: inline-block;
			font-size: 3rem;
			width: 100%;
			content: '\2261';
			color: $brand-blue;
		}
	}

	md-tab-item {
		max-width: 500px !important;
	}

	@include media-breakpoint-down(sm) {
		top: 0;
		right: 0;
		display: block;
		@include transition-transform(0.2s ease-in);

		&.side-menu-show {
			width: 300px;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: auto;
			z-index: 2;
			background-color: $gray-lighter;
			@include transition-transform(0.2s ease-in);
			@include box-shadow(0 0 18px -3px rgba(0,0,0,.5));

			a {
				&:hover, &:focus {
				}
			}
		}
	}
}

.ola-tab-label {
    display: block;
    color: $gray;
    font-family: $font;
    font-size: 13px;
    padding-top: 5px;

    md-tab-item.md-active & {
        color: $gray !important;
    }

    &.thick {
        font-size: 24px;
        padding-top: 25px;
    }
}

.add-a-document-row {
	background-color: $gray-lighter;
	padding: .5em;
	margin-right: 2%;
	margin-bottom: 30px;
	margin-left: 2%;
	text-align: left;
	bottom: 15px;
	border: 1px solid #d5d5d5;
	border-radius: .2em;

	align-content {
		font-weight: $font-sbold;
	}
}

@mixin sized-well($max-width, $bg-color){
    max-width: $max-width;
    background-color: $bg-color;
    margin: 30px auto;
    padding: 15px 30px;
}


.upload-etr-btn {
	@media (min-width: 1600px) {
		position: absolute;
		z-index: 1;
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}



//sign in
.login-well {
	@include sized-well(440px, #fff);

	.compact-login & {
		margin-top: -10px;
	}

	.error-message {
		font-weight: bold;
	}
}

.login-label {
    font-size: $font-size-medium;
}

.document-well {
    @include sized-well(750px, transparent);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;

        &:focus {
            z-index: 2;
        }
    }

    input:-webkit-autofill {
        border: 1px solid $gray-light;
        @include box-shadow(inset 0 0 0px 9999px white);
    }

    input:focus,
    input:-webkit-autofill:focus {
        border-color: $brand-blue;
        -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

.hidden-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-label {
	display: inline-block;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: 1.45;
	cursor: pointer;
	transition: 0.25s;
	-o-transition: 0.25s;
	-ms-transition: 0.25s;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
}

.file-input-label:hover {
	background-color: rgba(158, 158, 158, 0.2);
	border-color: $brand-blue;
}

.has-error {
	border-color: red !important;
}

// Welcome/Management
.loan-officer-bit {
    max-width: 300px;
    margin: 0 auto;
}

md-pagination-wrapper {
    margin-top: 15px !important;

    .md-tab {
        vertical-align: top;
        padding: 0;
    }
}



.md-button-footer-container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    top: -60px;
}
// Loan Application Management page
.loan-application-management {
	.md-raised {
		background-color: $brand-blue;
		color: white;
		font-family: $font;

		&:not([disabled]):hover {
			background-color: $brand-dark-blue;
		}
	}

	.md-button {
		margin-right: auto;
		margin-left: auto;

		&:not(.md-no-bottom-margin) {
			margin-bottom: -15px;
		}
	}

	.jumbotron {
		width: 90%;
		max-width: 1200px;
		min-height: 300px;
	}

	.card {
		width: 80%;
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
	}

	.full-width {
		width: 100%;
	}

	.quarter-width-columns tr td {
		width: 25%;
	}
}

// PFS
.personal-financial-statement {
	border-bottom: 1px solid #d5d5d5;
	height: 1200px;

	.page-content {
		max-width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}

	.jumbotron {
		margin-top: 0px;
		margin-bottom: 80px;
	}

	.summary-table {
		width: 90%;
		max-width: 600px;
		padding-left: 50px;
		margin-left: auto;
		margin-right: auto;
	}

	.radio-input {
		width: auto !important;
	}

	.swtable tbody tr {
		border-bottom: none;
	}

	.swtable td {
		padding: 0;
		text-align: left;
	}

	md-checkbox .md-container {
		top: 10px;
	}

	.sw-menu-page-content {
		position: absolute;
		width: calc(100% - 280px);
	}

	.disabled-loan {
		input, select {
			background-color: #eee;
			color: #888;
			border: 1px solid #d5d5d5;
			pointer-events: none;
		}
	}

	.add-asset-account-container {
		width: 80%;
		max-width: 720px;
		margin-left: auto;
		margin-right: auto;

		.add-asset-account-label {
			width: calc(90% - 200px);
			max-width: 500px;
			padding-top: 2px;
			display: inline-block;
		}
	}

	.credit-report-container {
		background-color: $gray-lighter;
		border: 1px solid #d5d5d5;
		border-radius: .2em;
		padding: 20px 20px 10px 20px;
		margin-left: auto;
		margin-right: auto;
		width: 96%;
		max-width: 800px;

		h3 {
			font-weight: 400;
		}
	}

	.show-on-mobile {
		display: none;
	}

	@media (max-width: 780px) {
		.sw-page-menu {
			width: 100%;
			margin: auto;

			ul {
				margin-top: 10px;
				padding-left: 0px;
			}
		}

		.sw-menu-page-content {
			width: 100%;
			display: block;
		}

		.hide-on-mobile {
			display: none;
		}

		.show-on-mobile {
			display: block;
		}
	}
}

// Footer
footer {
    background-color: white;
    min-height: 60px;
    font-size: $font-size-small;
    @include box-shadow(0 -2px 7px -3px rgba(0, 0, 0, 0.5));

    .powered-by {
        float: left;
        margin-top: 5px;
        margin-right: 15px;
        margin-left: 15px;

        img {
            display: block;
            max-height: 30px;
        }
    }

    .copy-right {
        font-family: aleo;
        line-height: 27px;
        margin-right: 10px;
        margin-top: 15px;
        font-style: italic;
        color: $gray-light;
        float: left;
    }

    .footer-nav {
        letter-spacing: 0em;
        float: left;
        margin-top: 20px;

        .vertical-divider {
            font-style: normal;
        }

        li {
            display: inline;
            margin-right: 5px;

            a {
                color: #555;
            }
        }
    }
}

// Custom Table
.Asterisk:before {
    content: '* ';
}

.last-answer-container {
	margin-bottom: 0px !important;
}

// Application documents tab
.waive-reason-document {
	max-width: 185px;
}

// Application output page
.loan-application-output {
	.jumbotron {
		max-width: 1200px;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.logo {
		max-height: 100px;
		position: absolute;
	}

	.field-label {
		padding-top: 0px !important;
	}

	.signature-section {
		li {
			display: inline-block;
			margin-right: 15px;
		}

		.sig-label {
			font-weight: bold;
		}

		.sig-name {
			width: 25%;
			display: inline-block;
		}

		.sig-line-label {
			width: 70px;
			display: inline-block;
			margin-left: 10px;
		}

		.sig-line, .sig-title-line {
			width: 400px;
			border-bottom: 1px solid #777;
			display: inline-block;
			margin-left: 10px;
		}

		.sig-date-line {
			width: 200px;
			border-bottom: 1px solid #777;
			display: inline-block;
			margin-left: 10px;
		}
	}
}

// Excel image class
.export-to-excel-link {
	width: 37.33px;
	height: 24px;

	background-image: url('//resources.sageworks.com/images/analyst/icons/2x/xcel2X.png');
	background-size: 37.33px 24px;

	&:hover {
		background-image: url('//resources.sageworks.com/images/analyst/icons/2x/xcel2X-hover.png');
	}
}
