.repeater-table select,
.DataTable select,
.sw-app .form-group .styled-select select.form-control,
.sw-app .chzn-single.form-control,
.sw-app select.select-small,
.ui-datepicker-title select {
  background-image: none !important;
  padding: 2px; }

/* [Steven - APR-2552] Dropdowns not working right in IE8 */
/* [Steven - APR-2736] Also IE9 */
/* line 3, ../../../../../../src/includes/scss-1.2.0/ie-specific/for-ie8-only.scss */
.sw-app select,
.sw-app select.select-small,
.sw-app .repeater-table select,
.sw-app .DataTable select,
.sw-app .form-group .styled-select select.form-control {
  font-family: sans-serif; }

.sw-container, .second-sub-section, .container {
  display: table; }
  @media (min-width: 768px) {
    .sw-container, .second-sub-section, .container {
      margin-right: 50px;
      margin-left: 50px; } }

.container, footer.sw-container {
  width: 92.5%; }

.sw-row, .follow-logo-section, .sub-section-b {
  height: 100%; }

.main-section {
  height: 425px; }

.sw-row.dummy .btn {
  margin-top: 30px; }

.sw-one, .sw-two, .sw-three, .sw-four, .sw-five, .sw-six, .sw-seven, .sw-eight, .sw-nine, .sw-ten, .sw-eleven, .sw-twelve, .sw-list-column, .follow-logo-section, .footer-column, .main-section .sw-main-hero .comparison-graph, .main-section .sw-main-hero aside, .sw-resource-column {
  display: table-cell; }

.sw-container.lift {
  margin-top: 20px; }

.sw-one {
  width: 80px; }

.col-md-6, .main-section .main-heading {
  width: 49.9%; }

.main-section {
  width: 100%;
  margin-top: 30px; }

.main-section .sw-main-hero.chart {
  margin-top: 20px;
  margin-bottom: 20px; }

.sub-section-b {
  height: 600px; }

.follow-logo-section {
  width: 100%; }

.follow-logo-section ul li, .follow-logo-section h2 {
  display: table-cell;
  width: 20%; }

.follow-logo-section ul li a img {
  width: 170px; }

.media-item {
  height: 100%;
  display: table-row; }

.media-item .img-box, .media-item .article-details {
  display: table-cell; }

.media-item .article-details {
  position: relative;
  top: 0;
  right: -20px; }

.media-item:not(.col-md-6) .article-details {
  top: -75px; }

.media-item .img-box.size-92 img {
  width: 92px; }

.media-item .img-box.size-125 img {
  width: 125px; }

.media-item .img-box.size-180 img {
  width: 180px; }

.media-item .img-box.size-240 img {
  width: 240px; }

.comparison-legend {
  top: -80px; }

.main-section .sw-main-hero aside {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0; }

.main-section .sw-main-hero .chart-area .chart-title {
  position: relative;
  bottom: 30px; }

.chart-data-tooltip {
  width: 180px;
  padding: 15px; }

.main-section-b {
  width: 1170px; }

.main-section-b .section-content, .col-md-8, .section-content {
  width: 66%;
  float: left;
  border-right: 2px dotted #000; }

.main-section-b .media-column {
  padding-left: 30px; }

.media-column, .contact-column, .col-md-4 {
  float: left;
  width: 31%; }

.media-column, .col-md-4 {
  margin-left: 30px; }

.contact-page .section-content {
  border-right: 2px dotted #000; }

.contact-column form {
  margin-left: 30px; }

.media-column .media-feed article header h3 {
  font-family: "adelle";
  font-size: 16px;
  color: #5091cd;
  margin-top: 5px;
  margin-bottom: 30px; }

.company-legal .sw-twelve .fine-print li {
  display: inline; }

.sagenav {
  border-bottom: 3px dotted #000; }

.main-sub-section {
  padding-left: 0;
  clear: both;
  zoom: 1;
  width: 100%; }

.nav-sidebar-container {
  margin-left: 0;
  width: 28%; }

.main-body-content {
  width: 68%;
  float: right;
  border-left: 3px dotted #000 !important;
  padding-left: 23px; }
  .main-body-content:not(.blog) {
    margin-left: -32px;
    height: 100%; }

.main-body-content div.posts {
  min-height: 525px; }

.main-body-content div:nth-last-child(3).posts {
  display: none !important; }

.follow-logo-section {
  width: 100%; }

.follow-logo-section:before {
  border-width: 0px 3px 0px 0px;
  border-style: dotted; }

.nav-sidebar {
  width: 280px;
  text-align: left; }

.nav-sidebar ul {
  padding-left: 0; }

.sw-list-column, .sw-list-column.middle {
  width: 33%;
  float: left; }

.investors-default-page {
  min-height: 1004px; }

footer .sw-row {
  width: 100%;
  display: inline; }
  footer .sw-row .sw-nine {
    float: left;
    width: 80%; }
    footer .sw-row .sw-nine .footer-column {
      width: 25%; }
  footer .sw-row .sw-three {
    float: left;
    width: 20%; }

.sagenav-menu > li > .fullmenu.fullmenu-half-width {
  width: 33.33%; }

.double-border-top, .double-border-before:before, footer.white-footer:before, .sw-list-row.thick:before, .main-sub-section .main-body-content .sub-section-b:before, .double-border-after:after, section[role="main"]:before, section[role="banner"]:after, .main-sub-section .main-body-content .executives-analysts-default-page .content-block:after {
  border-width: 0px 3px 0px 0px; }

section[role=main]:before {
  border-width: 0px 3px 0px 0px; }

section[role=banner]:after {
  border-width: 0px 3px 0px 0px; }

div[role=banner] {
  border-style: dotted;
  border-width: 0px 3px 0px 0px; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: block !important; }

.social-bookmarks li a {
  background-image: none !important; }

.social-bookmarks li.linkedin a {
  background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/linked-in.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/linked-in.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/linked-in.png', sizingMethod='scale')"; }
  .social-bookmarks li.linkedin a:hover {
    background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/linked-in-hover.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/linked-in-hover.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/linked-in-hover.png', sizingMethod='scale')"; }

.social-bookmarks li.twitter a {
  background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/twitter.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/twitter.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/twitter.png', sizingMethod='scale')"; }
  .social-bookmarks li.twitter a:hover {
    background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/twitter-hover.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/twitter-hover.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/twitter-hover.png', sizingMethod='scale')"; }

.social-bookmarks li.facebook a {
  background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/facebook.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/facebook.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/facebook.png', sizingMethod='scale')"; }
  .social-bookmarks li.facebook a:hover {
    background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/facebook-hover.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/facebook-hover.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/facebook-hover.png', sizingMethod='scale')"; }

.social-bookmarks li.googleplus a {
  background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/google-plus.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/google-plus.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/google-plus.png', sizingMethod='scale')"; }
  .social-bookmarks li.googleplus a:hover {
    background-image: url(//resources.sageworks.com/includes/sw/1.1.0/css/icons/google-plus-hover.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/google-plus-hover.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='//resources.sageworks.com/includes/sw/1.1.0/css/icons/google-plus-hover.png', sizingMethod='scale')"; }

.blog-list.featured-post {
  padding-top: 30px; }
  .blog-list.featured-post:last-child {
    margin-bottom: 30px; }
