.sw-carousel-wrap {
  // Left/right controls for nav
  // ---------------------------

  .carousel-control {
    font-size: $carousel-control-font-size;
    color: $carousel-control-color;
    text-align: center;
    text-shadow: $carousel-text-shadow;

    // We can't have this transition here because WebKit cancels the carousel
    // animation if you trip this while in the middle of another animation.

    // Set gradients for backgrounds
    &.left {
      background-image: none;
    }

    &.right {
      left: auto;
      right: 0;
      background-image: none;
    }

    // Hover/focus state
    &:hover,
    &:focus {
      outline: 0;
      color: transparent;
      text-decoration: none;

      @include opacity(0.9);
    }

    // Toggles
    .icon-prev,
    .icon-next,
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
    }

    .icon-prev,
    .glyphicon-chevron-left {
      left: 50%;
      margin-left: -10px;
    }

    .icon-next,
    .glyphicon-chevron-right {
      right: 50%;
      margin-right: -10px;
    }

    .icon-prev,
    .icon-next {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      font-family: serif;
    }

    .icon-prev {
      &:before {
        content: '\2039';

        // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
     
      }
    }

    .icon-next {
      &:before {
        content: '\203a';

        // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
     
      }
    }
  }

  // Optional indicator pips
  //
  // Add an unordered list with the following class and add a list item for each
  // slide your carousel holds.

  .carousel-indicators {
    bottom: 0;
    left: 30px;

    li {
      border: 1px solid $brand-blue;
      background-color: $brand-blue;
    }

    .active {
      margin: 0;
      width: 12px;
      height: 12px;
      background-color: $brand-dark-blue;
    }
  }
}

#custom_carousel {
  .item {
    color: $gray-dark;
    background-color: white;
    padding: 20px 0;
  }

  .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: $gray-lighter;

    li {
      display: table-cell;
      width: 1%;
      max-width: 90px;
    }

    &.active {
      background-color: #eee;
      border-top: 3px solid orange;
    }

    a > small {
      overflow: hidden;
      display: block;
      font-size: 10px;
      margin-top: 5px;
      font-weight: bold;
    }
  }
}
