#hero-chart {
  min-height: 200px;
}

.chart-area {
  float: left;
  width: 82%;

  @media (max-width: 993px) {
    width: 100%;
  }

  .chart-title {
    position: absolute;
    bottom: -15px;
    font-style: italic;
    font-size: $font-size-small;
    color: $gray-light;
  }
}

.chart-legend {
  float: left;
  margin-top: 40px;
  margin-left: 20px;
  width: 13%;

  .legend-key {
    display: block;
    float: left;
    font-size: $font-size-base;
    text-align: right;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: left;

    @media (max-width: 1200px) {
      font-size: $font-size-small;
    }

    .spot {
      @include square(22px);

      float: left;
      margin-right: 12px;
      margin-bottom: 20px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: sub;

      @media (max-width: 1200px) {
        @include square(18px);
      }

      &.series1 {
        background-color: $brand-orange;
      }

      &.series2 {
        background-color: $brand-dark-blue;
      }

      &.series3 {
        background-color: $brand-blue;
      }

      &.series4 {
        background-color: $brand-green;
      }
    }
  }
}
