header {
	width: 100%;
	position: static;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: white;
	//@include transition(all 0.5s ease);
	#sticky.scroll-active {
		width: 980px;
		height: 38px;
		margin: 0 auto;
		position: relative;

		@extend .double-border-bottom;
	}

	.sub-top-nav {
		position: absolute;
		right: 160px;

		.scroll-active & {
			display: none;
		}

		&.account {
			top: 20px;

			> * {
				display: inline-block;
			}
		}

		&.tools {
			top: 90px;
		}

		ul {
			li {
				display: inline;
				margin-left: 6px;

				a {
					font-family: $font-serif;
					font-size: 14px;
					font-style: italic;
					color: $gray;
					font-weight: normal;

					&:hover {
						color: $brand-blue;
					}
				}
			}
		}
	}
}

nav {
	height: 90px;
	margin-bottom: -40px;

	.sticky {
		width: 100%;
		background: #fff;
		height: 38px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
	}
}

.logo {
	text-indent: -99999px;

	img {
		max-height: 45px;
	}
}

.navbar {
	padding-top: 1%;
}

#top-nav ul {
	float: right;
	margin: 0;
	padding: 0;
	margin-top: 8px;
	margin-right: -10px;
	font-weight: $font-bold;
	text-transform: uppercase;
}

#top-nav ul a {
	color: #fff;
	text-decoration: none;
}

#top-nav ul a:hover, #top-nav ul a#active {
	color: #323232;
}

#top-nav ul li {
	float: left;
	padding-left: 10px;
	margin-right: 10px;
}

#top-nav ul li:first-child {
	background: none;
}

#top-nav ul li a#purchase {
	color: #fff200;
}

#top-nav ul li a#purchase:hover {
	color: #323232;
}

/* Button Responsive Menu*/
.btn-responsive-menu {
	display: none;
	float: right;
	padding: 5px;
	cursor: pointer;
	margin: 0px 20px 0 0;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bar {
	display: block;
	width: 18px;
	height: 2px;
	margin: 5px;
	background: #fff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.show {
	display: block !important;
}

// Analyst styling

.sw-analyst {
	nav {
		height: 80px;

		.logo {
			img {
				max-height: 25px;
			}
		}
	}
}
