/* metricbuilder styling */
.metric-builder-container {
    label {
        margin-bottom: 10px;
    }

    .styled-select select,
    .select-small {
        width: 100%;
    }

    .sw-four {
        max-height: 250px;
        overflow-y: auto;
    }
}

/* #endregion */
