/* Sageworks Main Navigation */

// navigation header container
.sagenav,
.sagenav * {
  @include box-sizing(border-box);
}

.sagenav {
  position: relative;

  @extend .double-border-bottom;

  height: 85px;

  &.slim {
    height: 65px;
  }

  .product-heading {
    @extend .heading-link-item;

    @include transition(all 0.5s ease);

    color: $brand-dark-blue;
    position: absolute;
    top: 18px;
    left: 120px;
  }

  a {
    @include transition(all 0.3s linear);
  }
}

/* scrollable menu */
.sagenav-menu.scrollable > .scrollable-fix {
  display: none;
}

/* brand content - logo */

div.sagenav-brand {
	&.logo {
		cursor: default;
	}
}
.sagenav-brand {
  margin: 16px 30px 0 0;
  float: left;
  color: $gray-dark;
  text-decoration: none;
  font-size: $font-size-large;
  font-weight: $font-bold;
  line-height: $line-height-base;
  cursor: pointer;
  z-index: 4;

  @include transition(all 0.5s ease);

  &.logo {
	&.pull-right {
		margin-right: 0;

	}
    img {
      max-height: 32px;
    }
  }
}

// MENU - w/ right alignment
.sagenav-menu {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  clear: both;

  li {
    display: inline-block;

    a {
      display: inline-block;
    }

    &.top-lvl-li-item {
      display: table-cell;
      margin: 0;
      padding: 8px 0 0;

      a {
        font-family: $font-serif;
        font-weight: $font-bold;
        font-size: $font-size !important;
        padding: 0;
      }
    }

    &.sub-lvl-li-item {
      text-align: left;

      a {
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-bottom: 10px;

        @include transition(all 0.3s linear);

        &:hover {
          padding-left: 15px;
          padding-right: 5px;
        }
      }

      &.current-nav-item, &:hover, &.active {
        a {
          color: $brand-dark-blue;
        }
      }

      ul.dropdown {
        &:not(.dropdown-left) {
          left: 100%;
        }
      }
    }
  }

  /* dropdown */
  ul {
    &.dropdown, &.dropdown li ul.dropdown {
      list-style: none;
      margin: 0;
      padding: 0;
      display: none;
      position: absolute;
      z-index: 3;
      min-width: 180px;
      white-space: nowrap;
      background: rgba(255, 255, 255, 1);
    }

    /* dropdown items */
    &.dropdown {
      padding-top: 20px;
      padding-bottom: 20px;

      @include box-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));

      li {
        clear: both;
        width: 100%;
        border: 0 none;
        position: relative;

        &:nth-child(1) {
          ul.dropdown {
            top: 5px;
          }
        }

        &:nth-child(2) {
          ul.dropdown {
            top: 40px;
          }
        }

        &:nth-child(3) {
          ul.dropdown {
            top: 75px;
          }
        }

        &:nth-child(4) {
          ul.dropdown {
            top: 105px;
          }
        }

        a {
          width: 100%;
          background: none;
          padding-right: 25px;
          padding-bottom: 0px;
          padding-left: 22px;
          text-decoration: none;
          display: inline-block;
          font-family: $font-serif;
          font-weight: $font-bold;
          font-size: $font-size;
          color: $brand-blue;
          float: left;
          clear: both;
          position: relative;
          outline: 0;

          @include transition(padding 0.2s linear);
        }

        &.sw-disabled {
          a {
            color: $gray-light;
          }
        }

        /* hover state (dropdown items) */
        &:hover {
          a {
            padding-left: 28px;
            padding-right: 19px;
            color: $brand-dark-blue;
          }
        }

        ul {
          padding-top: 15px !important;

          &.dropdown {
            li {
              a {
                color: $brand-blue;

                &:hover {
                  color: $brand-dark-blue;
                }
              }
            }
          }
        }
      }

      &.dropdown-left {
        right: 240px;
      }
    }
  }
}

.sagenav-line {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 3px;
  background: $brand-dark-blue;
}

.sagenav-menu li ul.dropdown li .indicator {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 15px;
}

/* fullmenu
======================================*/
.sagenav-menu > li > .fullmenu {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  left: 0;
  position: absolute;
  display: none;
  z-index: 1001;
  background: rgba(255, 255, 255, 1);

  @include box-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));

  .nav-title {
    margin-left: 3%;
  }

  li {
    width: 100%;

    a {
      font-family: $font-serif;
      font-weight: $font-light;
      font-size: $font-size-base;
      color: $gray-dark;
      padding-bottom: 0;

      &.nav-title {
        margin-left: 0;
      }

      &:hover:not(.nav-title) {
        padding-left: 28px;

        @include transition(padding 0.2s linear);

        color: $brand-blue;
      }
    }
  }
}

/* fullmenu widths
======================================*/
/* three quarter width */
.sagenav-menu > li > .fullmenu.fullmenu-three-quarter-width {
  width: 75%;
  left: auto;
}

/* half width */
.sagenav-menu > li > .fullmenu.fullmenu-half-width {
  width: 50%;
  left: auto;
  padding-right: 30px;
}

/* quarter width */
.sagenav-menu > li > .fullmenu.fullmenu-quarter-width {
  width: 25%;
  left: auto;
}

/* nav grid system
======================================*/
.sagenav-menu > li > .fullmenu .fullmenu-row {
  width: 100%;
  margin-top: 15px;
}

.sagenav-menu > li > .fullmenu .fullmenu-row:first-child {
  margin-top: 0;
}

.sagenav-menu > li > .fullmenu .fullmenu-row:before,
.sagenav-menu > li > .fullmenu .fullmenu-row:after {
  display: table;
  content: "";
  line-height: 0;
}

.sagenav-menu > li > .fullmenu .fullmenu-row:after {
  clear: both;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col1,
.sagenav-menu > li > .fullmenu .fullmenu-row .col2,
.sagenav-menu > li > .fullmenu .fullmenu-row .col3,
.sagenav-menu > li > .fullmenu .fullmenu-row .col4,
.sagenav-menu > li > .fullmenu .fullmenu-row .col5,
.sagenav-menu > li > .fullmenu .fullmenu-row .col6,
.sagenav-menu > li > .fullmenu .fullmenu-row .col7,
.sagenav-menu > li > .fullmenu .fullmenu-row .col8,
.sagenav-menu > li > .fullmenu .fullmenu-row .col9,
.sagenav-menu > li > .fullmenu .fullmenu-row .col10,
.sagenav-menu > li > .fullmenu .fullmenu-row .col11,
.sagenav-menu > li > .fullmenu .fullmenu-row .col12 {
  display: block;
  min-height: 20px;
  float: left;
  margin-left: 3%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row [class*="col"]:first-child {
  margin-left: 0;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col1 {
  width: 5.583333333333%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col2 {
  width: 14.166666666666%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col3 {
  width: 22.75%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col4 {
  width: 31.333333333333%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col5 {
  width: 39.916666666667%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col6 {
  width: 48.5%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col7 {
  width: 57.083333333333%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col8 {
  width: 65.666666666667%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col9 {
  width: 74.25%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col10 {
  width: 82.833333333334%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col11 {
  width: 91.416666666667%;
}

.sagenav-menu > li > .fullmenu .fullmenu-row .col12 {
  width: 100%;
}

/* custom show/hide (mobile mode)
======================================*/
.sagenav .showhide {
  width: 60px;
  height: 40px;
  padding-top: 20px;
  display: none;
  float: right;
  text-decoration: none;
  outline: none;

  .icon-bar {
    background-color: $brand-blue;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
  }
}

/* show/hide button icon */
.sagenav .showhide em {
  width: 20px;
  height: 3px;
  margin: 3.5px 20px 0;
  float: right;
  background: #777;
}

/* font-awesome icons (parent menu items)
======================================*/
.sagenav-menu > li > a > i {
  margin: 0 5px 0 0;
  font-size: 18px;
  float: left;
  line-height: 20px;
  font-family: 'FontAwesome';
}

/* search field
======================================*/
/* form */
.sagenav-menu > li.search form {
  float: left;
  padding: 22px 16px 17px;
}

/* input */
.sagenav-menu > li.search form input[type="text"] {
  width: 160px;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  background: $gray-light;
  border-radius: 2px;
  outline: 0;
  -o-transition: width 1s ease-out;
  -moz-transition: width 1s ease-out;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
}

.sagenav-menu > li.search form:hover input[type="text"] {
  width: 160px;
}

/* responsive mode (mobile)
======================================*/
@media (max-width: 768px) {
  /* responsive menu container */
  .sagenav-responsive.sagenav {
    padding: 0;
  }

  /* brand */
  .sagenav-responsive .sagenav-brand {
    margin: 8px 30px 10px 20px;
    font-size: 20px;
    line-height: 1.55;
  }

  /* show/hide button */
  .sagenav-responsive .showhide {
    margin: 0;
  }

  /* menu */
  .sagenav-responsive .sagenav-menu {
    width: 100%;
    float: left !important;
    background-color: white;
    position: relative;
    z-index: 3;

    @include box-shadow(0 2px 15px -5px black);
  }

  /* scrollable menu*/
  .sagenav-responsive .sagenav-menu.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .sagenav-responsive .sagenav-menu.scrollable > .scrollable-fix {
    display: block;
  }

  /* menu items */
  .sagenav-responsive .sagenav-menu > li {
    width: 100%;
    display: block;
    position: relative;
  }

  .sagenav-responsive .sagenav-menu > li > a {
    width: 100%;
    padding: 12px 20px;
    display: block;
    border-bottom: solid 1px #f0f0f0;
  }

  .sagenav-responsive .sagenav-menu > li:first-child > a {
    border-top: solid 1px #f0f0f0;
  }

  /* dropdown */
  .sagenav-responsive .sagenav-menu ul.dropdown,
  .sagenav-responsive .sagenav-menu ul.dropdown li ul.dropdown {
    width: 100%;
    left: 0;
    position: static;
    border: none;
    background: #fff;
    float: left;
  }

  /* dropdown items */
  .sagenav-responsive .sagenav-menu ul.dropdown li {
    position: relative;
  }

  .sagenav-responsive .sagenav-menu ul.dropdown li a {
    border-bottom: solid 1px #f0f0f0;
  }

  .sagenav-responsive .sagenav-menu.sagenav-indented > li > ul.dropdown > li > a {
    padding-left: 40px !important;
  }

  .sagenav-responsive .sagenav-menu.sagenav-indented > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left: 60px !important;
  }

  .sagenav-responsive .sagenav-menu.sagenav-indented > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {
    padding-left: 80px !important;
  }

  .sagenav-responsive .sagenav-menu.sagenav-indented > li > ul.dropdown > li:hover > a {
    padding-left: 50px !important;
  }

  .sagenav-responsive .sagenav-menu.sagenav-indented > li > ul.dropdown > li > ul.dropdown > li:hover > a {
    padding-left: 70px !important;
  }

  .sagenav-responsive .sagenav-menu.sagenav-indented > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li:hover > a {
    padding-left: 90px !important;
  }

  /* dropdown/fullmenu indicators */
  .sagenav-responsive .sagenav-menu li .indicator {
    width: 60px;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    text-align: center;
    line-height: 43px;
    border-left: solid 1px #f5f5f5;
  }

  .sagenav-responsive .sagenav-menu li ul.dropdown li .indicator {
    height: 38px;
    right: 0;
    top: 0;
    font-size: 18px;
    line-height: 36px;
  }

  /* fullmenu */
  .sagenav-responsive .sagenav-menu > li > .fullmenu {
    width: 100% !important;
    left: 0 !important;
    position: static;
    border-top: none;
    border-bottom: solid 1px #f0f0f0;
  }

  .sagenav-responsive .sagenav-menu > li > .fullmenu .fullmenu-row [class*="col"] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px;
  }

  .sagenav-responsive .sagenav-menu > li > .fullmenu .fullmenu-row:first-child [class*="col"]:first-child {
    margin-top: 0;
  }

  .sagenav-responsive .sagenav-menu > li > .fullmenu .fullmenu-row {
    margin-top: 0;
  }

  /* search field */
  .sagenav-responsive .sagenav-menu > li.search form {
    width: 100%;
    margin: 4px 0;
    padding: 10px 16px !important;
  }

  .sagenav-responsive .sagenav-menu > li.search form input[type="text"] {
    width: 100%;
  }

  /* tcabs */
  .sagenav-responsive .sagenav-tabs-nav {
    width: 100%;
  }

  .sagenav-responsive .sagenav-tabs-content {
    width: 100%;
  }
}

// Navigation used for the Pardot Registration pages with long text

@media (max-width: 1198px) {
  nav.long-text > ul > li > a {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  nav.long-text > ul {
    float: none;
    width: 100%;
    position: absolute;
    bottom: -5px;
  }

  .sagenav {
    &.long-text {
      .sagenav-menu > li > a {
        padding-right: 15px;
        padding-bottom: 0;
        padding-left: 15px;
      }
    }
  }
}

// Analyst Styling

.sw-analyst {
  .sagenav {
    @extend .double-border-after;
  }
}
