/* Table styling */

// div tables
.sw-div-table {
	position: relative;
	display: table;
	margin: 15px auto;
	caption-side: bottom;

	&:not(.inner) {
		padding: 10px 90px;
	}

	&.full {
		width: 100%;
	}

	&.grey {
		background-color: $gray-lighter;
	}

	&.striped {
		.sw-div-table-row {
			&:nth-of-type(even) {
				background: $gray-lighter;
			}
		}
	}

	&-caption {
		display: table-caption;
		text-align: left;

		&.foot {
			background-color: $gray-lighter;
			height: 30px;
			padding: 5px;

			a {
				font-weight: bold;
				width: auto;
			}
		}
	}

	&-row {
		display: table-row;
		max-width: 500px;

		&-group {
			width: 100%;
			display: table-row-group;
		}

        > div:not(.content) {
			display: table-cell;

			a {
				display: inline-block;
			}
		}

		&.grey, &.head {
			background-color: $gray-lighter;
		}

		&.head {
			font-weight: bold;
		}

		&.blue-divider {
			div {
				border-bottom: 2px solid $brand-blue;
			}
		}
	}

	.sw-side-button-group {
		position: absolute;

		&.right {
			display: inline-block;
			right: 15px;
			text-align: center;
			margin-top: -45px;

			.Button {
				display: block;

				&:first-child {
					margin-bottom: 15px;
				}
			}
		}
	}
}


// x-y fixed header/label table (scrolly-table)
#scrolly-table {
    .swtable {
        thead tr {
            background-color: #eee;
        }

        td, th {
            width: 186px;
        }
    }

    .fixed-table-header {
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 9;
        background-color: #eee;
    }

    table.swtable {
        width: 100%;
        table-layout: fixed;
    }

    .template-block .sticky-table-wrapper {
        overflow-x: hidden;
        margin-bottom: 10px;
    }

    .fixed-table-header {
        &.active-scroll {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .sticky-table-wrapper {
        position: relative;

        td, th {
            &:first-child {
                position: relative;
                z-index: 1;
            }
        }

        td:first-child {
            z-index: 3;
        }

        div.placeholder {
            display: table-cell;
        }
    }
}

// helper classes for table width
.full-width-table {
	width: 100%;
}

.tableless-table {
	display: table;
	margin: 0 auto;
	padding-bottom: 30px;

	.col50 {
		display: block;
		width: 50%;
		float: left;

		.row {
			display: inline;

			label, span {
				width: 50%;
			}

			span {
				text-align: right;
			}
		}
	}

	&.full {
		width: 96.5%;
	}

	&.threeq {
		width: 75%;
	}

	&.half {
		width: 50%;
	}
}

.table-border-outline {
	&:not(.full) {
		width: 80%;
		margin: 0 auto;
	}

	.table {
		border: 1px solid $gray-lighter;
		border-collapse: inherit;

		thead > tr > th {
			border-bottom: none !important;
		}

		&.borderless {
			thead > tr > th, tbody > tr > td {
				text-align: center;
			}
		}
	}

	td:empty {
		width: 20%;
	}
}

table {
	&.borderless {
		tr, td {
			border: none;
			border-top: 0 !important;
		}
	}

	&.hover-col {
		overflow: hidden;

		td, th {
			position: relative;
		}
		/*tbody tr:hover {
        background-color: $brand-blue-light;
    }*/
		thead th:not(:empty):hover {
			&:after {
				content: '';
				height: 600px;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: -1;
			}
		}

		th {
			&:hover {
				&:after {
					background-color: $brand-blue;
					opacity: 0.2;
				}
			}
		}
	}

	&.packages {
		tr {
			td {
				&:first-child {
					width: 28%;
				}

				width: 20%;
			}
		}
	}

	&.overview-table {
		margin: 30px auto;

		thead {
			background: #efefef;

			tr {
				td {
					padding: 10px 20px;
					font-weight: $font-bold;
				}
			}
		}

		tbody {
			tr {
				td {
					padding: .18em 8px;
				}
			}
		}
	}
}

dl {
	margin-top: 20px;
	margin-bottom: 30px;

	dt {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.inputlabel {
	background-color: $gray-lighter;
	border-bottom: 2px solid $gray;

	td {
		@extend th;
	}
}

table {
	th {
		&.grouping-label {

			> div {
				border: solid 1px #bbbbbb;
				border-bottom: none;
				height: 12px;
				margin: 8px 0 0;

				> div {
					margin: -10px 10px 0;
					text-align: center;

					> span {
						white-space: nowrap;
						padding: 0 10px;
						font-weight: $font-bold;
						background: #eeeeee;
					}
				}
			}
		}
	}
}
/* #region swtable */
.swtable {
}
/*#endregion*/
/* #region sw-custom-table */
table.sw-custom-table, table.sw-custom-table.swtable {
	.datepicker-with-icon {
		max-width: 175px;
	}

	.read-only.label {
		white-space: nowrap;
		line-height: 18px;
		vertical-align: top;
	}

	tbody {
		tr {
			td {
				padding-top: 4px;
				padding-bottom: 0;
			}
		}
	}
}

tfoot {
	.footer-controls {
		position: relative;
		width: 100%;
		background: #eee;
		height: 22px;
		border-top: solid 5px transparent;

		td {
			padding: 2px 8px;
		}

		a {
			font-weight: 600;
		}

		.pagination-controls {
			position: absolute;
			top: 2px;
			right: 5px;
		}
	}
}
/* #endregion */
/* #region sw-custom-form */
.grey-table-heading, .grey-table-head, .grey-table-foot, .sw-custom-form-container {
	background-color: #efefef;

	&.text-center {
		td {
			text-align: center !important;
		}
	}
}

.white-background .sw-custom-form-container {
	background-color: #ffffff;
}

.background-none .sw-custom-form-container {
	background: none;
}

.MultiRowTabbedInnerContainer .sw-custom-form-container {
	padding: 6px 0;
	min-height: 80px;
}


.sw-custom-form-container table.sw-custom-form {
	min-height: 60px;
}

table.sw-custom-form {
	border: none;

	tr {
		height: 22px;

		td:first-child {
			padding-left: 10px;
		}

		td:last-child {
			padding-right: 10px;
		}

		&.section-start td {
			padding-top: 6px;
		}

		&.section-end td {
			padding-bottom: 12px;
		}

		&.add-new-row td {
			padding: 5px 32px 12px;
		}
	}

	td {
		padding-top: 3px;
		padding-bottom: 3px;
		position: inherit;

		&.has-action-button {
			input[type="text"], span.calculated-field {
				width: auto;
			}

			button {
				margin-left: 3px;
			}
		}

		.placeholder {
			min-width: 100px;
			height: 24px;
		}
	}

	.sw-custom-form-divider td, .label-row td {
		text-align: center;
		font-size: 14px;
		font-weight: $font-bold;
		padding: 6px 4px 4px;
		color: #555;
		font-family: $font;
	}

	.sw-custom-form-divider td {
		background: #d5d5d5;
		padding: 8px 4px 6px;
		color: #444;
	}

	.field-label, td.field-label {
		text-align: right;
		max-width: 300px;

		a.sw-table-help-link {
			color: $default-font-color;
		}
	}

	td.field-col-spacing, td.field-label {
		padding-left: 70px;
	}

	&.column-layout-3 {
		td.field-col-spacing, td.field-label {
			padding-left: 30px;
		}

		td:first-child {
			padding-left: 5px;
		}
	}

	&.configuration-mode {

		.configuration-container {
			border: solid 1px #ddd;
			padding: 8px 0;

			.configuration-note {
				text-align: center;
				padding: 10px 10px 2px;
			}
		}

		ul.sortable-container {
			margin: 2px -45px 4px 10px;

			li {
				display: inline-block;
				line-height: 26px;
				color: $default-font-color;
				font-family: $font;

				span.delete-link {
					display: inline-block;
					width: 20px;
				}

				span.edit-link {
					display: inline-block;
					width: 28px;
				}
			}

			li.label-row, li.row-divider {
				font-weight: $font-bold;
				width: 100% !important;
			}

			li.comments {
				width: 100% !important;
			}
		}

		.configuration-cell {
			padding-right: 120px;
		}

		.field-label, td.field-label {
			text-align: left;
			height: 26px;
		}

		div.sw-draggable {
			display: inline-block;
			padding-right: 8px;
		}

		.delete-x {
			display: inline-block;
			height: 12px;
		}
	}

	textarea.comments-input {
		height: 60px;
		margin-top: 5px;
		overflow-y: scroll;
		resize: vertical;
	}

	.datepicker-with-icon {
		max-width: initial;
	}

	label.radio-input {
		margin: 0 5px;
		line-height: 22px;

		input[type=radio] {
			margin: 1px;
		}
	}

	&.column-layout-1.configuration-mode {
		ul.sortable-container li {
			display: block;
			width: 90%;
		}
	}

	&.column-layout-2.configuration-mode {
		ul.sortable-container li {
			width: 450px;
			padding-right: 5px;
		}
	}

	&.column-layout-3.configuration-mode {
		tbody td {
			width: 900px;
		}

		ul.sortable-container li {
			width: 300px;
			padding-right: 15px;
		}
	}
}



.swtable table.sw-custom-form {
	border: none;

	td {
		padding-top: 3px;
		padding-bottom: 3px;
	}
}

.sw-custom-form-setup .delete-x {
	width: 13px;
	background-position: 0 1px;
}

.sw-custom-form-setup .delete-x:hover {
	width: 13px;
	background-position: 0 1px;
}
/* #endregion */
