.download-container {
	.download-icon {
		display: inline;
		height: 22px;
	}

	.download-text {
		display: inline-block;
		margin-left: 8px;
		margin-top: 6px;
		margin-bottom: 20px;
		vertical-align: sub;
	}

	.serif-font {
		font-weight: normal;
	}
}
