@import '../analyst/modules/vars';

$multiselect-white: #FFFFFF;
$multiselect-font-gray: #444444;
$multiselect-gray-light: #EEEEEE;

.custom-multiselect {
	position: relative;

	.multiselect {
		overflow: hidden;
		position: relative;
		padding-right: 15px;
		font-family: Helvetica,Arial,sans-serif;
		font-weight: $font-light;
		font-size: 13px;
		background-color: $multiselect-white;
		border: 1px solid $gray-head;
		color: $multiselect-font-gray;
		-webkit-appearance: none;
		margin: 0;
		height: auto;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		padding: 3px 25px 3px 8px;
		text-align: left;
		cursor: pointer;
		width: 100%;
		height: 22px;

		&:after {
			background-image: url(images/down_arrow_hollow_sm.png);
			background-size: 10px 5px;
			display: inline-block;
			width: 10px;
			height: 5px;
			content: '';
			right: 5px;
			position: absolute;
			top: 40%;
		}
	}

	.dropdown {
		display: block;
		min-width: 245px;
		position: absolute;
		left: 0;
		top: 24px;
		width: 100%;
		z-index: 9999;
		box-shadow: rgba(0,0,0,.1) 0 0 3px 2px;
		-moz-box-shadow: rgba(0,0,0,.1) 0 0 3px 2px;
		-webkit-box-shadow: rgba(0,0,0,.1) 0 0 3px 2px;
		background-color: $dropdown-bg;
		cursor: default;

		.header {
			border: 1px solid $gray-head;
			background: $multiselect-gray-light;
			color: $default-font-color;
			font-weight: $font-bold;
			padding: 4px 5px;
			text-align: left;
			width: 100%;

			ul {
				li {
					display: inline-block;
					text-decoration: none;
					color: $brand-blue;
					font-style: italic;
					cursor: pointer;
					-webkit-transition: all .2s ease;
					transition: all .2s ease;
					padding-right: 9px;
					font-size: 13px;
					float: left;
					margin-top: 7px;

					&:last-child {
						float: right;
						padding-right: 0;
						margin: 0;
					}

					&:hover {
						color: $brand-dark-blue;
					}

					.close:focus {
						font-size: .8em;
						line-height: $line-height-base;
					}

					.ui-icon {
						opacity: .5;
						float: left;
					}
				}
			}

			.filter {
				background-color: $multiselect-white;
				border: 1px solid $gray-head;
				color: $multiselect-font-gray;
				-webkit-appearance: none;
				font-weight: normal;
				font-size: 13px;
				margin: 0;
				height: auto;
				box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				width: 100%;
				padding: 5px;
				margin-top: 2px;

				&:focus, &:active {
					border-color: $brand-blue;
				}
			}
		}

		.content {
			text-align: left;
			padding: 5px 10px !important;
			max-height: 175px;
			min-height: 38px;
			margin: 0 !important;
			overflow-y: auto;
			position: relative;

			&.filtering {
				overflow-y: hidden;

				> i {
					display: block;
				}

				&:before {
					content: ' ';
					background-color: rgba(0,0,0,0.3);
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 2;
				}
			}

			> i {
				display: none;
				color: $brand-blue;
				font-size: 23px;
				position: absolute;
				z-index: 3;
				top: 7px;
				left: 45%;
			}

			> li {
				font-family: $font;
				cursor: default;
				display: block;
				font-weight: $font-light;

				&.empty {
					padding: 5px 0;
				}

				label {
					width: 100%;

					&:hover {
						cursor: pointer;
						color: $brand-blue;
					}

					input {
						position: relative;
						top: 1px;
						margin-right: 6px;
					}
				}
			}
		}
	}
}
