sw-auto-complete {
    button {
        width: 100%;
        height: 30px;
    }

    .autocomplete-container {
        position: relative;

        input {
            position: absolute;
            top: 0;
            box-sizing: border-box;
            width: 100%;
            height: 30px;
        }

        .autocomplete-results-container {
            position: absolute;
            box-sizing: border-box;
            top: 30px;
            width: 100%;
            height: 200px;
            border: 1px solid black;
            background: white;
        }
    }
}
