@mixin display-flex(){
	display: flex;
	display: -ms-flexbox;
}

@mixin flex-justify-content($justification) {
	justify-content: $justification;
	-ms-flex-pack: $justification;
}

@mixin flex-direction($direction) {
	flex-direction: $direction;
	-ms-flex-direction: $direction;
}