$link-hover: #2a6496;
$date-color: #9b9b9b;
$shadow: #CCCCCC;
$white: #FFFFFF;

.gn-header .notification-new {
	top: 8px !important;
}

.notification-bell {
	position: relative;
	display: none;
	outline: none;

	&.enabled {
		display: inline-block;
	}

	> img {
		width: 17px;

		&:hover {
			cursor: pointer;
		}
	}

	.notification-new {
		position: absolute;
		top: 1px;
		right: 1px;
		background-color: $brand-warning;
		border-radius: 25px;
		width: 9px;
		height: 9px;
		display: none;

		&.new {
			display: block;
		}
	}

	.notification-bell-dropdown {
		display: none;
		position: absolute;
		width: 315px;
		height: 300px;
		background-color: $white;
		z-index: 25;
		right: -40px;
		top: 35px;
		-moz-box-shadow: 0 6px 3px $shadow;
		-webkit-box-shadow: 0 6px 3px $shadow;
		box-shadow: 0 0 6px 2px $shadow;
		font-family: $font;
		font-size: 15px;
		line-height: 21px;
		font-style: normal;

		&:before {
			content: "";
			width: 15px;
			height: 15px;
			background-color: $white;
			transform: rotate(45deg);
			position: absolute;
			top: -3px;
			right: 14%;
		}

		.notifications-wrapper {
			overflow-y: scroll;
			height: 100%;
			padding: 10px;

			> .no-notifications {
				font-size: 13px;
				font-weight: 700;
				color: $list-group-link-color;
				text-align: center;
				padding: 10px 0;
			}

			.notification {
				position: relative;
				padding-left: 40px;
				padding-bottom: 15px;
				text-align: left;
				outline: none;
				line-height: 18px;

				&:hover {
					cursor: pointer;

					.title {
						color: $brand-blue;
					}
				}

				&.unread {
					&:before {
						content: "";
						position: absolute;
						top: 12%;
						left: 4%;
						background-color: $brand-warning;
						border-radius: 25px;
						width: 10px;
						height: 10px;
					}
				}

				.title {
					font-size: 13px;
					font-weight: 700;
					color: $list-group-link-color;
				}

				.date {
					font-size: 12px;
					color: $date-color;
				}
			}

			.notification-footer {
				text-align: center;

				a {
					color: $brand-blue !important;

					&:hover {
						color: $link-hover !important;
					}
				}
			}
		}
	}
}
