.edit-moody-analytics-data-buffet-keys {
	text-align: center;
	.credential-input-container {
		margin-top: 20px;
		.credential-input-row {
			label {
				text-align: right;
				width:20%;
				margin-right: 2%;
			}
			input {
				display: inline-block;
				width: 60%;
			}
		}
	}
}
