sw-checkbox-slider {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;

	.fancyCheckContainer.component {
		outline: none;
		display: block;
		overflow: hidden;

		.fancyCheckHandle {
			transition: all ease 0.2s;
			margin-top: 1px;
		}

		& > label {
			width: 100%;
			margin-top: 1px;
			transition: all ease 0.2s;
		}

		label.fancyCheckLabelOn {
			text-align: left;
			padding-left: 3px;

			span {
				padding-left: 0.571em;
			}
		}

		input[type=checkbox]:checked ~ .fancyCheckHandle {
			left: 100%;
			transform: translate3d(-100%, 0, 0);
		}

		.fancyCheckLabelOn {
			margin-left: -100%;
		}

		input[type=checkbox]:checked ~ .fancyCheckLabelOn {
			margin-left: 0%;
		}

		.fancyCheckLabelOff {
			margin-right: 0%;
		}

		input[type=checkbox]:checked ~ .fancyCheckLabelOff {
			margin-right: -100%;
		}
	}
}
