/*------------------------------------*\
    #ICON
\*------------------------------------*/
/**
 * 1) Small image that represents functionality
 */

@import '../svg/svg-sprite';

// SVG colors
@mixin icon-colors($fallback: $brand-charcoal) {
    fill: $fallback;
    @content;
}

// SVG sizing mixin
@mixin zoom($size: 1) {
    zoom: $size;
    -moz-transform:scale($size);
    -moz-transform-origin: 0 0;
    overflow: hidden;
}

.a-icon {
    display: inline-block;

    &--sm {
        @include zoom(0.5);
    }
    &--lg {
        @include zoom(1.5);
    }

    &--fill {
        @include icon-colors();
    }

    &--color {
        @include icon-colors($brand-dark-blue);
    }

    &--color-alt {
        @include icon-colors($brand-red-orange);
    }
    &--brand-tag {
      max-height: 100px;
    }
    &--brand {}
    &--adobe {
        @extend %a-icon-Adobe;
        &-dims {
            @extend %a-icon-Adobe;
            @extend %a-icon-Adobe-dims;
        }
    }
    &--arrow-gray {
        @extend %a-icon-Arrow-Gray;
      &-dims {
        @extend %a-icon-Arrow-Gray;
        @extend %a-icon-Arrow-Gray-dims;
      }
    }
    &--calendar {
        @extend %a-icon-Calendar;
        &-dims {
            @extend %a-icon-Calendar;
            @extend %a-icon-Calendar-dims;
        }
    }

    &--checkmark {
        @extend %a-icon-Checkmark;
        &-dims {
            @extend %a-icon-Checkmark;
            @extend %a-icon-Checkmark-dims;
        }
    }

    &--chevron-down {
        @extend %a-icon-Chevron-Down;
        &-dims {
            @extend %a-icon-Chevron-Down;
            @extend %a-icon-Chevron-Down-dims;
        }
    }

    &--chevron-left {
        @extend %a-icon-Chevron-Left;
        &-dims {
            @extend %a-icon-Chevron-Left;
            @extend %a-icon-Chevron-Left-dims;
        }
    }

    &--chevron-right {
        @extend %a-icon-Chevron-Right;
        &-dims {
            @extend %a-icon-Chevron-Right;
            @extend %a-icon-Chevron-Right-dims;
        }
    }

    &--chevron-up {
        @extend %a-icon-Chevron-Up;
        &-dims {
            @extend %a-icon-Chevron-Up;
            @extend %a-icon-Chevron-Up-dims;
        }
    }


    &--customer {
        @extend %a-icon-Customer;
        &-dims {
            @extend %a-icon-Customer;
            @extend %a-icon-Customer-dims;
        }
    }

    &--delete-disabled {
        @extend %a-icon-Delete-Disabled;
        &-dims {
            @extend %a-icon-Delete-Disabled;
            @extend %a-icon-Delete-Disabled-dims;
        }
    }

    &--delete-enabled {
        @extend %a-icon-Delete-Enabled;
        &-dims {
            @extend %a-icon-Delete-Enabled;
            @extend %a-icon-Delete-Enabled-dims;
        }
    }

    &--document {
        @extend %a-icon-Document;
        &-dims {
            @extend %a-icon-Document;
            @extend %a-icon-Document-dims;
        }
    }

    &--edit {
        @extend %a-icon-Edit-Pencil;
        &-dims {
            @extend %a-icon-Edit-Pencil;
            @extend %a-icon-Edit-Pencil-dims;
        }
    }

    &--exclamation-blue {
        @extend %a-icon-Exclamation-Bubble-Blue;
        &-dims {
            @extend %a-icon-Exclamation-Bubble-Blue;
            @extend %a-icon-Exclamation-Bubble-Blue-dims;
        }
    }

    &--exclamation-orange {
        @extend %a-icon-Exclamation-Bubble-Orange;
        &-dims {
            @extend %a-icon-Exclamation-Bubble-Orange;
            @extend %a-icon-Exclamation-Bubble-Orange-dims;
        }
    }

    &--excel {
        @extend %a-icon-Export--Excel;
        &-dims {
            @extend %a-icon-Export--Excel;
            @extend %a-icon-Export--Excel-dims;
        }
    }

    &--excel-white {
        @extend %a-icon-Export--Excel-White;
        &-dims {
            @extend %a-icon-Export--Excel-White;
            @extend %a-icon-Export--Excel-White-dims;
        }
    }

    &--word {
        @extend %a-icon-Export--Word;
        &-dims {
            @extend %a-icon-Export--Word;
            @extend %a-icon-Export--Word-dims;
        }
    }

    &--file {
        @extend %a-icon-File-Blank;
        &-dims {
            @extend %a-icon-File-Blank;
            @extend %a-icon-File-Blank-dims;
        }
    }

    &--file-download {
        @extend %a-icon-File-Download;
        &-dims {
            @extend %a-icon-File-Download;
            @extend %a-icon-File-Download-dims;
        }
    }

    &--file-search {
        @extend %a-icon-File-Search;
        &-dims {
            @extend %a-icon-File-Search;
            @extend %a-icon-File-Search-dims;
        }
    }

    &--financial-statement {
        @extend %a-icon-Financial-Statement;
        &-dims {
            @extend %a-icon-Financial-Statement;
            @extend %a-icon-Financial-Statement-dims;
        }
    }

    &--financial-statement-old {
        @extend %a-icon-Financial-Statement-Old;
        &-dims {
            @extend %a-icon-Financial-Statement-Old;
            @extend %a-icon-Financial-Statement-Old-dims;
        }
    }

    &--folder-empty {
        @extend %a-icon-Folder-3D-Empty;
        &-dims {
            @extend %a-icon-Folder-3D-Empty;
            @extend %a-icon-Folder-3D-Empty-dims;
        }
    }

    &--folder-empty-flat {
        @extend %a-icon-Folder-Flat-Empty;
        &-dims {
            @extend %a-icon-Folder-Flat-Empty;
            @extend %a-icon-Folder-Flat-Empty-dims;
        }
    }

    &--folder-flat {
        @extend %a-icon-Folder-Flat-Full;
        &-dims {
            @extend %a-icon-Folder-Flat-Full;
            @extend %a-icon-Folder-Flat-Full-dims;
        }
    }


    &--link {
        @extend %a-icon-Link;
        &-dims {
            @extend %a-icon-Link;
            @extend %a-icon-Link-dims;
        }
    }

    &--lock {
        @extend %a-icon-Lock;
        &-dims {
            @extend %a-icon-Lock;
            @extend %a-icon-Lock-dims;
        }
    }

    &--options {
        @extend %a-icon-More-Options;
        &-dims {
            @extend %a-icon-More-Options;
            @extend %a-icon-More-Options-dims;
        }
    }

    &--percent {
        @extend %a-icon-Percent;
        &-dims {
            @extend %a-icon-Percent;
            @extend %a-icon-Percent-dims;
        }
    }

    &--policy-empty {
        @extend %a-icon-Policy-Exception-Empty;
        &-dims {
            @extend %a-icon-Policy-Exception-Empty;
            @extend %a-icon-Policy-Exception-Empty-dims;
        }
    }

    &--policy {
        @extend %a-icon-Policy-Exception-Full;
        &-dims {
            @extend %a-icon-Policy-Exception-Full;
            @extend %a-icon-Policy-Exception-Full-dims;
        }
    }
    &--print {
        @extend %a-icon-Print;
        &-dims {
            @extend %a-icon-Print;
            @extend %a-icon-Print-dims;
        }
    }

    &--help {
        @extend %a-icon-Question-Bubble;
        &-dims {
            @extend %a-icon-Question-Bubble;
            @extend %a-icon-Question-Bubble-dims;
        }
    }

    &--relationship {
        @extend %a-icon-Relationship;
        &-dims {
            @extend %a-icon-Relationship;
            @extend %a-icon-Relationship-dims;
        }
    }

    &--sageworks {
        @extend %a-icon-Sageworks-Logo;
        &-dims {
            @extend %a-icon-Sageworks-Logo;
            @extend %a-icon-Sageworks-Logo-dims;
        }
    }

    &--search {
        @extend %a-icon-Search;
        &-dims {
            @extend %a-icon-Search;
            @extend %a-icon-Search-dims;
        }
    }

    &--tax-t {
        @extend %a-icon-Tax-Mapping-T;
        &-dims {
            @extend %a-icon-Tax-Mapping-T;
            @extend %a-icon-Tax-Mapping-T-dims;
        }
    }

    &--tax-return {
        @extend %a-icon-Tax-Return;
        &-dims {
            @extend %a-icon-Tax-Return;
            @extend %a-icon-Tax-Return-dims;
        }
    }

    &--bubble-empty {
        @extend %a-icon-Text-Bubble-Empty;
        &-dims {
            @extend %a-icon-Text-Bubble-Empty;
            @extend %a-icon-Text-Bubble-Empty-dims;
        }
    }

    &--bubble {
        @extend %a-icon-Text-Bubble-Full;
        &-dims {
            @extend %a-icon-Text-Bubble-Full;
            @extend %a-icon-Text-Bubble-Full-dims;
        }
    }

    &--arrow-white {
        @extend %a-icon-White--Arrow-White;
        &-dims {
            @extend %a-icon-White--Arrow-White;
            @extend %a-icon-White--Arrow-White-dims;
        }
    }

    &--chevron-down-white {
        @extend %a-icon-White--Chevron-Down-White;
        &-dims {
            @extend %a-icon-White--Chevron-Down-White;
            @extend %a-icon-White--Chevron-Down-White-dims;
        }
    }

    &--chevron-left-white {
        @extend %a-icon-White--Chevron-Left-White;
        &-dims {
            @extend %a-icon-White--Chevron-Left-White;
            @extend %a-icon-White--Chevron-Left-White-dims;
        }
    }

    &--chevron-right-white {
        @extend %a-icon-White--Chevron-Right-White;
        &-dims {
            @extend %a-icon-White--Chevron-Right-White;
            @extend %a-icon-White--Chevron-Right-White-dims;
        }
    }

    &--chevron-up-white {
        @extend %a-icon-White--Chevron-Up-White;
        &-dims {
            @extend %a-icon-White--Chevron-Up-White;
            @extend %a-icon-White--Chevron-Up-White-dims;
        }
    }

    &--delete-white {
        @extend %a-icon-White--Delete-White;
        &-dims {
            @extend %a-icon-White--Delete-White;
            @extend %a-icon-White--Delete-White-dims;
        }
    }

    &--admin-white {
        @extend %a-icon-White--administration;
        &-dims {
            @extend %a-icon-White--administration;
            @extend %a-icon-White--administration-dims;
        }
    }

    &--cecl-white {
        @extend %a-icon-White--alll-cecl;
        &-dims {
            @extend %a-icon-White--alll-cecl;
            @extend %a-icon-White--alll-cecl-dims;
        }
    }

    &--analysis-white {
        @extend %a-icon-White--analysis;
        &-dims {
            @extend %a-icon-White--analysis;
            @extend %a-icon-White--analysis-dims;
        }
    }

    &--reporting-white {
        @extend %a-icon-White--analytics-and-reporting;
        &-dims {
            @extend %a-icon-White--analytics-and-reporting;
            @extend %a-icon-White--analytics-and-reporting-dims;
        }
    }

    &--app-white {
        @extend %a-icon-White--application;
        &-dims {
            @extend %a-icon-White--application;
            @extend %a-icon-White--application-dims;
        }
    }

    &--community-white {
        @extend %a-icon-White--community;
        &-dims {
            @extend %a-icon-White--community;
            @extend %a-icon-White--community-dims;
        }
    }

    &--contact-white {
        @extend %a-icon-White--contact;
        &-dims {
            @extend %a-icon-White--contact;
            @extend %a-icon-White--contact-dims;
        }
    }

    &--global-settings-white {
        @extend %a-icon-White--global-settings;
        &-dims {
            @extend %a-icon-White--global-settings;
            @extend %a-icon-White--global-settings-dims;
        }
    }

    &--insights-white {
        @extend %a-icon-White--insights;
        &-dims {
            @extend %a-icon-White--insights;
            @extend %a-icon-White--insights-dims;
        }
    }

    &--misc-white {
        @extend %a-icon-White--miscellaneous;
        &-dims {
            @extend %a-icon-White--miscellaneous;
            @extend %a-icon-White--miscellaneous-dims;
        }
    }

    &--portfolio-white {
        @extend %a-icon-White--portfolio;
        &-dims {
            @extend %a-icon-White--portfolio;
            @extend %a-icon-White--portfolio-dims;
        }
    }

    &--profile-white {
        @extend %a-icon-White--profile;
        &-dims {
            @extend %a-icon-White--profile;
            @extend %a-icon-White--profile-dims;
        }
    }

    &--stress-testing-white {
        @extend %a-icon-White--stress-testing;
        &-dims {
            @extend %a-icon-White--stress-testing;
            @extend %a-icon-White--stress-testing-dims;
        }
    }

    &--workflow-white {
        @extend %a-icon-White--workflow;
        &-dims {
            @extend %a-icon-White--workflow;
            @extend %a-icon-White--workflow-dims;
        }
    }

    // ALLL
    &--alll {
        &--analysis {
        	@extend %a-icon-ALLL--Advanced-Analysis;
            &-dims {
                @extend %a-icon-ALLL--Advanced-Analysis;
            	@extend %a-icon-ALLL--Advanced-Analysis-dims;
            }
        }

        &--forecasting {
            @extend %a-icon-ALLL--Allowance-Forecasting;
            &-dims {
                @extend %a-icon-ALLL--Allowance-Forecasting;
                @extend %a-icon-ALLL--Allowance-Forecasting-dims;
            }
        }

        &--audit{
            @extend %a-icon-ALLL--Data-Audit;
            &-dims {
                @extend %a-icon-ALLL--Data-Audit;
                @extend %a-icon-ALLL--Data-Audit-dims;
            }
        }

        &--validation {
            @extend %a-icon-ALLL--Model_Validation;
            &-dims {
                @extend %a-icon-ALLL--Model_Validation;
                @extend %a-icon-ALLL--Model_Validation-dims;
            }
        }

        &--policy {
            @extend %a-icon-ALLL--Policy-Review;
            &-dims {
                @extend %a-icon-ALLL--Policy-Review;
                @extend %a-icon-ALLL--Policy-Review-dims;
            }
        }

        &--scenario {
            @extend %a-icon-ALLL--Scenario-Building;
            &-dims {
                @extend %a-icon-ALLL--Scenario-Building;
                @extend %a-icon-ALLL--Scenario-Building-dims;
            }
        }
    }

    // Form Checkbox
    &--checkbox {
        &--active-disabled {
            @extend %a-icon-Checkbox--Checked-Disabled;
            &-dims {
                @extend %a-icon-Checkbox--Checked-Disabled;
                @extend %a-icon-Checkbox--Checked-Disabled-dims;
            }
        }
        &--active-enabled {
            @extend %a-icon-Checkbox--Checked-Enabled;
            &-dims {
                @extend %a-icon-Checkbox--Checked-Enabled;
                @extend %a-icon-Checkbox--Checked-Enabled-dims;
            }
        }
        &--styled {
            @extend %a-icon-Checkbox--Checked-Styled;
            &-dims {
                @extend %a-icon-Checkbox--Checked-Styled;
                @extend %a-icon-Checkbox--Checked-Styled-dims;
            }
        }
        &--partial-select {
            @extend %a-icon-Checkbox--Partial-Selection;
            &-dims {
                @extend %a-icon-Checkbox--Partial-Selection;
                @extend %a-icon-Checkbox--Partial-Selection-dims;
            }
        }
        &--disabled {
            @extend %a-icon-Checkbox--Unchecked-Disabled;
            &-dims {
                @extend %a-icon-Checkbox--Unchecked-Disabled;
                @extend %a-icon-Checkbox--Unchecked-Disabled-dims;
            }
        }
        &--enabled{
            @extend %a-icon-Checkbox--Unchecked-Enabled;
            &-dims {
                @extend %a-icon-Checkbox--Unchecked-Enabled;
                @extend %a-icon-Checkbox--Unchecked-Enabled-dims;
            }
        }
    }

    // Credit Memo
    &--credit-memo {
        &--merge {
            @extend %a-icon-Adobe;
            &-dims {
                @extend %a-icon-Credit_Memo--Edit-Merge-Field-Mapping;
                @extend %a-icon-Credit_Memo--Edit-Merge-Field-Mapping-dims;
            }
        }

        &--refresh {
            @extend %a-icon-Credit_Memo--Refresh-Template;
            &-dims {
                @extend %a-icon-Credit_Memo--Refresh-Template;
                @extend %a-icon-Credit_Memo--Refresh-Template-dims;
            }
        }

        &--report {
            @extend %a-icon-Credit_Memo--Report-Mapping-Panel;
            &-dims {
                @extend %a-icon-Credit_Memo--Report-Mapping-Panel;
                @extend %a-icon-Credit_Memo--Report-Mapping-Panel-dims;
            }
        }

        &--revert {
            @extend %a-icon-Credit_Memo--Save-Changes-Back-to-Sageworks;
            &-dims {
                @extend %a-icon-Credit_Memo--Save-Changes-Back-to-Sageworks;
                @extend %a-icon-Credit_Memo--Save-Changes-Back-to-Sageworks-dims;
            }
        }

        &--save-customer {
            @extend %a-icon-Credit_Memo--Save-as-Customer-Specific-Memo;
            &-dims {
                @extend %a-icon-Credit_Memo--Save-as-Customer-Specific-Memo;
                @extend %a-icon-Credit_Memo--Save-as-Customer-Specific-Memo-dims;
            }
        }

        &--save-general {
            @extend %a-icon-Credit_Memo--Save-as-New-General-Template;
            &-dims {
                @extend %a-icon-Credit_Memo--Save-as-New-General-Template;
                @extend %a-icon-Credit_Memo--Save-as-New-General-Template-dims;
            }
        }

        &--show-labels {
            @extend %a-icon-Credit_Memo--Show-Labels;
            &-dims {
                @extend %a-icon-Credit_Memo--Show-Labels;
                @extend %a-icon-Credit_Memo--Show-Labels-dims;
            }
        }

        &--show-values {
            @extend %a-icon-Credit_Memo--Show-Values;
            &-dims {
                @extend %a-icon-Credit_Memo--Show-Values;
                @extend %a-icon-Credit_Memo--Show-Values-dims;
            }
        }
    }

    // Global Settings
    &--global-settings {
        &--access {
            @extend %a-icon-Global_Settings--Account-Access;
            &-dims {
                @extend %a-icon-Global_Settings--Account-Access;
                @extend %a-icon-Global_Settings--Account-Access-dims;
            }
        }

        &--additional {
            @extend %a-icon-Global_Settings--Additional-Financials;
            &-dims {
                @extend %a-icon-Global_Settings--Additional-Financials;
                @extend %a-icon-Global_Settings--Additional-Financials-dims;
            }
        }

        &--automation {
            @extend %a-icon-Global_Settings--Automation-Settings;
            &-dims {
                @extend %a-icon-Global_Settings--Automation-Settings;
                @extend %a-icon-Global_Settings--Automation-Settings-dims;
            }
        }

        &--core-integration {
            @extend %a-icon-Global_Settings--Core-Integration;
            &-dims {
                @extend %a-icon-Global_Settings--Core-Integration;
                @extend %a-icon-Global_Settings--Core-Integration-dims;
            }
        }

        &--desktop {
            @extend %a-icon-Global_Settings--Create-Desktop-Shortcut;
            &-dims {
                @extend %a-icon-Global_Settings--Create-Desktop-Shortcut;
                @extend %a-icon-Global_Settings--Create-Desktop-Shortcut-dims;
            }
        }

        &--loan-rate {
            @extend %a-icon-Global_Settings--Loan-Rate;
            &-dims {
                @extend %a-icon-Global_Settings--Loan-Rate;
                @extend %a-icon-Global_Settings--Loan-Rate-dims;
            }
        }

        &--manage-users {
            @extend %a-icon-Global_Settings--Manage-Users;
            &-dims {
                @extend %a-icon-Global_Settings--Manage-Users;
                @extend %a-icon-Global_Settings--Manage-Users-dims;
            }
        }

        &--merge-duplicate {
            @extend %a-icon-Global_Settings--Merge-Duplicate-Customers;
            &-dims {
                @extend %a-icon-Global_Settings--Merge-Duplicate-Customers;
                @extend %a-icon-Global_Settings--Merge-Duplicate-Customers-dims;
            }
        }

        &--my-account {
            @extend %a-icon-Global_Settings--My-Account;
            &-dims {
                @extend %a-icon-Global_Settings--My-Account;
                @extend %a-icon-Global_Settings--My-Account-dims;
            }
        }

        &--third-party {
            @extend %a-icon-Global_Settings--Third-Party-Connections;
            &-dims {
                @extend %a-icon-Global_Settings--Third-Party-Connections;
                @extend %a-icon-Global_Settings--Third-Party-Connections-dims;
            }
        }
    }
}

/**
  * Style guide specific styling
  */



.c-icon {
    width: 32px;
    height: 32px;
}
