.btn {
  border-radius: 0;
  border: 2px solid transparent;
}

.button-large {
  @include font-defined($font-sc-osf, $font-sbold);

  text-transform: lowercase;
  border: 2px solid $brand-blue;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  background: $brand-blue;
  color: white;
  letter-spacing: 3px;

  @include button-size(0.5em, 1em, $font-size-medium, $line-height-computed, 0);
  @include transition(all 0.5s ease);
}

.button-medium {
  @extend .button-large;

  @include button-size(0.3em, 0.5em, $font-size-base, $line-height-computed, 0);

  i {
    margin: 2px 0 0 10px;
  }

  &.loan-type-btn {
    border: 2px solid $brand-blue;
    color: $brand-blue;
    margin-bottom: 20px;

    &:hover {
      background: transparent;
      color: $brand-blue;
    }
  }
}

.button-small {
  @extend .button-large;

  @include button-size(0.3em, 0.4em, $font-size-small, $line-height-computed, 0);
}

.button-large, .button-medium, .button-small {
  &.outlined {
    background: transparent;
    border: 2px solid $brand-blue;
    color: $brand-blue;
  }
}

a, button, input {
  &.button-large, &.button-medium, &.button-small {
    &:hover {
      background: $brand-dark-blue;
      color: white;
      border: 2px solid $brand-dark-blue;
    }
  }
}

.btn-group {
  &.slide-nav {
    width: 100%;

    a[role="button"] {
      background: $brand-blue-light;
      border: 2px solid $brand-blue-light;
      min-height: 35px;
      display: inline;

      &.active {
        background: $brand-blue;
        border: 2px solid $brand-blue;

        &:after {
          content: '';
          position: absolute;
          right: 45%;
          bottom: -8px;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $brand-blue;
        }
      }

      img {
        max-height: 20px;
      }
    }
  }

  &.split {
    a, button, input {
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}

.sw-btn-container {
    &:not(.no-top-bottom) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &.centered {
        text-align: center;
    }
}

.sw-btn-group {
    &.no-top-bottom {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    a {
        &:not(:last-child) {
            margin-right: 20px;

            @media (min-width: 768px) and (max-width: 991px) {
                margin-bottom: 20px;
            }

            @media (max-width: 566px) {
                margin-bottom: 20px;
            }
        }
    }
}

// Button Containers

.export-button-container {
  margin-bottom: 15px;

  a {
    margin-left: 10px;
  }
}
