.settingdisabled {
	label {
		cursor: default;
		color: $gray-light;
	}
}

// Large checkbox

input[type=checkbox].lg-check {
    display: none;
    background: url("../../../images/analyst/icons/svg/square.svg") no-repeat;
}

input[type=checkbox].lg-check + label {
    background: url("../../../images/analyst/icons/svg/square.svg") no-repeat;
    position: absolute;
    left: 10px;
    top: 12px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

input[type=checkbox].lg-check:checked + label {
    background: url("../../../images/analyst/icons/svg/checked.svg") no-repeat;
}

label.lg-check {
	cursor: pointer;

	input[type=checkbox] {
		display: none;
	}

	i {
		background: url("../../../images/analyst/icons/svg/square.svg") no-repeat;
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: bottom;
	}

	input[type=checkbox]:checked ~ i {
		background: url("../../../images/analyst/icons/svg/checked.svg") no-repeat;
	}

	input[type=checkbox]:disabled ~ i {
		background: url("../../../images/analyst/icons/svg/square-disabled.svg") no-repeat;
	}

	input[type=checkbox]:checked:disabled ~ i {
		background: url("../../../images/analyst/icons/svg/checked-disabled.svg") no-repeat;
	}

	input[type=checkbox]:indeterminate ~ i {
		background: url("../../../images/analyst/icons/svg/checkbox-intermediate.svg") no-repeat;
	}

	input[type=checkbox]:checked:indeterminate ~ i {
		background: url("../../../images/analyst/icons/svg/checkbox-intermediate.svg") no-repeat;
	}
}

// Input images
.arrow-bottom {
  position: relative;

  &:after {
    content: '\f107';
    position: absolute;
    color: $brand-blue;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 32px;
    bottom: -7px;
    left: -11px;
  }
}

.middle-form-group-container {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 40px;

  &:not(.no-spacing) {
    padding-top: 10px;
  }
}

.middle-form-group {
  text-align: center;

  &:not(.no-spacing) {
    margin-top: 10px;
  }

  input.form-control {
    display: initial;
    width: initial;

    &.percent-column {
      display: inline;
    }
  }

  &.right {
    text-align: right;
  }
}

// Form overwrites
.post-login input.form-control, .post-login select.form-control {
  text-align: right;
  background: none;
  background-color: #FBFBFB;
  border: 1px solid #D5D5D5;
  border-radius: 0;
  color: #666;
  line-height: 1.428571429;
}

.post-login input.form-control {
  width: 160px;
  padding: 4px 6px 4px 20px;
}

.post-login select.form-control {
  width: 160px;
  padding: 4px 6px;
}

.dollar-symbol {
  background-image: url(/images/analyst/icons/1x/dollar-icon.png);
  background-repeat: no-repeat;
  background-position: 12px center;
  padding-left: 24px;
}

.percent-symbol {
  background-image: url(/images/analyst/icons/1x/percent-sign.png);
  background-repeat: no-repeat;
  background-position: 99.5% center;
  padding-right: 1.2em;
}

div {
  &.dollar {
    input {
      &[type="text"] {
        @extend .dollar-symbol;
      }
    }
  }

  &.percent {
    input {
      &[type="text"] {
        @extend .percent-symbol;
      }
    }
  }
}

input {
  &[type="text"] {
    &.dollar {
      @extend .dollar-symbol;
    }

    &.percent {
      @extend .percent-symbol;
    }
  }
}

.input-text-borderless {
	background-color: white !important;
	border: none !important;
	display: inline-block;
}

.pre-login input.form-control, .pre-login select.form-control, .pre-login textarea.form-control {
  background: none;
  background-color: #FBFBFB;
  border: 2px solid #D5D5D5;
  border-radius: 0;
  -webkit-appearance: none;

  @include box-shadow(none);
  @include transition(none);

  color: #999;
  height: 44px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.428571429;
  padding: 6px 12px;
  margin-bottom: 15px;
}

.pre-login .styled-select select {
  background: transparent;
  padding: 5px;
  padding-left: 15px;
  border: 0;
  border-radius: 0;
  height: 41px;
  margin: 0;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
}

.pre-login .styled-select {
  overflow: visible;
  height: 44px;
  background: #fbfbfb url(/images/down_arrow_select.png) no-repeat calc(100% - 10px) center;
  border: 2px solid #d5d5d5;
  margin-bottom: 15px;
}

.pre-login .styled-select select::-ms-expand {
  display: none;
}

.DateContainer {
  position: relative;
  display: inline-block;
}

.DateContainer .icon-calendar {
  position: absolute;
  right: 6px;
  top: 0.4em;
  cursor: pointer;
}

.DateContainer.field-container .icon-calendar {
  top: 0.6em;
}

.DateContainer > input {
  padding-right: 18px !important;
}

.DateContainer > input.form-control {
  padding: 4px 22px 4px 6px !important;
}

.datepicker-with-icon {
  position: relative;
  left: -1px;
  display: inline-block;

  input[type].datepicker-input {
    padding-left: 6px;
    padding-right: 25px;
    text-align: right;
  }

  .datepicker-icon {
    display: block;
    width: 23px;
    height: 100%;
    background-image: url(/images/analyst/icons/1x/calendar.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 1px;
    top: 0;
    cursor: pointer;
  }
}

/*Validatation Messages*/
.inlineMsg {
  display: none;
  position: relative;
  border: 1px solid $gray-lighter;
  padding: 0px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  z-index: 3;
}

.inlineMsgArrow {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 991;
}

.inlineMsgArrow-top {
  bottom: -10px;
  margin-left: 10px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid $gray-lighter;
}

.inlineMsgArrow-right {
  left: -10px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid $gray-lighter;
}

.inlineMsgArrow-left {
  right: -10px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid $gray-lighter;
}

.inlineMsgArrow-bottom {
  top: -10px;
  margin-left: 10px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid $gray-lighter;
}

.inlineMsgContent {
  display: block;
  background: white;
  border: 1px solid $gray-lighter;
  padding: 5px;
  min-width: 150px;
  max-width: 400px;
  font-size: 14px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  z-index: 992;
}

.msgbox {
  padding: 6px 15px;
  color: #808080;
  background-color: #f4f4f4;
  border: 1px solid lightgray;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin-top: 5px;
  font-size: 16px;
  clear: both;
  text-align: left;
}

.success.msgbox {
  background-color: #DFF0D8;
  border: solid 1px #D6E9C6;
  color: #3B763D;
}

.error.msgbox {
  background-color: #FAE6E6;
  border: solid 1px #E8C7C9;
  color: #DA0000;
}

.form-group input {
  padding: 8px;
  border: 0;
  border-radius: 2px;
}

ul.industry-code-picker {
	position: absolute;
}

ul.industry-code-select-list {
	position: absolute;
	z-index: 99;
	padding: 3px 5px;
	border: solid 1px #aaaaaa;
	background: #ffffff;
	width: 305px;
}

ul.industry-code-select-list li {
	list-style-type: none;
	padding: 4px;
	margin: 0;
	line-height: 1.2em;
	font-family: proxima-nova,Helvetica,Arial,sans-serif;
}

ul.industry-code-select-list li:hover {
	cursor: pointer;
	color: #5091cd;
}