.panel-default, .panel-heading {
	background-color: transparent !important;
	border-color: transparent !important;
}

.raised-image {
	max-width: 95%;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
	border: 1px solid #d5d5d5;
}