---
layout: default
---

{% include page-header.html %}

<div class="l-linelength-container">

	<div class="c-text-passage">
		{{ page.content | markdownify }}
	</div><!--end c-text-passage-->

</div><!--l-linelength-container-->

<section class="c-section">

		{% for componentPage in site.pages %}
    		{% if componentPage.group == page.group %}
        		{% if componentPage.subgroup == page.subgroup %}
            		{% if componentPage.layout != "component-category" and componentPage.layout != "component-category2" and componentPage.status != "Planned" %}
						{% if componentPage.description == "Icon description" %}
							{% include icon-library.html %}
						{% endif %}
						{{ componentPage.content | markdownify }}
					{% endif %}
				{% endif %}
			{% endif %}

		{% endfor %}
	<!-- end c-card-list

</section>
