html {
    background-color: transparent;
}

.control-panel-flyout {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 2;
    background-color: transparent;
}

.md-button.md-primary.md-raised, .md-button.md-primary {
    background-color: #5091cd;
}

.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary:not([disabled]):hover {
    background-color: #295e8e;
}