.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;

    input {
        display: none;

        &:checked + .slider .on {
            display: block;
        }

        &:checked + .slider .off {
            display: none;
        }
    }

    input:checked + .slider {
        background-color: #bcd7ee;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }


    .slider {
        position: absolute;
        border: 1px solid $brand-blue;
        border-radius: 34px;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #cfcece;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            border-radius: 50%;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 3px;
            background-color: $brand-blue;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .on {
            display: none;
            left: 15px;
        }

        .on, .off {
            color: #868686;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            font-size: 10px;
            font-family: Verdana, sans-serif;
        }

        .off {
            right: -3px;
        }
    }
}
