// Global styles

/* Typography */

body {
  font-family: $font-serif;
}

.main-heading {
  clear: both;
}

// Error message styling

@mixin error {
  @include font-defined($font-serif, $font);

  font-size: $font-size-small;
  font-style: italic;
  color: $brand-orange;
}

.error-bullets {
    margin: 1em 0 2em 20px;

    li {
        margin-bottom: 1em;
        @include icon-placement("before", "left", $brand-orange, 0, -15px, "\f069");
        &:before {
            font-style: normal;
            font-size: 0.8em;
        }
    }
}

div[role="banner"] {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

form[action="login.aspx"] {
  .error {
    @include error;
    line-height: 2em;
  }
}

.password-recovery-error-container {
  margin-top: 30px;

  @include error;

  span {
    font-weight: $font-bold;
  }

  ul {
    li {
      color: $brand-orange;
    }
  }
}

#forgot-password {
  position: absolute;
  right: 0;
  bottom: 0;

  a {
    @include error;

    text-decoration: underline;
  }

  @media (max-width: 768px) {
    a {
      font-size: 65%;
      padding-right: 5px;
      padding-bottom: 0;
    }
  }
}

p.error {
  color: $brand-orange;
}

.highlightColumn {
  color: $brand-blue;
}

.paragraph-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reset {
  margin: 0;
  line-height: 0;
}

/* Lifts content over most */
.over {
  position: relative;
  z-index: 999;
}

.popover {
  @include font-defined($font-serif, $font);

  font-style: italic;
  text-transform: none;
  color: $gray-light;
  letter-spacing: 0;
  font-size: $font-size-small;
  line-height: 1.2;

  &.right {
    right: 0;
  }
}

.h-hint {}

/* Layout styles */

.siblings {
  div {
    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }
}

.centered {
  position: relative;

  div {
    &:first-child {
      @include vertical-align;
    }
  }
}

dl {
  margin-top: 20px;
  margin-bottom: 30px;

  dt {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Font styles */

.serif-font {
  font-family: $font-serif;
}

.publication, .date, .more-link {
  font-style: italic;
  display: block;

  &.inline {
    display: inline;
  }
}

.date, .quote, .credits {
  color: $gray-light;
}

.no-transform {
  text-transform: none !important;
}

.list-link {
  font-weight: $font-sbold;
  line-height: 2.3em;
}

section[role=main] {
  @include border-content(before, double-border-top);

  margin-top: 60px;
}

section[role=banner] {
  @include border-content(after, double-border-top);
}

div[role=banner] {
  @extend .border-dot-bottom;

  margin-bottom: 40px;
  padding-bottom: 30px;
}

div.bigmack[role=banner] {
  @include border-content(before, double-border-top);

  @extend .border-dot-bottom;

  margin-top: 60px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

article[role=banner] {
  @include border-content(after, border-dot-bottom);
}

table {
  &.borderless {
    tr, td {
      border: none;
      border-top: 0 !important;
    }
  }

  &.packages {
    tr {
      td {
        &:first-child {
          width: 28%;
        }

        width: 20%;
      }
    }
  }
}

.white-popup {
    position: relative;
    background: white;
    padding: 20px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}

.arrow-bottom {
  position: relative;

  &:after {
    content: '\f107';
    position: absolute;
    color: $brand-blue;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 32px;
    bottom: -7px;
    left: -11px;
  }
}

.image-res {
  @extend .img-responsive;

  &.logo {
    max-height: 58px;
  }

  &.logo-sm {
    max-height: 44px;
  }

  &.logo-xs {
    max-height: 29px;
    display: inline;
  }

  &.icon {
    max-height: 49px;
  }

  &.icon-sm {
    max-height: 30px;
    float: left;
    margin-right: 30px;
  }

  &.icon-xs {
    max-height: 18px;
  }
}

/* Image shadow */
.img-box {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 1%;

  &:before, &:after {
    position: absolute;
    z-index: 1;
    content: '';
    height: 90%;
    width: 50%;
    bottom: 0;
    left: 53%;
    opacity: 0.1;
    background-color: $gray-dark;

    @include transform(rotate(5deg));
    @include box-shadow(0 0 7px rgba(0, 0, 0, 1));
  }

  &:before {
    @include transform(rotate(-5deg));

    right: 53%;
    left: auto;
  }

  img {
    position: relative;
    z-index: 2;
  }
}

.img-box {
  &.size-92 {
    max-width: 92px;
    margin-top: 10px;
  }

  &.size-125 {
    max-width: 125px;
  }

  &.size-180 {
    max-width: 180px;
    margin-top: 10px;
  }

  &.size-240 {
    max-width: 240px;
    margin-top: 10px;
  }
}

img {
  &.img-square-sm {
    @extend .img-responsive;
  }

  &.img-square-md {
    @extend .img-responsive;
  }

  &.img-square-lg {
    @extend .img-responsive;
  }

  &.img-square-xl {
    @extend .img-responsive;
  }
}

.tooltipMessage {
  background: white;
  padding: 10px;

  @include box-shadow(0 0 7px rgba(0, 0, 0, 1));
}

.sw-btn-group {
  margin-top: 40px;
  margin-bottom: 40px;

  a {
    &:first-child {
      margin-right: 20px;

      @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media (max-width: 566px) {
        margin-bottom: 20px;
      }
    }
  }
}

// Sageworks sit grid

.sw-container {
  @extend .container;

  &:not(footer) {
    margin-top: -20px;
    min-height: 100%;
    margin-bottom: -420px;

    &:after {
      height: 420px;
    }
  }

  &.blog-container {
    margin-bottom: 60px;
  }

  &.pardot-container {
    margin-bottom: 30px;
  }

  &:after {
    content: '';
    display: block;
  }

  &.lift {
    &:after {
      height: 450px;
    }
  }

  &.nav-old {
    margin-top: 40px;
  }
}

.sw-row {
  @include make-row;

  height: auto;

  &.dummy {
    margin-right: 0;
    margin-left: 0;
  }
}

.sw-one {
  @include make-sm-column(1);
}

.sw-two {
  @include make-sm-column(2);
}

.sw-three {
  @include make-sm-column(3);
}

.sw-four {
  @include make-sm-column(4);
}

.sw-five {
  @include make-sm-column(5);
}

.sw-six {
  @include make-sm-column(6);
}

.sw-seven {
  @include make-sm-column(7);
}

.sw-eight {
  @include make-sm-column(8);
}

.sw-nine {
  @include make-sm-column(9);
}

.sw-ten {
  @include make-sm-column(10);
}

.sw-eleven {
  @include make-sm-column(11);
}

.sw-twelve {
  @include make-sm-column(12);
}

/* Default rows and columns */

.sw-list-row {
  @include make-row;

  &.thick {
    @extend .double-border-before;

    @media (max-width: 991px) {
      margin-bottom: -80px;
    }
  }
}

.sw-list-column {
  @include make-xs-column(12);
  @include make-md-column(4);

  font-family: $font-serif;

  &.middle {
    @include make-xs-column(12);
    @include make-md-column(4, 14px);
  }

  .article-details {
    margin-top: 7px;
  }
}

.sw-list-item {
  margin-bottom: 15px;
  font-family: $font-serif;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: block;
  }

  h6 {
    margin: 0px;
  }
}

.sw-resource-column {
  @include make-sm-column(6);
  @include make-md-column(3);

  font-family: $font-serif;

  &.middle {
    @include make-md-column(3, 14px);
  }

  li {
    margin-bottom: 15px;
  }

  .resource-video {
    a {
      img {
        max-width: 150px;
      }

      &:nth-child(2) {
        display: inline-block;
      }
    }
  }
}

.sw-thumb-row {
  @include make-row;

  max-width: 570px;
}

.sw-thumb-column {
  @include make-sm-column(4);

  &.middle {
    @include make-sm-column(4, 14px);
  }
}

.block-display {}

.product-preview {
  @include make-sm-column(8);

  margin-top: 30px;
  margin-bottom: 50px;

  &.middle {
    @include border-content(before, border-dot-top);
    @include border-content(after, border-dot-bottom);
  }
}

.product-form {
  @include make-sm-column(4);

  @media (max-width: 767px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.chart-container {
  position: relative;
  display: block;
  width: 100%;
  min-height: 350px;
}

// Sidebar menu tab

.sidebar-menu-tab {
  position: absolute;
  left: 0;
  top: 98px;

  @extend .button-small;

  @extend .visible-xs;

  display: inline-block;
}

// Default Section/Content Styling

/* Main content home page */

.main-section {
  @include make-row;

  .main-heading {
    @include make-sm-column(7, 0);

    &.ext {
      @include make-sm-column(8, 0);
    }
  }

  .sw-main-hero {
    @include make-xs-column(12, 0);

    &.chart {
      margin-bottom: -40px;
    }

    aside {
      @include make-sm-column(1.5, 0);
    }

    .comparison-graph {
      @include make-sm-column(10.5, 0);
    }
  }
}

.main-section-b, .contact-page {
  @include make-row;

  .section-content {
    @include make-md-column(8);

    padding-left: 0;

    @media screen and (min-width: 768px) {
      @include border-image-right($border-square-dot-img, $border-width);
    }

    &.right {
      @include border-image-left($border-square-dot-img, $border-width);
    }
  }
}

.base-line {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

/* Main sub page body content */
.main-sub-section {
  @include make-row;

  margin: 40px 0 0;
  padding-left: 0;

  @include transition(all 0.5s ease);

  &.toggled {
    padding-left: 300px;

    .nav-sidebar-container {
      margin-left: -300px;
      width: 280px;
    }

    .main-body-content {
      margin-right: -300px;
    }
  }

  .main-body-content {
    .secondary-heading {
      h1 {
        @extend h2;
      }
    }

    .subpage-main-text {
      h4 {
        margin-top: 0;
      }
    }

    h4 {
      margin-top: 30px;
    }

    .analyst-resources-page {
      margin-left: 15px;

      .main-heading {
        h1 {
          margin-left: -15px;
        }
      }

      h4 {
        margin-top: 0;
      }
    }

    .executives-analysts-default-page {
      .content-block {
        @include border-content(after, double-border-top);
      }

      .main-heading {
        margin-bottom: 20px;
      }

      h4 {
        margin-top: 0;
      }
    }

    .who-we-are-default-page {
      margin-top: 20px;

      h4 {
        margin-top: 0;
      }
    }

    .industry-data-container {
      @include make-row;

      h4 {
        margin-top: 10px;
        float: left;
      }

      a {
        img {
          margin-top: 8px;
          margin-left: 10px;
          float: left;
        }
      }
    }

    .featured-media {
      margin-bottom: 45px;
    }

    // Data visualization section
    .sub-section-b {
      @extend .double-border-before;

      .featured-data {
        margin-top: -5px;

        .chart-container {
          top: -35px;
        }
      }
    }

    .continue-button {
      float: right;

      @media (max-width: 991px) {
        display: block;
        padding-top: 30px;
        float: none;
      }

      @media (max-width: 767px) {
        padding-top: 0;
      }

      &.lift-40 {
        @media (min-width: 768px) {
          margin-top: -40px;
        }
      }

      &.lift-80 {
        margin-top: -80px;
      }
    }
  }
}

// Sidebar Offcanvas

@media (min-width: 768px) {
  .main-sub-section {
    padding-left: 300px;
  }

  .main-sub-section {
    &.toggled {
      padding-left: 0;

      .nav-sidebar-container {
        margin-left: -700px;
      }

      .main-body-content {
        position: relative;
        margin-right: 0;
      }
    }
  }

  .nav-sidebar-container {
    margin-left: -310px;
    width: 280px;
  }
}

// Media page styling

/* Aside sidebar menu for media section */
.media-contact-panel {
	@extend .border-dot-top;

	clear: left;

	ul {
		margin-bottom: 30px;

		li {
			margin-bottom: 20px;
			margin-top: 20px;

			a {
				font-family: $font-serif !important;
				font-weight: $font-thin !important;
				font-size: $font-size !important;
				font-style: italic;
			}
		}
	}

	.social-bookmarks {
		margin: -20px 0 10px;
	}
}

.media-item {
  display: inline-block;
  width: 100%;

  .article-details {
    font-family: $font-serif;

    h6 {
      margin-bottom: 0;

      i {
        margin-left: 8px;
      }
    }

    p {
      margin: 0;
      margin-right: 240px;
    }
  }
}

.media-column {
  @include make-md-column(4, 0);

  @media (min-width: 768px) {
    padding-left: 30px;
  }

  .media-feed {
    font-family: $font-serif;

    &:not([role="banner"]) {
      margin-bottom: 15px;
    }
  }

  .careers {
    &:not([role="banner"]) {
      margin-bottom: 10px;
    }

    img {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  .form-group {
    margin-bottom: 30px;

    .form-control {
      margin-bottom: 20px;
    }
  }

  .testimonials {
    .testimony {
      @extend .sw-twelve;

      margin-top: 5px;
      margin-bottom: 15px;

      p {
        margin: 0 0 10px;
      }

      .article-details {
        span {
          display: block;
          font-style: italic;
          color: $gray-light;
        }
      }
    }
  }
}

.contact-column {
  @extend .media-column;

  @media (max-width: 767px) {
    padding-left: 0;
  }
}

// Contact page styling
.contact-page {
  @include make-row;

  margin-bottom: 40px;
}

// Technology page styling
.technology-page {
  img {
    height: 234px;

    @media (min-width: 768px) and (max-width: 991px) {
      height: 180px;
    }

    @media (max-width: 566px) {
      height: 180px;
    }
  }

  .col-xs-1 {
    @media (max-width: 360px) {
      padding-right: 0;
    }
  }

  h2 {
    font-weight: $font-thin;
    font-size: 2em;
    margin-top: 5px;

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 1.5em;
    }

    @media (max-width: 566px) {
      font-size: 1.5em;
    }

    @media (max-width: 360px) {
      font-size: 1.2em;
    }

    &:first-child {
      margin-bottom: 54px;

      @media (min-width: 566px) and (max-width: 767px) {
        margin-bottom: 75px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 45px;
      }

      @media (max-width: 566px) {
        margin-bottom: 50px;
      }
    }

    &:nth-child(even) {
      margin-bottom: 64px;

      @media (min-width: 566px) and (max-width: 767px) {
        margin-bottom: 80px;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        margin-bottom: 46px;
      }

      @media (max-width: 566px) {
        margin-bottom: 52px;
      }
    }
  }
}

// Private Company Data page styling

.private-company-report-page {
  h4 {
    margin-bottom: 30px;
  }
}

.data-release-element {
  color: $brand-blue;
  padding-bottom: 15px;

  span {
    @extend h5;

    margin-bottom: 20px;
  }
}

.second-sub-section {
  @extend .container;

  margin-top: 40px;
  margin-bottom: 40px;

  .article-details {
    margin-top: 7px;
  }

  .media-item {
    h6 {
      color: $gray-dark;
    }
  }
}

// End Media page styling

// Data Release page styling

.data-release-container {
  position: relative;
}

// Basic content pages

.security-default-page {
  padding-top: 10px;

  @extend .sw-row;

  @extend .dummy;

  .ls-bullets {
    @extend .sw-eleven;
  }
}

.terms-default-page {
  @include make-row;

  margin-top: 20px;

  @media screen and (min-width: 768px) {
    max-width: 92.6%;
  }
}

// ProfitCents and Valuation page styling

/* ProfitCents UK Product overview */

.client-success-page {
  .head-shot {
    @extend .sw-three;

    @media (min-width: 767px) and (max-width: 1200px) {
      min-width: 100%;
    }
  }

  .testimony-content {
    @extend .sw-twelve;

    @media (min-width: 767px) and (max-width: 1200px) {
      min-width: 100%;
    }
  }
}

.profitcents-products {
  h4, img {
    margin-bottom: 30px;
  }

  .sw-btn-group {
    margin-left: -15px;
  }
}

/* Blog feed on home page */

.media-column {
  .media-blog-date {
    font-style: italic;
    color: $gray-light;
  }

  .media-blog-title {
    font-family: $font-serif;
    font-size: $font-size-base;
    color: $brand-blue;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  footer {
    @extend .hidden;
  }
}

// Modules

/* Follow press release logos */

.follow-logo-section {
  @include make-row;

  display: inline-block;

  @extend .border-before;

  bottom: -30px;
  position: relative;

  &:before {
    @include calc(width, "99%", "100% - 30px");

    margin-right: 15px;
    margin-left: 15px;
  }

  h2 {
    @include make-xs-column(3);

    float: left;
    margin-top: 13px;
  }

  ul {
    @include make-xs-column(9);

    float: left;

    li {
      @include make-xs-column(3);

      display: inline-block;

      a {
        img {
          @extend .img-responsive;
        }
      }
    }
  }
}

/* media */

.follow-logos img {
  margin: 0 18px;
}

/* Thumb gallery */

.thumbs-container {
  background: $gray-lighter;
  margin-top: 30px;
  margin-left: 0;
  padding-top: 15px;
  padding-left: 20px;

  .thumb {
    a {
      .hoverdesc {
        position: absolute;
        z-index: 3;
        content: '';

        @include square(125px);

        background: $brand-blue;
        opacity: 0.9;
        visibility: hidden;
        padding: 5px 5px 0 7px;
        margin-left: 1px;

        .play {
          position: absolute;
          left: 40%;
          bottom: 15px;
          border-radius: 12px;
          color: $brand-blue;
          background: white;
          font-family: $font-serif;
          font-size: 14px;
          line-height: 24px;
          padding-left: 7px;
          padding-top: 0;
          width: 24px;
          height: 24px;
          display: block;
          margin: 0 auto;
        }
      }

      .hoverdesc span {
        display: block;
        color: white;
        line-height: $line-height-base;
      }

      .hoverdesc span.name {
        font-weight: bold;
        font-size: $font-size-base;
        letter-spacing: 1px;
        margin-bottom: 2px;
      }

      .hoverdesc span.title {
        font-size: $font-size-base;
        font-family: $font-serif;
        font-style: italic;
      }
    }

    &:hover {
      .hoverdesc {
        visibility: visible;
      }
    }
  }
}

.press-article, .history-article {
  p {
    font-style: italic;
  }

  a {
    font-style: normal;
  }

  .date-article {
    color: $gray-light;
    vertical-align: top;
    display: table-cell;
    padding-left: 20px;
  }

  .content-article {
    vertical-align: top;
    display: table-cell;
    padding-left: 20px;
  }
}

.press-article {
  .date-article {
    width: 150px;
    padding-left: 0;
  }

  .content-article {
    padding-left: 0;
  }
}

.see-also {
  margin-bottom: 30px;
}

.media-press-item {
  margin-bottom: 15px;
}

.press-heading {
  padding-bottom: 30px;
}

// dataanalysis.html

.data-analysis {
  padding-top: 10px;

  p {
    &:first-child {
      padding-bottom: 20px;
    }

    &:not(:first-child) {
      font-style: italic;
    }
  }
}

//Homepage, index.html

.product-list-container {
  h4 {
    margin-top: 20px;
  }

  h5 {
    margin-bottom: 0px;
  }
}

.preview-list {
  h4 {
    margin-top: 20px;
    margin-bottom: 2px;
  }
}

// Executives and Analysts - Who We Are Bio styling

.head-shot {
  @extend .sw-three;

  @media (min-width: 767px) and (max-width: 1200px) {
    min-width: 100%;
  }
}

.bio-content {
  @extend .sw-nine;

  @media (min-width: 767px) and (max-width: 1200px) {
    min-width: 100%;
  }
}

.forgot-login-default-page {
  margin-bottom: 30px;
}

//form design *these should be global!
.sign-up {
  input {
    margin-bottom: 25px;
    height: 38px;
  }
}

// Margin and Padding helpers

.pull-margin-left {
  margin-left: -15px;
}

.padding-left-0 {
  padding-left: 0 !important;
}

/* ----| Billboard data - Comparison |---- */
.banner-numbers-words {
  display: block;
  width: 978px;
  height: 235px;
  margin: 15px 0 0 0;
  background: url(/images/banner-number-words.jpg) center top no-repeat;
}

/* media */
.follow-logos img {
  margin: 0 18px;
}

.history-page .banner-numbers-words {
  display: block;
  width: 978px;
  height: 235px;
  margin: 15px 0 0 0;
  background: url(/images/banner-number-words.jpg) center top no-repeat;
}

/* history */

.history-page {
  margin-bottom: 24px;

  .history-row {
    overflow: hidden;

    h4 {
      margin: 0 8px 0 0;
      text-align: right;
    }

    .history-row-left {
      width: 20%;
      float: left;

      h4 {
        margin-top: 0;
      }
    }

    .history-row-right {
      @extend p;

      font-style: italic;
      margin: 0;
      width: 80%;
      float: left;
      border-left: 2px solid $brand-blue;

      small {
        padding: 0 8px;
      }
    }
  }
}

.forgot-login-thanks-page, .login-default-page, .forgot-login-default-page, .password-recovery-page {
  @include make-row;

  form {
    @extend .sw-eleven;
  }
}

.password-recovery-page {
    margin-bottom: 30px;
}

.forgot-login-default-page {
    h4 {
        text-align: center;
        line-height: 4.5;
    }
}

// Form styling from Loansage

.form-group {
  &.has-error {
    .styled-select {
      .form-control {
        border-color: #a94442;
      }
    }
  }

  .styled-select {
    border: none;
    overflow: visible;
    background: none;

    .form-control {
      border: 2px;
      border-color: #d5d5d5;
      border-style: solid;
      background: #fbfbfb url(images/down_arrow_hollow.png) no-repeat;

      /* Down arrow positioning in IE/Safari. */
      background-position-x: 98%;
      background-position-y: 50%;

      /* Down arrow positioning in Chrome/Firefox. */
      background-position: right 10px center;

      /* Hide select arrow for drop downs on Firefox. */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
    }
  }
}

input.form-control, select.form-control, textarea.form-control {
  background: none;
  background-color: #fbfbfb;
  border: 2px solid #d5d5d5;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  height: 44px;
  font-weight: normal;
  margin-bottom: 20px;
  line-height: 1.430071429;
  padding: 6px 12px;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #555;
}

select.input-small {
  background: #fbfbfb url(images/down_arrow_hollow.png) no-repeat;

  /* Down arrow positioning in IE/Safari. */
  background-position-x: 98%;
  background-position-y: 50%;

  /* Down arrow positioning in Chrome/Firefox. */
  background-position: right 10px center;

  /* Hide select arrow for drop downs on Firefox. */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

select::-ms-expand {
  display: none;
}

// For checkbox next to label

.check-label-group {
  input {
    margin: 4px 10px 0 0;
  }

  label {
    max-width: 90%;
  }
}

/** Drop down select: ex Country select ==================== **/
.styled-select select {
  background: transparent;
  padding: 5px;
  padding-left: 15px;
  border: 0;
  border-radius: 0;
  height: 44px;
  margin: 0;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
}

.styled-select select::-ms-expand, .styled-select-2 select::-ms-expand {
  display: none;
}

// Footer styling

footer {
  p {
    font-style: italic;
    color: $gray-light;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .fine-print {
    margin-top: 45px;

    li {
      display: inline;
    }

    .small {
      font-size: $font-size-large * 2;
    }
  }

  h2 {
    line-height: 0.5em;
    letter-spacing: 0.03em;
    font-weight: $font-sbold;
  }

  .footer-column {
    @include make-xs-column(6, 0);
    @include make-md-column(3, 0);
  }

  .footer-contact {
    float: right;
    text-align: right !important;

    @media (max-width: 768px) {
      margin-right: 30px;
    }

    address {
      font-family: $font-serif;
      margin-bottom: 0;
    }
  }

  .company-legal {
    @media (max-width: 768px) {
      margin-left: 15px;
    }
  }
}

// Blog styling

// .blog-list {
//   .blog-item {
//     padding-bottom: 10px !important;
//   }
// }

.author-info {
  .author-image {
    @include make-xs-column(1.5, 10px);
  }

  .blog-info {
    @include make-xs-column(6, 15px);

    margin-top: 0 !important;
  }
}

.featured-post {
  @include border-content(after, double-border-top);

  .blog-info {
    margin-top: 23px !important;

    @media (min-width: 1200px) {
      margin-left: -25px;
    }
  }
}

// Third party implementations

.tweet {
  header {
    margin-left: 25px;
  }

  .e-entry-title {
    margin: 0px 5px 0px 25px;
  }
}

// AddThis buttons

.addthis_responsive_sharing {
  min-height: 48px;
  margin-top: 20px;
  margin-right: -15px;

  .at-resp-share-element {
    a {
      width: 18%;

      .label {
        color: white;
      }
    }
  }
}

// SilkRoad

.sw-silkroad {
  .company-legal {
    float: left;

    .fine-print {
      margin-top: 15px;
    }
  }
}

// Profitcents/BankInfo User Pricing/Packages selectors

.user-selection-title {
  display: inline-block;
  padding: 10px 0 10px 18px;

  h2 {
    font-family: $font;
    font-weight: $font-sbold;
    font-size: 26px;
    margin-bottom: 0px;
    color: #FFFFFF;
  }
}

.users-toggle {
  position: relative;
  background-color: #7EADDD;
  margin: 40px 0 20px;

  .checkbox-container {
    float: right;
  }

  input[type=radio] {
    top: 0px;
    position: absolute;
    visibility: hidden;
  }

  input[type=radio] + label {
    display: inline-block;
    padding: 9px 72px;
    border: none;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #7EADDD;
    color: #FFFFFF;
    font-family: $font;
    font-weight: $font-sbold;
  }

  input[type=radio]:checked + label {
    background-color: #4C8FCC;
    position: relative;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(76, 143, 204, 0);
      border-top-color: #4C8FCC;
      border-width: 15px;
      margin-left: -15px;
    }

    &:before {
      border-color: rgba(76, 143, 204, 0);
      border-top-color: #4C8FCC;
      border-width: 21px;
      margin-left: -21px;
    }
  }
}

/* Sageworks Analyst Public Pages */

.analyst-products-page {
  .suite-add-ons {
    @include border-content(before, double-border-top);

    margin-top: 60px;

    .equalize {
      .col-md-6 {
        margin-bottom: 30px;
      }
    }

    .continue-button {
      display: block;
      width: 100%;
      height: auto;
      right: 0;
      bottom: -40px;
      float: none;
    }
  }
}

// Future Cash Flow Calculator
.DataTableAdapterContainer {
  margin-bottom: 50px;
}

.label {
  font-family: $font-serif;
  font-size: $font-size-base;
}

// Chart Data Tooltip

.chart-data-tooltip {
  min-width: 220px;
  padding-left: 10px;
  margin-bottom: 0;

  .data-legend {
    .data-legend-key {
      .data-spot {
        @include square(14px);

        border-radius: 50%;
        background-color: $brand-blue;
        display: inline-block;
        margin-right: 5px;

        &.dark {
          background-color: $brand-dark-blue;
        }
      }
    }
  }

  li {
    font-size: $font-size-base;

    &:nth-child(even) {
      margin-left: 28px;
      margin-bottom: 10px;
    }
  }
}

// Pardot Pages

#pardot-form {
  p.form-field {
    @extend .form-group;
  }

  label {
    @extend .control-label;
  }

  input.text {
    @extend .form-control;

    border: 2px solid #D5D5D5 !important;
    border-radius: 0px !important;
  }

  select.select {
    @extend .form-control;
  }
}

@media (min-width: 992px) {
  .risk-management-registration-page {
    h1 {
      margin-top: 20%;
    }
  }
}

// Survey Gizmo

#accordian {}

// IE 10 Specific

.ie10 {
  .sagenav {
    border-bottom: 3px dotted #000;
  }

  .follow-logo-section:before {
    border-width: 3px;
    border-style: dotted;
  }

  .nav-sidebar-container {
    border-right: 3px dotted #000;
  }

  .main-section-b .section-content, .col-md-8, .section-content {
    border-right: 2px dotted #000;
  }

  // Border fixes

  .double-border-top, .double-border-before:before, footer.white-footer:before, .sw-list-row.thick:before, .main-sub-section .main-body-content .sub-section-b:before, .double-border-after:after, section[role="main"]:before, section[role="banner"]:after, .main-sub-section .main-body-content .executives-analysts-default-page .content-block:after {
    border-width: 3px;
  }

  section[role=main]:before {
    border-width: 3px;
  }

  section[role=banner]:after {
    border-width: 3px;
  }

  div[role=banner] {
    border-style: dotted;
    border-width: 3px;
  }

  article[role=banner]:after {
    border-style: dotted;
    border-width: 3px;
  }

  footer.white-footer:before {
    border-width: 3px;
  }
}

// Drag and Drop styling

.dragtable-drag-wrapper {
  position: absolute;
  z-index: 1000;
}

.dragtable-drag-wrapper .dragtable-drag-col {
  opacity: 0.7;
  filter: alpha(opacity = 70);
  cursor: move;
}

.dragtable-col-placeholder {
  border-right: 1px solid $gray-dark;
  border-left: 1px solid $gray-dark;
  color: white;
  background: $brand-blue;
  visibility: visible;
  opacity: 0.3;
}

table .dragtable-col-placeholder:first {
  border-top: 1px dotted $gray-dark;
}

.dragtable-col-placeholder * {
  opacity: 0.0;
  visibility: hidden;
}
