/*=====General styles=======*/

.manage-documents {
  width: 1300px !important;
}

.manageDocHeader {
  font-size: 14px;
  background-color: #F2F2F2;
  height: 30px;
  line-height: 27px;
  text-align: center;
  font-weight: bold;
}

.datatableadapter, .footer-row {
  .footer-spacing {
    background: white;
  }
}

#ui-datepicker-div {
    z-index: 10000 !important;
}

.tableHeader-column {
    width: 800px;
}

.main-document-table {
  padding: 0 15px;
}

.leftTable {
  float: left;
}

.deleted-folders {
  font-size: 14px;
}

sub, sup{
    font-size: 90%;
}

/*======Searchbox======*/
.searchbox-column {
    width: 525px;
}

.searchLabel, .searchBox {
  margin: 0px 10px;
  width: 220px;
}

.searchboxcontainer {
  border: solid 1px #CCC;
  width: 300px;
  height: 28px;
}

#Documents_Table tr:nth-of-type(even) {
    background-color: #F9F9F9;
}
#Documents_Table {
    width: 125%;
}


/*== Configure Folders== */
.folder-row-width {
    width: 250px;
}

.center-folder-category {
  padding-left: 25px !important;
}

.configure-folders-section {
    margin-top: 50px;
}

#ConfigureFoldersLink{
    margin-left: 5px;
}

.export-folders-table {
    margin-left: 105px !important;
}

/*=====Folder configuration and sidebar styles=======*/

.configure-folders-section {
  float: left;
  margin-top: 50px;
  width: 250px;
}

.draggable-handle {
  vertical-align: top;

  img {
    margin-top: 4px;
    width: 18px;
    height: 18px;
  }
}

.footer-row {
  background-color: #EEE;
  padding: 10px;
  width: 100%;
}

.no-data-message {
  color: orange;
}

.extraFolders {
  padding: 5px;
}

.extra-folders-text {
  color: #333;
  font-size: 15px;
}

#CustomerFoldersPanel {
  height: auto;
  max-height: 400px;
}

#GeneralFoldersPanel {
  height: auto;
  max-height: 200px;
}

#TVDocumentFolders table, #TVGeneralFolders table {
  margin: 0 !important;
}

#TVDocumentFolders td img, #TVGeneralFolders td img {
  width: 18px;
}

.active-treenode {
  background-color: #4F90CC;
  -ms-opacity: 0.9;
  opacity: 0.9;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px !important;
}

.active-treenode-color {
  color: #FFFFFF !important;
  font-weight: bold !important;
}

/*=====Main table styles=======*/

.select-checkbox {
    width: 25px;
}

.display-fixed {
    z-index: 1
}


.scrollable-sections tbody.section.scrollable {
    z-index: 1;
    border-left: 1px solid rgb(208, 215, 229);
    top: 0px;
    left: 0px;
}

.folder-name-spacing {
  margin-bottom: 10px;
  margin-top: 10px;
}

.main-document-table {
  float: right;
  width: 1050px;
  padding: 0px 20px;
}


/*==== Sort buttons ======*/

.sw-table-search-container input[type="text"] {
    width: 350px;
}

#ViewEditRelatedDocumentsTable .data-row .data-row-cell {
    text-align: center !important;
}

.hiddenInput {
  display: none;
}

/*=====Overlay styles=======*/

.ui-multiselect-optgroup-label {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.downloadIcon {
  margin-bottom: 5px;
}

/*=====Chosen dropdown styles=======*/

#FolderList_chosen_chosen {
    width: 325px !important;
    text-align: left;
}

.chosen-single {
    height: 25px !important;
}

.chosen-results {
    height: 200px !important;
    li {
        font-family: proxima-nova,Helvetica,Arial,sans-serif;
    }
}

.file-upload-name {
    width: 175px;
    word-wrap: break-word;
}

/* Client Portal */
.view-cp-requests-link-container {
    text-align: center;
    padding: 0.5em;
}

#ViewEditRelatedDocumentsTable {
    width: 100%;
}

.doc-settings-table {
    margin-left: 85px;
    padding-bottom: 30px;
}

.sw-table-search-container {
    input {
        width: 285px;
        height: 27px;
    }
}

.document-library-checkbox {
    margin-left: 12px !important;
}

.remove-document-border {
    border-right: none !important;
}


.swtable th.sortable-column {
    & {
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
    }

    &::after {
        display: none;
    }

    &::before {
        content: "\000020";
        display: block;
        height: 9px;
        margin: 0 0 4px -5px;
        font-size: 0;
        line-height: 0;
        text-align: center;
        background: #ddd no-repeat url("/images/analyst/icons/1x/sortarrow_unsorted.gif") 50% 50%;
    }

    &.sort-asc::before {
        background-image: url("/images/analyst/icons/1x/sortarrow_asc.gif");
    }

    &.sort-desc::before {
        background-image: url("/images/analyst/icons/1x/sortarrow_desc.gif");
    }
}

.custom-combo-box-options {
    z-index: 1000;
    height: 250px !important;
}

.swtable {
    .chosen-drop {
        width: 337px;
    }
    .chosen-single {
        width: 225px;
    }
}

.action-bar-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2F2F2;
  min-width: 160px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.action-bar-dropdown:hover .dropdown-content {
  display: block;
}

