@import "modules/vars";
@import "../../fonts/swfonts";

select.scenario-select {
	width: 200px;
	margin-top: 2px;
}

#basicLoanInformationSection table td:first-child {
	width: 190px;
}

#basicLoanInformationSection table td {
	width: 180px;
}

h4.results-section-title, h4.loan-info-table-title {
	font-size: 15px;
	color: #505050;
	letter-spacing: 2px;
	font-weight: 500;
	margin: 25px 0 10px 50px;
}

h4.loan-info-table-title {
	text-align: left;
	margin-left: 180px;
}


h4.results-section-title {
	position: relative;
	left: -160px;
}

.sw-app input[type=text].under-target {
	background-color: #F3CCCC !important;
}

.ScrollingContainer .swtable {
	table-layout: fixed;
	width: 60%;
}

.ScrollingContainer {
	padding-bottom: 20px;
	margin-bottom: -20px;
}

.scenarios-header {
	width: 540px;
	margin-left: auto;
	margin-right: auto;
}

.relationship-table td {
	width: 155px;
}

.relationship-table td:first-child,
.results-table td:first-child {
	text-align: right;
}

.relationship-table td:last-child {
	width: 90px;
}

td.add-relationship-item-cell {
	text-align: center !important;
	background-color: #f2f2f2;
	padding-bottom: 30px !important;
}

td.add-relationship-item-cell .btn-link {
	padding: 0;
	outline: none;
}

td.add-relationship-item-cell .btn-link:hover {
	text-decoration: none;
}

.swtable.relationship-table td select {
	font-size: 12px;
}

.swtable.relationship-table td select option {
	font-size: 13px;
}

.lockable-field.locked {
		background-image: url(/images/analyst/icons/1x/lock.png);
		background-position: left;
		background-repeat: no-repeat;
		padding: 0px 15px 0px 3px;
		background-size: 16px 18px;
}

.results-table td:first-child {
	width: 255px;
}

.results-table td {
	width: 150px;
}

.results-table td:last-child {
	width: 135px;
}

#MetricsTable.results-table td:first-child {
	width: 180px;
}

#MetricsTable.results-table td:nth-child(2) {
	width: 75px;
}

.results-table .add-scenario-button {
	padding: 1px 4px 2px;
	border-width: 1px !important;
}

.results-table input.name-input {
	border-color: #fff !important;
	text-align: center !important;
	font-family: proxima-nova, Helvetica, Arial, sans-serif !important;
	font-size: 16px !important;
	padding-bottom: 4px !important;
}

.results-table input.name-input.edit-mode {
	border-color: #5091cd !important;
}

.results-table td.active-scenario {
	border-top: solid 3px #5091cd !important;
}

.results-table td input.interest-rate {
	font-weight: 600 !important;
	font-size: 16px !important;
}

.results-table select.loan-type-select {
	padding-left: 7px;
	padding-bottom: 0;
}

.results-table select.loan-type-select.smaller {
	font-size: 11px !important;
	padding-bottom: 1px;
}

.results-table select.loan-type-select option {
	font-size: 12px !important;
}

.product-results-summary-actions select.finalScenario {
	width: 87px;
}

.scroll-up-link a {
	position: relative;
	left: -20px;
}

.disabled-link {
	pointer-events: none;
	color: #777777;
}

.template-section-wrap {
	position: relative;
	padding: 10px 25px;
	margin-bottom: 30px;
	border: 1px solid $gray-lighter;

	&:not(.full-width) {
		max-width: 85%;
		margin-right: auto;
		margin-left: auto;
	}
}

.lp-setup-expand-link {
	width: 200px !important;
	position: absolute;
	top: 6px;
	line-height: 28px;
	right: 15px;
}

.lp-details-expand-link {
	height: 19px;
	padding-left: 0px;
}

.entity-expand-link {
	text-align: right;
	padding-right: 18px;
	background-image: url('//resources.sageworks.com/images/analyst/icons/1x/up-arrow.png');
	background-repeat: no-repeat;
	background-position: right 0 center;
}

.entity-expand-link.collapsed {
	background-image: url('//resources.sageworks.com/images/analyst/icons/1x/down-arrow.png');
}

.lp-collapse-height {
	height: 10px;
}

.add-product-container {
	width: 143px;
	border: 1px solid #d5d5d5;
}

.delete-x {
	outline: none;
}

.pricing-analysis-details {
	.form-control {
		width: 250px;
	}

	textarea {
		width: 250px !important;
		height: 22px !important;
	}

	.left-column {
		width: 130px;
		text-align: left;
	}

	.right-column {
		width: 95px;
	}

	.swtable {
		margin: 5px 5px 5px 2px !important;
	}

	.table-container {
		border: 1px solid #d5d5d5;
		width: 750px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.expand-link-container {
		width: 100px !important;
	}
}

#opportunity-pricing-page {
	.has-sw-left-menu.fixed-menu .sw-menu-page-content {
		margin-left: 230px;
		width: 750px;
	}

	table.swtable.product-table {
		thead {
			tr > td:first-child {
				width: 240px;
			}

			tr:nth-child(1n+2) {
				td {
					background-color: white;
				}
			}
		}

		tr.product-table-row-label {
			td {
				padding-top: 0;
				padding-bottom: 0;
				line-height: 22px;
			}
		}

		tr.product-table-row-slim {
			.table-section-heading-label {
				padding-top: 0;
			}
		}

		td.table-section-heading {
			text-transform: lowercase;
			font-family: proxima-nova-sc-osf;
			font-size: 16px;
		}

		.table-section-heading-label {
			display: block;
			padding-top: 16px;
		}

		.target-header .table-section-heading-label {
			padding-right: 17px;
			font-size: 11px;
			font-weight: bold;
		}

		td {

			&:last-child {
				padding-right: 0;
			}

			select, input {
				height: 24px;
			}

			.coupled-dropdown {
				width: 65%;
			}

			.coupled-numeric {
				width: 33%;
			}

			span.calculated-field {
				/* we are forced to participate in the !important arms race due to an existing over-reach from analyst style set */
				color: #414141 !important;
			}

			.target-values {
				font-weight: bold;
				font-size: 12px;
			}
		}
	}

	table.swtable.product-table-results {
		thead.scenario-headings {
			& {
				outline: none;
			}

			tr {
				background-color: #fff;
			}

			th {
				background-color: transparent;
			}

			th:nth-of-type(1) {
				background-color: #fff;
				font-weight: normal;
				font-size: 12px;
			}

			th:nth-of-type(n+2) {
				vertical-align: bottom;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}

		thead.results-type-heading {
			td {
				background-color: inherit;
			}
		}

		tr.product-table-row-slim {
			.table-section-heading-label {
				padding: 2px 0;
			}
		}

		td:nth-of-type(n+2) {
			background-color: inherit;
			text-align: center;
		}

		td:nth-of-type(n+3) {
			border-left: 1px solid #ddd;
		}
	}

	h4.scenario-heading .delete-x {
		display: inline-block;
		background-size: 13px;
		margin-right: 2px;
		margin: 0px 2px -5px 0;
	}

	p.existing-message {
		margin: 0;
		text-align: center;
		font-size: 12px;

		.update-link-container {
			display: block;
			font-size: 13px;
			font-style: italic;
			padding-top: 3px;
		}
	}


	div.product-details {
		margin-top: 30px;
		min-height: 300px;
		border: solid 1px #ddd;
	}

	div.product-summary {
		margin: 10px 12px 40px;
		text-align: left;
	}

	span.section-title {
		font-size: 19px;
		font-weight: 700;
	}
}

.show-scenario-options-flyout {
	display: none;

	a {
		font-size: small;
	}

	ul {
		margin-bottom: 0px;
	}
}


div {
	&.push-product-data-list {
		padding-left: 20px;

		ul {
			list-style-type: disc;


			li {
				font-family: proxima-nova, Helvetica, Arial, sans-serif;
				margin-left: 40px;
			}
		}
	}
}

#scrolly-table {
    width: 750px;
    max-width: 750px;
    .half-width {
        width: 372px;
        max-width: 372px;
    }
    .swtable {
        td, th {
            &:nth-child(2) {
                z-index: 4;
            }
        }

        td {
            &:first-child {
                text-align: right;
            }
            &:nth-child(2) {
                background: white;
                text-align: right;
            }
        }
    }

    .fixed-table-header {
        max-width: 750px;
        width: 750px;
    }

    .fixed-table-header {

        &.active-scroll {
            margin-left: 116px;
        }
    }
}

div.scenarios-baseline-hide {
	.column-baseline {
		display: none;
	}
}

#current-profitability {
	.no-data-message {
		color: $brand-orange;
	}

	td, th {
		padding: 2px;
		vertical-align: middle;
	}

	td:first-child {
		text-align: center;
	}

	table {
		table-layout: fixed;

		&.outer-table {
			width: 980px;
		}

		&.inner-table {
			width: 780px;
		}
	}

	.label-column {
		width: 190px;

		&.text-left {
			text-align: left;
		}
	}

	.currency-column {
		width: 135px;
	}

	.percent-column {
		width: 85px;
	}

	.expand-column {
		width: 80px;
		text-align: right;

		&.left {
			text-align: left;
		}
	}

	.current-profitability-expanded-container {
		border: 1px solid $table-border-color;
		background-color: $table-bg-accent;
		margin-top: 2px;
		padding-bottom: 10px;
		padding-top: 10px;

		.line-of-business-text {
			width: 148px;
			display: inline-block;
			text-align: left;
			padding: 0px 5px 0px 5px;
		}
	}

	.loading {
		margin-top: 15px;
	}
}