$font-path: "https://resources.sageworks.com/fonts/webfonts";
$font-serif: "aleo";
$brand-blue: #5091cd;
$font-xbold: 800;
@import "../../fonts/swfonts";

.sw-three {
    width: 23%;
    min-height: 180px;
}

h4 {
    white-space: normal;
}

.disabledItem {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.settings-nav-icon {
    width: 110px;
}

.settings-loan-rate-sheet-popup {
	.large-text {
		font-size: 130%;
	}

	.description-readonly {
		max-width: 150px;
	}
}