@import 'modules/vars';
@import '../components/_file-download-link';

.standard-report, .loan-decisioning, .credit-memo {
	// Read Only
	.rs-read-only {
		.deleteCell, .Button {
			display: none;
			visibility: hidden;
		}
	}

	.no-data-message {
		text-align: center;
	}

	.memo-setup {

		.formatting-container {
			text-align: left;
			padding-left: 200px;

			.styled-select {
				select {
					width: auto;
				}
			}

			.radio-label {
				padding-right: 20px;
				width: 300px;
				text-align: right;
				display: inline-block;
				vertical-align: top;
				margin-top: 10px;
			}


			div.radio-button-container {
				margin-left: 20px;
				display: inline-block;

				.radio {
					display: block;
				}
			}

			label {
				width: auto;
			}
		}

		.setup-label {
			padding-right: 20px;
			width: 160px !important;
			text-align: right;
			display: inline-block !important;
			vertical-align: top;
		}



		section {
			margin-top: 20px;
		}

		label, .form-control {
			width: 300px;
		}

		#SettingsSelection label {
			width: auto;
		}
	}

	.memo-setup, .standard-credit-memo {

		.form-group {
			label {
				text-align: right;
				display: block;
				margin-bottom: 0px;
			}
		}

		.scm-add-new-table {
			margin: 6px 0 !important;
			background-color: #EEE;
			width: 100%;

			tbody {
				float: left;
			}
		}

		.financial-data {
			tr:first-child {
				background-color: #f9f9f9 !important;
			}

			tbody {
				border-bottom: 15px solid white;
			}

			th {
				padding-left: 25px !important;
				padding-right: 25px !important;
				min-width: 125px;
			}
		}
	}

	.memo-selection {
		.swtable .data-row-cell {
			text-align: center;
        }
    }

    .standard-credit-memo {

        .form-control {
			width: 300px;
		}

		.entity-name {
			font-size: 24px;
		}

		.scm-section {
			margin-top: 10px;
			clear: both;

			.remove-custom-section {
				margin: 10px -30px 10px 10px;
				font-family: Aleo;
				font-style: italic;
				font-size: .9em;
				display: inline-block;
			}
		}

		.scm-section-header {
			display: inline-block;
			position: relative;

			&:hover {
				&:not(.scm-read-only) {
					background: #e1ecf7;
				}
			}

			div {
				display: inline-block;
				float: left;
				width: 20px !important;
				height: 40px;

				img {
					width: 15px;
					height: 10px;
				}

				div {
					display: inline;
					height: 20px;
					width: 20px;
					background: #fff;
				}
			}

			h3 {
				float: left;
			}

			input {
				&[type=checkbox] {
					float: left;
					margin: 15px !important;
				}

				&[type=text] {
					float: left;
					font-weight: 300;
					font-size: 32px;
					color: #333;
					letter-spacing: .05em;
					border: solid 1px white;
					padding: 2px 9px 0px 8px;
					width: 750px;
					vertical-align: center;

					&:focus, &:hover {
						border: solid 1px black;
					}

					&:disabled {
						background-color: white;
						border: solid 1px white;
					}
				}
			}

			h3 {
				padding: 0px 10px;
				text-align: left;
				margin: 0;
			}

			&.export-header {
				border-top: solid 1px black;
				border-bottom: solid 1px black;
			}
		}

		.scm-data-container {
			background-color: #EEE;
			float: left;
			padding: 5px 10px;
			text-align: left;
			width: 100%;

			&.export-container {
				background-color: #FFF;
			}
		}

		.scm-exposure {
			margin-left: 5px;

			thead {
				margin-bottom: 3px;
				padding-bottom: 3px;
				border-bottom: 1px solid black;

				.scm-field-label {
					font-weight: bold;
					text-align: left;
				}
			}

			tbody {
				.bold {
					font-weight: bold;
				}

				td {
					padding: 2px;
					text-align: right;

					.scm-field-value {
						max-width: 135px;
						word-wrap: break-word;
						text-align: right;
					}
				}

				.col_0 {
					text-align: left;
				}
			}
		}

		.scm-farm-cash-flow {
			margin-left: 5px;
		}

		.scm-two-column {
			display: inline-block;
			width: 100%;

			.scm-field-label, .scm-field-value {
				&:not(.scm-field-with-colspan) {
					width: 225px;
				}
			}

			.scm-field-with-colspan {
				word-wrap: break-word;

				&:not(.two) {
					width: 675px;
				}

				&.two {
					width: 215px;
				}
			}

			.two-column-empty-row {
				display: none;
			}
		}

		.scm-field-delete {
			width: 15px;
		}

		.scm-field-label {
			padding: 2px 5px 2px 10px !important;
			text-align: left;

			input {
				width: 100%;
			}

			select {
				margin-left: auto !important;
				direction: rtl;
				padding-right: 22px !important;

				option {
					direction: ltr;
				}
			}
		}

		.scm-field-value {
			padding: 2px 5px;
			text-align: left;

			textarea {
				width: 100%;
			}
		}

		.scm-subaccount-label, .scm-subaccount-value {
			font-size: 12px;
		}

		.scm-subaccount-label {
			padding-left: 5px;
		}

        table.scm-horizontal-table {
            margin-left: 0px;

			.scm-horizontal-field-label {
				position: relative;
				padding: 2px 20px;
				text-align: center;
				font-weight: bold;
				max-width: 250px;
				vertical-align: middle;

				label {
					font-weight: bold;
				}

				.scm-field-delete {
					position: absolute;
					left: 0px;
					top: 0px;
				}
			}

			colgroup {
				col {
					border: 1px solid transparent;
					margin: 5px;
				}
			}
		}

		.scm-financial-header, .scm-table-header {
			td:not(.custom-field) {
				font-weight: bold;
				border-bottom: solid 1px black;
				max-width: 150px;
			}

			.totals-label {
				text-align: center;
			}

			.totals-delete {
				cursor: pointer;
			}
		}

		.scm-financial-statement, .scm-vertical-table {
			margin-left: 5px !important;

			.scm-field-label {
				width: 200px;
			}

			.scm-field-value {
				text-align: right;
				word-break: normal;
				word-wrap: break-word;
				max-width: 135px;
			}
		}

		.key-metrics-table {
			width: 700px;

			.scm-field-value, .scm-field-label {
				text-align: right;
			}

			.scm-field-value {
				width: 25%;
			}

			.scm-field-label {
				width: 55%;
			}

			.key-metrics-entity-header {
				text-align: center;
				font-weight: bold;
				font-size: 1.2em;
				padding: 5px;
			}

			.key-metrics-column-header td {
				font-weight: bold;
				text-align: center;
			}
		}

		.scm-field-value-right {
			text-align: right !important;
		}

		.readonly-toggle {
			a:focus {
				color: #5091cd;
			}
		}

		.progress-tabs {
			margin: 0px 0px 10px;

			td {
				a {
					border-right-color: #eee;
					padding: 0 15px;
					border-right-width: 1px;
				}

				&.active a {
					background: transparent;
				}
			}
		}
	}

	.sw-flyout-container {
		.flyout-close {
			background: url(//resources.sageworks.com/images/analyst/icons/1x/x.png);
			background-size: 100% 100%;
		}
	}

	.add-standard-fields-flyout, .add-custom-subsection-flyout, .add-farm-production-flyout {
		.entity-type-heading {
			font-weight: bold;
			font-size: 1.3em;
			border-bottom: solid 1px #CCC;
		}

		.subsection-heading {
			font-weight: bold;
			margin: 4px 2px;
		}

		li {
			padding: .2em .3em;
			border: solid 1px #FFF;

			&:hover {
				border-style: solid;
				border-color: #d5d5d5;
				color: #295e8e;
				cursor: pointer;
			}
		}
	}

	.add-proposed-fields-flyout {
		.entity-type-heading {
			font-weight: bold;
			font-size: 1.3em;
			border-bottom: solid 1px #CCC;
		}

		.subsection-heading {
			font-weight: bold;
			margin: 4px 2px;
		}

		li {
			padding: .2em .3em;
			border: solid 1px #FFF;

			&:hover {
				border-style: solid;
				border-color: #d5d5d5;
				color: #295e8e;
				cursor: pointer;
			}
		}
	}

	.scm-custom-fields-table {

		.scm-field-label {
			width: 240px;
		}

		.scm-field-value {
			width: 705px;

			pre {
				white-space: pre-wrap;
				font-family: inherit;
				display: block;
				background: none;
				border-style: none;
				font-size: inherit;
				font-weight: normal;
				word-break: normal;
			}
		}
		.custom-field pre {
			margin-bottom: 0px;
		}
	}

	input[type=checkbox] {
		background-color: transparent !important;
	}

	.navPathContainer {
		margin-top: -40px;
	}

	.fa-chevron-up {
		color: #5091cd !important;
	}

	.fa-chevron-down {
		color: #5091cd !important;
	}

	&.printer-friendly {
        tr, td, td div, td span, td label {
            page-break-inside: avoid;
        }
		div.scm-section-tables {
			display: block;
		}

		.decision-borrower-name {
			font-size: 18px;
		}

		.decision-review-header {
			font-weight: bold;
			font-size: 40px;
		}

		.scm-section-header {
			h4.no-transform-heading.section {
				font-size: 22px !important;
			}
		}

		.scm-table-header {
			h4 {
				font-size: 16px !important;
			}
		}

		.entity-name {
			font-size: 28px;
		}

		.scm-title {
			font-size: 22px;
		}

		.scm-field-label, .scm-field-value, .key-metrics-column-header {
			&, .ng-binding {
				font-size: 16px;
			}
		}

		.scm-field-label, .scm-two-column .sortable li table td:nth-child(2) {
			width: 185px !important;
		}
	}

	.standard-credit-memo.printer-friendly {

		.scm-two-column {
			text-align: left !important;
		}

		table {
			border-collapse: collapse;
			border-spacing: 0;
			border: 1px solid #bfbfbf;
			table-layout: fixed;
		}

		.scm-data-container {
			margin: 10px 0px;
			padding: 0;
		}


		.key-metrics-table {
			.scm-field-label {
				text-align: left;
			}
		}

		.scm-custom-fields-table {
			margin-top: 5px;
			margin-left: 0px;
			width: 700px;

			.scm-field-label {
				width: 200px !important;
			}

			.scm-field-value {
				text-align: left;
				width: 500px !important;
			}
		}

		.section-1, .section-5, .section-15 {
			.scm-custom-fields-table {
				.scm-field-label {
					width: 175px !important;
				}

				.scm-field-value {
					width: 525px !important;
				}
			}
		}

		.scm-two-column {
			width: 700px;
			margin-left: 0px;

			.scm-field-label, .scm-field-value {
				&:not(.scm-field-with-colspan) {
					width: 175px;
				}
			}

			.scm-field-with-colspan {
				width: 525px;
			}
		}

		table td {
			border: 1px solid #bfbfbf;
			font-size: 12.5px;
		}

		.scm-table-header {
			font-weight: bold;
		}

		.key-metrics-entity-header {
			font-size: 14.5px;
			text-align: center;
			font-weight: bold;
			padding: 10px;
		}

		.scm-financial-statement, .scm-vertical-table {
			.scm-field-label {
				width: 200px;
			}

			.scm-field-value {
				width: 100px;
			}
		}

		.key-metrics-table {
			margin-left: 0px;
		}

		.scm-financial-header, .scm-financial-sub-section, .scm-horizontal-field-header {
			font-size: 14.5px !important;
			font-weight: bold !important;
			padding: 2px;
		}

		.key-metrics-column-header, .scm-horizontal-field-label {
			font-size: 12.5px;
			font-weight: bold !important;
			text-align: center;
			padding: 10px;
		}

		html, body {
			font-family: "Helvetica", "sans-serif";
			font-size: 12.5px;
		}

		h3 {
			font-size: 18.5px !important;
			text-align: left;
			border-top: 1px solid;
			border-bottom: 1px solid;
			margin-top: 30px;
		}

		h4 {
			font-size: 18px;
			text-align: center;
		}

		#CustomerName {
			font-size: 24px;
			font-weight: bold;
			text-align: center;
		}
	}
}

.standard-report {

    #fancyConfirm_ok, #fancyConfirm_cancel {
        button {
            display: block !important;
        }
    }

    #wait_mask {
        background-color: #DDDDDD;
        opacity: 1;
    }


    .sortable-vertical-handle {
        max-width: 200px !important;
        min-width: 200px !important;
    }

    .scm-vertical-row .scm-field-value {
        min-width: 135px !important;
        max-width: 135px !important;
    }

    .ng-hide-add {
        display: none;
    }

    &.pdf-download .sw-app-main-content {
        width: 1000px !important;
    }

    .no-transform-heading {
        font-family: proxima-nova,Helvetica,Arial,sans-serif !important;
        text-transform: none !important;
        font-size: $font-size !important;

        &.section {
            font-weight: normal !important;
            font-size: $font-size-large !important;
        }
    }

    .standard-credit-memo {

        .entities-as-rows {
            .scm-field-label {
                max-width: 180px;
                word-break: break-word;
                font-weight: bold;
                width: auto;
            }
            .move-handle-placeholder {
                display: inline-block;
                width: 20px;
            }

            th.scm-field-value {
                div {
                    font-weight: normal;
                }

                text-align: left;
            }

            .scm-field-label, .sortable-vertical-handle {
                text-align: left;
                vertical-align: top;
                width: auto;
                max-width: 180px !important;
                min-width: 0 !important;
            }

            .scm-field-label {
                margin-left: 2px;
                margin-right: 2px;
            }

            tr:not(.unhoverable) {
                .sortable-horizontal-handle:not(.unhoverable) {
                    pointer-events: auto;

                    label {
                        cursor: move;
                    }
                }
            }


            .sortable-horizontal-handle.unhoverable {
                pointer-events: none;

                label {
                    cursor: default;
                }
            }

            .scm-field-move {
                margin-left: 28px;
            }

            tr.delete-btn-row {
                height: 0px;
            }

            th {
                .clickable-delete {
                    pointer-events: auto;
                    cursor: pointer;
                    margin-bottom: -54px;
                    position: absolute;
                }
            }

            th, td {
                padding-left: 2px !important;
                padding-right: 2px !important;
            }
            .template-totals-field {
                pointer-events: none;
                cursor: auto;
            }
        }

        .form-control {
            width: 350px;
        }

        .scm-section {
            margin-top: 5px;
            border: 2px solid #eee;
            max-height: 45px;
        }

        .scm-scroll-containment {
            max-width: 980px;

            .scm-comments {
                word-wrap: break-word;
                margin-right: 20px;
                margin-left: 20px;
            }
        }

        input[type=checkbox] {
            display: none;
            background: url("../../../images/analyst/icons/svg/square.svg") no-repeat;
        }

        input[type=checkbox] + label {
            background: url("../../../images/analyst/icons/svg/square.svg") no-repeat;
            position: absolute;
            left: 10px;
            top: 12px;
            height: 20px;
            width: 20px;
            cursor: pointer;
        }

        input[type=checkbox]:checked + label {
            background: url("../../../images/analyst/icons/svg/checked.svg") no-repeat;
        }

        .section-checked {
            background-color: #eee;
        }

        .section-unchecked {
            background-color: white;
        }


        .scm-section-tables {
            display: inline-block;
            margin: 5px;
            border: 1px solid #eee;
            width: calc(100% - 10px);

            .hovered {
                &:not(.scm-read-only) {
                    background: #e1ecf7;
                    cursor: move;
                }
            }
        }

        .scm-add-new-table {
            margin: 0 !important;
        }

        .scm-entity-type-header, .scm-entity-table-header {
            &:before {
                display: none;
            }

            &:not(.scm-read-only) {
                &:hover {
                    cursor: move;
                }
            }

            &:not(img):not(tr) {
                /*height: 45px;*/
                text-align: center;
                vertical-align: middle;
                width: 100%;
            }

            h4, div {
                display: inline-block;
            }

            .sortable-section-handle img {
                margin-top: 12px;
                margin-left: 40px;
                width: 19px !important;
                height: 19px !important;
            }

            &:hover:not(.unhoverable) {
                &:not(.scm-read-only) {
                    background: #e1ecf7;
                }
            }
        }

        .hds-global-header, .scm-entity-table-header {
            &:before {
                display: none;
            }

            &:not(img):not(tr) {
                /*height: 45px;*/
                text-align: center;
                vertical-align: middle;
                width: 100%;
            }

            h4, div {
                display: inline-block;
            }
        }

        .scm-section-header {
            &:not(.scm-read-only) {
                &:hover {
                    cursor: move;
                }
            }
        }

        .scm-section-header, .scm-table-header {
            .orientation-option {
                position: absolute;
                top: 12px;
                right: 10px;

                select {
                    width: auto;
                }
            }

            &:not(img):not(tr) {
                /*height: 45px;*/
                text-align: center;
                vertical-align: middle;
                width: 100%;
            }

            h4, div {
                display: inline-block;
            }

            .sortable-section-handle img {
                margin-top: 12px;
                margin-left: 40px;
                width: 19px !important;
                height: 19px !important;
            }

            input {
                &[type=checkbox] {
                    float: left;
                    margin: 15px !important;
                }

                &[type=text] {
                    width: 725px;
                    float: none;
                    padding: 0px;
                    color: #333;
                    margin-left: 45px;
                    font-family: proxima-nova-sc-osf,arial,sans-serif;
                    text-transform: lowercase;
                    font-size: 17px;
                    font-weight: 700;
                    letter-spacing: 2.5px;
                    text-align: center;
                    vertical-align: middle;
                    border: solid 1px #d5d5d5;
                }

                &:focus, &:hover {
                    border: solid 1px #d5d5d5 !important;
                }
            }
        }

        .scm-data-container {
            margin-top: -2px;
            margin-left: -2px;
            padding: 0px;
            border: 2px solid #EEE;
            background: #FFF !important;
            float: left;
            text-align: left;
            width: 980px;
            margin-bottom: 10px;

            &.export-container {
                background-color: #fff !important;
            }
        }

        .scm-two-column {
            width: 100%;
            text-align: left;

            .sortable {
                overflow: hidden;
                display: inline-block;
                width: 100%;
                float: left;
                list-style-type: none;

                li {
                    display: inline-block;
                    font-family: proxima-nova,Helvetica,Arial,sans-serif !important;
                    float: left;
                    padding: 0px 5px;
                    text-align: left;
                    vertical-align: top;

                    &:not(.sr-comments) {
                        width: 475px;
                    }

                    &.sr-comments {
                        width: 100%;

                        table {
                            margin-right: 0;
                            margin-left: 0;
                        }
                    }

                    &:hover:not(.unhoverable) {
                        &:not(.scm-read-only) {
                            background: #e1ecf7;
                        }
                    }

                    .scm-field-label, .scm-field-value {
                        &:not(.scm-field-with-colspan) {
                            display: inline-block;
                            clear: left;
                            width: 215px;
                        }
                    }

                    .two-column-empty-row {
                        display: none;
                    }

                    table {
                        td:nth-child(1) {
                            width: 20px;
                        }

                        td:nth-child(2):not(.two) {
                            width: 225px !important;
                        }

                        td:nth-child(3):not(.sr-comments) {
                            width: 225px !important;
                        }

                        td:nth-child(2) {


                            div {
                                width: inherit;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
        }

        .scm-field-delete {
            img {
                width: 18px;
                height: 18px;
            }

            width: 18px;
            height: 18px;
            margin: 0px 5px;
            text-align: center;
            vertical-align: middle !important;
        }

        .scm-field-label {
            padding: 2px 5px 2px 10px;
            text-align: left;

            select {
                margin-left: auto !important;
                direction: rtl;
                padding-right: 22px !important;

                option {
                    direction: ltr;
                }
            }
        }

        .scm-vertical-table, .key-metrics-table {
            .styled-select {
                select {
                    direction: ltr;
                }
            }

            th {
                word-wrap: normal;
            }

            tr:hover:not(.unhoverable) {
                &:not(.scm-read-only) {
                    background: #e1ecf7;
                }
            }

            td.scm-field-delete {
                cursor: pointer;
            }
        }

        .scm-vertical-row {
            .scm-field-value {
                max-width: 135px;
                word-wrap: break-word;
            }
        }

        .key-metrics-subsection-header {
            h4 {
                display: inline-block;
            }

            text-align: center;
            font-weight: bold;
            font-size: 1.2em;
            padding: 5px;
        }

        .scm-section-entity {
            text-align: center;
        }

        .scm-section-tables {
            .key-metrics-container {
                text-align: center;
            }

            &.scm-section-tables-templates {
                margin: 0px;
                border: none;
            }
        }

        .scm-custom-fields-table {
            margin: 5px;

            .scm-field-label {
                width: 200px;

                .sortable-entity-handle {
                    margin-right: 2px;
                }

                input, div {
                    width: 150px;
                    display: inline;
                    clear: left;
                }
            }

            .scm-field-value {
                max-width: 630px;
                word-wrap: break-word;

                div {
                    margin-left: 40px;
                }

                textarea {
                    min-height: 25px !important;
                    height: 25px;
                    max-width: 620px;
                }
            }

            .scm-editable-toggle {
                width: 110px;
                text-align: right;

                img {
                    cursor: pointer;
                }

                button {
                    width: 100px;
                }
            }
        }

        .scm-field-delete {
            img {
                width: 18px;
                height: 18px;
            }

            width: 18px;
            height: 18px;
            margin: 0px 5px;
            text-align: center;
            vertical-align: middle !important;
        }

        .scm-table-header {
            &:hover {
                &:not(.scm-read-only) {
                    background: #e1ecf7;
                    cursor: move;
                }
            }

            .scm-two-column {
                width: 100%;
                display: block;
                background-color: white !important;
                vertical-align: middle;

                .sortable-entity-handle {
                    display: inline-block;
                }

                .scm-field-value {
                    margin: -5px;
                    margin-bottom: 0px;
                    vertical-align: middle;
                    font-size: 1.5em;
                    display: inline-block;
                }
            }
        }

        .scm-financial-header {
            text-align: left;

            td {
                padding-left: 10px !important;
            }
        }


        .mini-section-container {
            margin: 5px;
        }

        .mini-section-container.editable {
            border: 1px solid #bbbbbb;
        }

        .mini-section-header-container {
            .scm-field-delete, .sortable-subsection-handle {
                width: 20px;
                height: 20px;
                margin-bottom: 5px;
                display: inline;
            }

            .mini-section-header {
                display: inline-block;
                width: 250px;
                font-size: 18px;
                text-align: center;

                input::placeholder {
                    color: #999;
                }
            }
        }

        .mini-section-header-container.editable {
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #bbb;

            input {
                border: 1px solid #bbb;
                text-align: center;
            }
        }

        .sortable-handle,
        .sortable-entity-handle,
        .sortable-horizontal-handle,
        .sortable-vertical-handle,
        .sortable-section-handle,
        .sortable-subsection-handle,
        .hds-draggable {
            img {
                width: 18px;
                height: 18px;
                margin: 0px 5px;
                vertical-align: middle;
            }

            &:not(.unhoverable) {
                cursor: move;
            }
        }

        .scm-field-label.sortable-vertical-handle, .scm-two-column .scm-field-label {
            .sortable-vertical-handle-icon, .sortable-handle {
                display: inline-block;
                float: left;
                vertical-align: middle;
            }
        }

        .sortable-vertical-handle-icon, .sortable-horizontal-handle-icon, .sortable-handle {
            &.vertical {
                display: inline-flex !important;
                text-align: left;
                word-wrap: break-word;

                span {
                    width: 110px;
                }

                img {
                    margin: auto 5px !important;
                    display: inline-block;
                    min-width: 18px;
                }

                &.sts {
                    max-width: 135px;
                    margin-right: 10px;

                    span {
                        word-wrap: break-word;
                    }
                }

                &.uad {
                    max-width: 265px;

                    span {
                        max-width: 200px;
                        word-wrap: break-word;
                    }
                }
            }
        }

        .scm-two-column .scm-field-label {
            div:nth-child(2) {
                width: 215px;
                display: inline-block;
                clear: left;
            }
        }


        .scm-field-label.sortable-vertical-handle {
            select {
                width: 270px;
            }
        }

        .sortable-horizontal-handle-icon img {
            pointer-events: none;
        }

        .sortable-horizontal-handle {
            padding: 0px !important;

            .sortable-horizontal-handle-icon div {
                width: 100px;
            }
        }

        .ui-sortable-helper {
            display: table;
            max-height: 50px;
            z-index: 5;
            box-shadow: 5px 5px 3px #777;

            &:not(.scm-read-only) {
                background: #e1ecf7;
                cursor: move;
            }

            &:not(.scm-section) {
                background-color: #e1ecf7;
            }

            .scm-custom-fields-table td {
                max-height: 40px;
                overflow: hidden;
            }

            .scm-custom-fields-table td div {
                max-height: 40px;
                overflow: hidden;
            }
        }

        .scm-sortable-placeholder {
            background-color: #eeeeee;
            margin: -2px;
            padding: 0px 0px;
            overflow: visible;
            height: 100%;
            cursor: move;
        }

        .sw-sortable-placeholder {
            background-color: #eeeeee;
            height: 50px;
            margin: 0px 0px;
            padding: 0px 0px;
            overflow: hidden;
            border-top: 5px solid white;
            border-bottom: 5px solid white;
        }

        .hds-sortable-placeholder {
            background-color: #eeeeee;
            height: 50px;
            margin: 0px 0px;
            padding: 0px 0px;
            overflow: hidden;
            border-top: 5px solid white;
            border-bottom: 5px solid white;
        }

        .historical-debt-service-container {
            .styled-select {
                select {
                    max-width: 200px;
                    direction: ltr;
                }
            }
        }

        .sw-container-helper {
            height: 400px;
            background-color: #00ff00;
        }

        .sortable-entity-placeholder {
            background-color: #eeeeee;
            min-height: 50px;
            margin: 0px 0px;
            padding: 0px 0px;
            overflow: hidden;
            border-top: 5px solid white;
            border-bottom: 5px solid white;
        }

        .dragtable-drag-wrapper {
            display: table;
            position: absolute;
            z-index: 1000;
            box-shadow: 3px 3px 1px #777;
            background: #e1ecf7;
            max-width: 118px;

            * {
                word-wrap: break-word;
                width: 118px;
            }
        }

        .dragtable-col-placeholder {
            background-color: #777;
            opacity: 0.0;
            visibility: hidden;
        }
    }

    .always-unhoverable {
        background: none !important;
        border: none !important;
        outline: none !important;
        cursor: default;
    }

    .unhoverable {
        pointer-events: none;
    }

    .allow-click {
        pointer-events: auto;
        cursor: pointer;
    }

    .sortable-column-hover:not(.unhoverable) {
        &:not(.scm-read-only) {
            background: #e1ecf7;
        }
    }

    .sortable-hover:not(.unhoverable) {
        background: white;
    }

    ul.sortable {
        padding: 2px !important;
    }

    .standard-credit-memo.printer-friendly {
        text-align: left;
        margin: 0px;
        padding: 0px;
        font-size: 12.5px;

        .scm-comments {
            text-align: center;
        }

        .section-1, .section-5, .section-15 {
            td {
                width: 200px;
            }

            .scm-custom-fields-table {
                width: 100%;

                .scm-field-label {
                    width: 175px !important;
                }

                .scm-field-value {
                    width: 600px !important;
                }
            }
        }

        .scm-section {
            background: #fff;
            border: none;
            outline: none;
        }

        .scm-section-entity {
            text-align: left !important;
        }

        .scm-data-container {
            list-style: none;
            border: none;
            outline: none;
            background-color: #fff;
            width: 100%;
        }

        h4 {
            font-size: 18.5px !important;
            text-align: center;
            margin-top: 30px;

            &:not(.scm-title) {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        }

        .export-entity-header {
            text-transform: none;
            font-size: 14.5px !important;
            text-align: center;
            margin-top: 30px;
            font-weight: bold;
        }

        table th {
            border: 1px solid #bfbfbf;
            font-size: 12.5px !important;
        }
    }

    .top-left {
        text-align: left;
    }

    .top-center {
        text-align: center;
    }

    .top-right {
        text-align: right;
    }

    #BankLogo {
        max-height: 100px;
    }


    .edit-templates {
        input[type=radio] {
            margin: 0 6px 2px 0;
            vertical-align: middle;
        }
    }
}