.choose-stress-factors {
	.apply-all-dropdown-options {
		margin-top: 20px;
		display: table;
		width: 100%;
		table-layout: fixed; /* For cells of equal size */
		span, select {
			display: table-cell;
		}

		span {
			text-align: right;
			padding-right: 5px;
		}

		select {
			text-align: left;
		}
	}

	.apply-to-selected {
		padding-top: 10px;
	}

	.view-all-link {
		text-align: center;
		padding: 10px 0px;
	}

	.mappings-table.swtable.datatableadapter {
		margin-top: 20px;
		.text-center {
			text-align: center;
		}
	}
}

.select-stress-test {
	.calculations-table {
		&.swtable.datatableadapter {
			td {
				text-align: center;
			}
		}
		width: 100%;
	}
}

.stress-testing-calculation-context {
	color: #888;
	font-size: 13px;
	font-weight: 400;
	height: 27px;
	line-height: 22px;
	width: 300px;
	padding-left: 8px;
}

.edit-stress-testing-scenario {
	width: 500px;
	margin: auto;

	.form-control {
		display: inline-block;
	}

	.edit-scenario-section {
		.edit-scenario-section-header {
			font-weight: bold;
			border-bottom: 2px solid;
			margin-bottom: 1%;
		}

		.edit-scenario-input-row {
			padding-left: 2%;
		}
	}

	.edit-scenario-input-row {
		padding: .5% 0% .5% 0%;

		label, .form-control, select {
			width: 48%;
		}
	}
}

#ChooseLoans {
	#SearchFilters {		

		.hide-show-filters {
			display: none;
		}
	}
}